<?xml version="1.0" encoding="US-ASCII"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.cau.de/cs/kieler/RailSL"
			class = "de.cau.cs.kieler.railSL.RailSLPackage"
			genModel = "model/generated/RailSL.genmodel" />
	</extension>
 <extension
       point="de.cau.cs.kieler.kico.transformation">
    <productionTransformationClass
          class="de.cau.cs.kieler.railsl.RailSLTransformation">
    </productionTransformationClass>
 </extension>
 <extension
       point="de.cau.cs.kieler.kico.feature">
    <featureClass
          class="de.cau.cs.kieler.railsl.RailSL">
    </featureClass>
 </extension>
 <extension
       point="de.cau.cs.kieler.kicool.processor">
    <Processor
          class="de.cau.cs.kieler.railsl.RailSLWrapper">
    </Processor>
 </extension>
 <extension
       point="de.cau.cs.kieler.kicool.system">
    <TransformationSystem
          system="de.cau.cs.kieler.railsl.railSLSystem">
    </TransformationSystem>
 </extension>
</plugin>
