<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.sj.SJValidationSimulatorDataComponent"
            id="de.cau.cs.kieler.sj.validationsimulator"
            name="SJ Validation Simulator">
      </content>
   </extension>

</plugin>
