<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
      <view
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.xkev.views.EnvironmentView"
            icon="icons/view/kieler.png"
            id="de.cau.cs.kieler.xkev.views.EnvironmentView"
            name="KEV View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.xkev.extension.dataobserver.Example_03"
            id="de.cau.cs.kieler.xkev.extension.DataOberserver03"
            name="First EMF Example">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.xkev.extension.dataobserver.Example_04"
            id="de.cau.cs.kieler.xkev.extension.DataOberserver04"
            name="Watertank (Move Demo)">
      </content>
   </extension>

</plugin>
