
@Transformation DURING
scchart DuringAction {
  input bool I;
  output bool O;

  initial state A {

    initial state A0
    --> A1;

    final state A1;

    region _During:

    initial state _I
    --> _I / O = true;

    region _During2:

    initial state _I
    --> _S immediate / O = true;

    state _S
    --> _I;

    region _During3:

    initial state _I
    --> _I with I / O = true;

    region _During4:

    initial state _I
    --> _S immediate / O = false;

    state _S
    --> _I;
  };
}