scchart simple {
  input bool I;
  output bool O;

  initial state R {

    final state E;

    initial state S
    --> _Depth;

    state _Depth
    --> E immediate with I
    --> S immediate;
  }
  >-> _S;

  state _S
  --> R immediate with / O = O || true;

  region _During:

  initial state _I
  --> _S immediate with / O = false;

  state _S
  --> _I;
}