scchart _100_local_signal_trap_immediate_dependency
"100-local-signal-trap-immediate-dependency" {
  output bool T;
  input bool I;
  output bool O1;
  output bool O2;
  output bool O3;
  output bool O4;
  bool _trig;

  region R0:

  initial state F {

    region _Entry:

    state _Main {

      region R0:

      state _Depth2
      --> _Depth4 immediate with / O3 = O3 || true;

      state _Depth4
      --> _Aborted immediate with _trig
      --> _Pause4 immediate;

      final state _Aborted;

      state _Depth3
      --> _S2 immediate with / T = T || true;

      state _S2
      --> _Depth2 immediate with / O2 = O2 || true;

      initial state A
      --> _Depth;

      state _Depth
      --> _Depth3 immediate with I
      --> _S4 immediate;

      state _S4
      --> _Aborted immediate with _trig
      --> A immediate;

      state _Pause4
      --> _Depth4;

      region R1:

      state _Depth2
      --> _Aborted2 immediate with _trig
      --> _Pause2 immediate;

      final state _Aborted2;

      state _S
      --> _Depth2 immediate with / O1 = O1 || true;

      initial state D
      --> _Depth;

      state _Depth
      --> _S immediate with T
      --> _S3 immediate;

      state _S3
      --> _Aborted2 immediate with _trig
      --> D immediate;

      state _Pause2
      --> _Depth2;

      region _Ctrl:

      final state _Done;

      state _S
      --> _Done immediate with / _trig = true;

      initial state _Run
      --> _Depth;

      state _Depth
      --> _S immediate with T
      --> _Run immediate;
    }
    >-> _Done;

    initial state _Init
    --> _Main immediate with / _trig = false;

    final state _Done;
  }
  >-> _S immediate;

  state _S
  --> _Depth immediate with / O4 = O4 || true;

  state _Depth
  --> _Depth;

  region _During:

  state _S
  --> _Depth;

  initial state _Depth
  --> _S3 immediate with / T = false;

  state _S3
  --> _S4 immediate with / O1 = false;

  state _S4
  --> _S5 immediate with / O2 = false;

  state _S5
  --> _S6 immediate with / O3 = false;

  state _S6
  --> _S immediate with / O4 = false;
}