scchart _107_weakabort_hierarchy_anomaly "107-weakabort-hierarchy-anomaly" {
  input bool I;
  output bool O;
  output bool L;
  output bool O2;
  bool _trig;

  initial state A {

    region _Entry:

    state _Main {

      state _Depth2
      --> _Aborted immediate with _trig
      --> _Pause2 immediate;

      final state _Aborted;

      state _S
      --> _Depth2 immediate with / O = O || true;

      initial state B
      --> _Depth;

      state _Depth
      --> _S immediate with L
      --> _S3 immediate;

      state _S3
      --> _Aborted immediate with _trig
      --> B immediate;

      state _Pause2
      --> _Depth2;

      region _Ctrl:

      final state _Done;

      state _S
      --> _Done immediate with / _trig = true;

      initial state _Run
      --> _Depth;

      state _Depth
      --> _S immediate with I
      --> _Run immediate;
    }
    >-> _Done;

    initial state _Init
    --> _Main immediate with / _trig = false;

    final state _Done;
  }
  >-> _S immediate;

  state _S
  --> _S2 immediate with / L = L || true;

  state _S2
  --> _Depth immediate with / O2 = O2 || true;

  state _Depth
  --> _Depth;

  region _During:

  state _S
  --> _Depth;

  initial state _Depth
  --> _S3 immediate with / O = false;

  state _S3
  --> _S4 immediate with / L = false;

  state _S4
  --> _S immediate with / O2 = false;
}