scchart CountDelays {
  input bool I;
  output bool O;
  int _counter;

  initial state _ {

    region _Entry:

    initial state _Init
    --> _C immediate with / _counter = 0;

    final state _Done;

    state _C
    --> _S immediate with I
    --> _Done immediate;

    state _S
    --> _Done immediate with / _counter = -1;
  }
  >-> _Exit;

  state _S
  --> _Depth immediate with / O = O || true;

  state _Depth
  --> _Depth;

  state _Exit
  --> _Depth2;

  state _Depth2
  --> _S immediate with _counter == 3
  --> _Exit immediate;

  region _During:

  initial state _I
  --> _S immediate with / O = false;

  state _S
  --> _I;

  region _During2:

  initial state _Depth
  --> _S2 immediate with I
  --> _Pause immediate;

  state _S
  --> _Depth;

  state _S2
  --> _S immediate with / _counter = _counter + 1;

  state _Pause
  --> _Depth;
}