scchart SyncChart {
  input bool I;
  output bool O;

  initial state ^normal {
    bool L;

    state _S
    --> _Depth2 immediate with / O = O || true;

    initial state s1
    --> _Depth;

    state _Depth
    --> _S immediate with L
    --> s1 immediate;

    state _Depth2
    --> _Depth2;

    region:

    state _S
    --> _Depth2 immediate with / L = L || true;

    initial state s3
    --> _Depth;

    state _Depth
    --> _S immediate with I
    --> s3 immediate;

    state _Depth2
    --> _Depth2;

    region _During:

    initial state _I
    --> _S immediate with / L = false;

    state _S
    --> _I;
  };

  region _During:

  initial state _I
  --> _S immediate with / O = false;

  state _S
  --> _I;
}