scchart sequential_concurrent_hierarchy "sequential-concurrent-hierarchy" {
  output bool L1;
  bool L2;
  input bool I;
  input bool E;
  output bool O1;
  output bool O2;

  initial state _Depth
  --> _S immediate with L1
  --> _Pause immediate;

  state _S
  --> _Depth2 immediate with / L2 = L2 || true;

  state _Pause
  --> _Depth;

  state _Depth2
  --> _Depth2;

  region:

  initial state _Depth
  --> N immediate with !L1
  --> _Pause immediate;

  state _Pause
  --> _Depth;

  state N
  --> _Depth2;

  state _Depth2
  --> _Depth3 immediate with !L1
  --> N immediate;

  state _Depth3
  --> _Depth3;

  region:

  initial state M {

    initial state _Depth
    --> _Aborted immediate with E
    --> _S3 immediate;

    state _Depth2
    --> _Aborted immediate with E
    --> _S5 immediate;

    state _Depth3
    --> _Aborted immediate with E
    --> _S7 immediate;

    final state _Aborted;

    state _S
    --> _Depth2 immediate with / L1 = L1 || true;

    state _S2
    --> _Depth3 immediate with / O1 = O1 || true;

    state _S3
    --> _S immediate with I & !L1
    --> _S4 immediate;

    state _S4
    --> _Aborted immediate with L1
    --> _Pause immediate;

    state _Pause
    --> _Depth;

    state _S5
    --> _S2 immediate with L1
    --> _S6 immediate;

    state _S6
    --> _Aborted immediate with L1
    --> _Pause2 immediate;

    state _Pause2
    --> _Depth2;

    state _S7
    --> _Aborted immediate with L1
    --> _Pause3 immediate;

    state _Pause3
    --> _Depth3;
  }
  >-> _C;

  state _Depth
  --> _S immediate with L2
  --> _Pause immediate;

  state _C
  --> _Depth2 immediate with E
  --> _Depth immediate;

  state _S
  --> _Depth3 immediate with / O2 = O2 || true;

  state _Pause
  --> _Depth;

  state _Depth2
  --> _Depth2;

  state _Depth3
  --> _Depth3;

  region:

  initial state _Depth
  --> J immediate with !L2
  --> _Pause immediate;

  state _Pause
  --> _Depth;

  state J
  --> _Depth2;

  state _Depth2
  --> _Depth3 immediate with !L2
  --> J immediate;

  state _Depth3
  --> _Depth3;

  region _During:

  state _S
  --> _Depth;

  initial state _Depth
  --> _S3 immediate with / L1 = false;

  state _S3
  --> _S4 immediate with / L2 = false;

  state _S4
  --> _S5 immediate with / O1 = false;

  state _S5
  --> _S immediate with / O2 = false;
}