scchart S0 "TokenRingArbiter" {
  output bool T1;
  output bool T2;
  input bool InitialToken;

  state tt2
  --> _S;

  state _S
  --> t2 immediate with / T1 = T1 || true;

  initial state t2
  --> _Depth;

  state _Depth
  --> tt2 immediate with T2
  --> t2 immediate;

  region:

  initial state station1 {

    state tt1
    --> _S;

    state _S
    --> t1 immediate with / T2 = T2 || true;

    initial state t1
    --> _Depth;

    state _Depth
    --> tt1 immediate with T1 | InitialToken
    --> t1 immediate;
  };

  region _During:

  state _S
  --> _Depth;

  initial state _Depth
  --> _S3 immediate with / T1 = false;

  state _S3
  --> _S immediate with / T2 = false;
}