scchart DVDPlayer2 "DVDPlayer" {
  input bool POWER;
  input bool PLAY;
  output bool O;
  bool _trig;

  state On {
    bool _trig2;

    region _Entry:

    state _Main {

      initial state H {

        region _Entry:

        state _Main {

          initial state English
          --> _Aborted2 immediate with _trig2
          --> _Pause immediate;

          state German
          --> _Aborted2 immediate with _trig2
          --> _Pause2 immediate;

          state French
          --> _Aborted2 immediate with _trig2
          --> _Pause3 immediate;

          final state _Aborted2;

          state _Depth
          --> French immediate with / O = O || true;

          state _Depth2
          --> English immediate with / O = O || true;

          state _Depth3
          --> German immediate with / O = O || true;

          state _Pause
          --> _Depth;

          state _Pause2
          --> _Depth2;

          state _Pause3
          --> _Depth3;

          region:

          initial state PAUSE
          --> _S3 immediate with _trig2
          --> _Pause immediate;

          state Playing
          --> _S3 immediate with _trig2
          --> _Pause2 immediate;

          final state _S3;

          state _Pause
          --> _Depth;

          state _Depth
          --> Playing immediate with PLAY
          --> PAUSE immediate;

          state _Pause2
          --> _Depth2;

          state _Depth2
          --> PAUSE immediate with PLAY
          --> _S3 immediate;

          region _Ctrl2:

          final state _Done2;

          state _S
          --> _Done2 immediate with / _trig2 = true;

          initial state _Run2
          --> _Depth;

          state _Depth
          --> _S immediate with _trig
          --> _Run2 immediate;
        }
        >-> _Done;

        initial state _Init
        --> _Main immediate with / _trig2 = false;

        final state _Done;
      }
      >-> _Aborted immediate;

      final state _Aborted;

      region _Ctrl:

      final state _Done;

      state _S
      --> _Done immediate with / _trig = true;

      initial state _Run
      --> _Depth;

      state _Depth
      --> _S immediate with POWER
      --> _Run immediate;
    }
    >-> _Done;

    initial state _Init
    --> _Main immediate with / _trig = false;

    final state _Done;
  }
  >-> Off immediate;

  initial state Off
  --> _Depth;

  state _Depth
  --> On immediate with POWER
  --> Off immediate;

  region _During:

  initial state _I
  --> _S immediate with / O = false;

  state _S
  --> _I;
}