scchart _151_pre_referenced_signals_no_signal_dependency
"151-pre-referenced-signals-no-signal-dependency" {
  output bool O;
  input bool I;
  output bool B;
  output bool O2;
  output bool preB;
  output int B_val;
  int B_curval;
  output int preB_val;
  int preB_curval;
  bool _pre_B;
  bool _reg_B;
  int _pre_B_val;
  int _reg_B_val;

  region Region:

  state EB {

    initial state _Depth
    --> _S immediate with !_pre_B
    --> _S2 immediate;

    state _Depth2
    --> _Aborted immediate with true
    --> _Pause2 immediate;

    final state _Aborted;

    state _S
    --> _Depth2 immediate with / O = O || true;

    state _S2
    --> _Aborted immediate with true
    --> _Pause immediate;

    state _Pause
    --> _Depth;

    state _Pause2
    --> _Depth2;

    region:

    initial state _Depth
    --> _S immediate with _pre_B
    --> _S2 immediate;

    state _Depth2
    --> _Aborted2 immediate with true
    --> _Pause2 immediate;

    final state _Aborted2;

    state _S
    --> _Depth2 immediate with / O2 = O2 || true;

    state _S2
    --> _Aborted2 immediate with true
    --> _Pause immediate;

    state _Pause
    --> _Depth;

    state _Pause2
    --> _Depth2;
  }
  >-> _S3 immediate;

  state _S
  --> _S2 immediate with / B_curval = 2;

  state _S2
  --> B immediate with / B = B || true;

  state _S3
  --> _S4 immediate with / B_curval = 4;

  state _S4
  --> _Depth2 immediate with / B = B || true;

  initial state A
  --> _Depth;

  state _Depth
  --> _S immediate with I
  --> A immediate;

  state _Depth2
  --> _Depth2;

  state B
  --> _Depth3;

  state _Depth3
  --> EB immediate with I
  --> B immediate;

  region:

  state _S
  --> _S2 immediate with / preB_curval = _pre_B_val;

  state _S2
  --> PreB immediate with / preB = preB || true;

  initial state PreB
  --> _Depth;

  state _Depth
  --> _S immediate with _pre_B
  --> PreB immediate;

  region _Pre:

  state _Wait
  --> _S3;

  initial state _Depth
  --> _S2 immediate with / _reg_B = B;

  state _S2
  --> _Wait immediate with / _reg_B_val = B_val;

  state _S3
  --> _S4 immediate with / _pre_B = _reg_B;

  state _S4
  --> _Depth immediate with / _pre_B_val = _reg_B_val;

  region _During:

  state _S
  --> _Depth;

  initial state _Depth
  --> _S3 immediate with / O = false;

  state _S3
  --> _S4 immediate with / B = false;

  state _S4
  --> _S5 immediate with / O2 = false;

  state _S5
  --> _S immediate with / preB = false;

  region _During2:

  initial state _Depth
  --> _S2 immediate with B
  --> _Pause immediate;

  state _S
  --> _Depth;

  state _S2
  --> _S immediate with / B_val = B_curval;

  state _Pause
  --> _Depth;

  region _During3:

  initial state _I
  --> _S immediate with / B_curval = 0;

  state _S
  --> _I;

  region _During4:

  initial state _Depth
  --> _S2 immediate with preB
  --> _Pause immediate;

  state _S
  --> _Depth;

  state _S2
  --> _S immediate with / preB_val = preB_curval;

  state _Pause
  --> _Depth;

  region _During5:

  initial state _I
  --> _S immediate with / preB_curval = 0;

  state _S
  --> _I;
}