scchart hostcode {
  int x;
  output bool O;

  initial state init {

    region _Entry:

    initial state _Init
    --> _Done immediate with / '/* Host Code */';

    final state _Done;
  }
  >-> _Exit;

  state done {

    region _Entry:

    initial state _Init
    --> _Done immediate with / O = true;

    final state _Done;
  }
  >-> _Depth2;

  state _Exit
  --> increase;

  state _S3
  --> increase immediate with / x = 'x + 1';

  state increase
  --> _Depth;

  state _Depth
  --> done immediate with x > 3
  --> _S3 immediate;

  state _Depth2
  --> _Depth2;
}