scchart ^suspend {
  input bool I;
  output bool O;

  initial state A {
    bool _enabled;

    state _S
    --> B immediate with / O = O || true;

    initial state B
    --> _Depth;

    state _Depth
    --> _S immediate with _enabled
    --> B immediate;

    region _During:

    initial state _I
    --> _S immediate with / _enabled = true;

    state _S
    --> _I;

    region _During2:

    initial state _I
    --> _S;

    state _S
    --> _I immediate with / _enabled = _enabled && !I;
  };

  region _During:

  initial state _I
  --> _S immediate with / O = false;

  state _S
  --> _I;
}