scchart _46_initial_states_with_hierarchy3 "46-initial-states-with-hierarchy3" {
  output bool O;
  output bool ExitSetC;
  input bool I;
  input bool I2;
  bool _trig;
  bool _trig2;

  initial state A {

    region _Entry:

    state _Main {

      state _Depth
      --> _Aborted immediate with _trig || _trig2
      --> _Pause immediate;

      final state _Aborted;

      state _Depth2
      --> _Depth immediate with / ExitSetC = ExitSetC || true;

      state _Pause
      --> _Depth;

      initial state AA
      --> _Depth2;

      region _Ctrl:

      final state _Done;

      state _S
      --> _Done immediate with / _trig = true;

      state _S2
      --> _Done immediate with / _trig2 = true;

      initial state _Run
      --> _Depth;

      state _Depth
      --> _S immediate with I
      --> _S4 immediate;

      state _S4
      --> _S2 immediate with I2
      --> _Run immediate;
    }
    >-> _Done;

    initial state _Init
    --> _C immediate with / _trig = false;

    final state _Done;

    state _C
    --> _Main immediate with / _trig2 = false;
  }
  >-> _C;

  state _C
  --> _Depth immediate with _trig
  --> _Depth2 immediate;

  state _Depth
  --> _Depth;

  state _Depth2
  --> _Depth2;

  region ExitActionRegion17159221:

  state _S
  --> _Depth2 immediate with / O = O || true;

  initial state C
  --> _Depth;

  state _Depth
  --> _S immediate with ExitSetC
  --> C immediate;

  state _Depth2
  --> _Depth2;

  region _During:

  state _S
  --> _Depth;

  initial state _Depth
  --> _S3 immediate with / O = false;

  state _S3
  --> _S immediate with / ExitSetC = false;
}