scchart _50_initial_states_signal_dependencies3
"50-initial-states-signal-dependencies3" {
  output bool O;
  output bool R1;
  output bool R2;

  initial state A
  --> B;

  state B {

    initial state C
    --> _Depth immediate with / R1 = R1 || true;

    state _Depth
    --> _Depth;
  };

  region:

  initial state _Depth2
  --> _S immediate with R2
  --> _Pause2 immediate;

  state _S
  --> _Depth immediate with / O = O || true;

  state _Depth
  --> _Depth;

  state _Pause2
  --> _Depth2;

  region:

  state _Depth {

    initial state J
    --> _Depth immediate with / R2 = R2 || true;

    state _Depth
    --> _Depth;
  };

  initial state G2 "G"
  --> _Depth;

  region:

  initial state _Depth2
  --> _S immediate with R1
  --> _Pause2 immediate;

  state _S
  --> _Depth immediate with / O = O || true;

  state _Depth
  --> _Depth;

  state _Pause2
  --> _Depth2;

  region _During:

  state _S
  --> _Depth;

  initial state _Depth
  --> _S3 immediate with / O = false;

  state _S3
  --> _S4 immediate with / R1 = false;

  state _S4
  --> _S immediate with / R2 = false;
}