scchart Module_tcint_debug01 {
  output bool R;
  bool T;
  input bool haltTrap46;
  bool _term;

  region _Main:

  initial state _I {

    region _Entry:

    state _Main {

      state _Depth
      --> _S4 immediate with _term
      --> _Pause immediate;

      final state _S4;

      initial state _Depth2 {

        region R0:

        initial final state _Depth;

        region R1:

        initial state _Depth
        --> ParallelStatementList51state immediate with / R = R || true;

        state ParallelStatementList51state {

          region R0:

          initial state _Depth
          --> _Aborted3 immediate with (haltTrap46 || T) || _term
          --> _Pause2 immediate;

          state _Depth3
          --> _Aborted3 immediate with (haltTrap46 || T) || _term
          --> _Pause3 immediate;

          final state _Aborted3;

          state _Depth2
          --> _Depth3 immediate with / T = T || true;

          state _Pause2
          --> _Depth2;

          state _Pause3
          --> _Depth3;

          region R1:

          initial final state _Depth;
        }
        >-> _Aborted2 immediate;

        final state _Aborted2;
      }
      >-> _Depth3;

      state _Depth3
      --> _Depth immediate with haltTrap46
      --> _S3 immediate;

      state _S
      --> _S4 immediate with / _term = true;

      state _Pause
      --> _Depth;

      state _S3
      --> _S immediate with T
      --> _S4 immediate;

      region _During:

      state _S
      --> _Aborted immediate with _term
      --> _Pause2 immediate;

      final state _Aborted;

      initial state _Depth2
      --> _S3 immediate with / R = false;

      state _S3
      --> _S immediate with / T = false;

      state _Pause2
      --> _Depth2;
    }
    >-> _Done;

    initial state _Init
    --> _Main immediate with / _term = false;

    final state _Done;
  }
  >-> _F immediate;

  final state _F;
}