scchart _78_exit_actions_strongreset_outside
"78-exit-actions-strongreset-outside" {
  output bool X0;
  output bool Y0;
  input bool R;

  initial state M0 {

    region _Exit:

    final state _Done;

    state _Memorize
    --> _Done immediate with / Y0 = Y0 || true;

    initial state _Init
    --> _Depth;

    state _Depth
    --> _Memorize immediate with R
    --> _Init immediate;
  }
  >-> _ExitOption immediate;

  state _ExitOption
  --> M0 immediate with / X0 = X0 || true;

  region _During:

  state _S
  --> _Depth;

  initial state _Depth
  --> _S3 immediate with / X0 = false;

  state _S3
  --> _S immediate with / Y0 = false;
}