scchart _81_preemption_basic_test "81-preemption-basic-test" {
  input bool I;
  output bool O1;
  output bool O2;
  output bool O3;

  initial state A
  --> B;

  state B {

    final state _Aborted;

    state _S4
    --> D immediate with / O1 = O1 || true;

    state _S6
    --> C immediate with / O2 = O2 || true;

    initial state C
    --> _Depth;

    state _Depth
    --> _Aborted immediate with I
    --> _S4 immediate;

    state D
    --> _Depth2;

    state _Depth2
    --> _Aborted immediate with I
    --> _S6 immediate;
  }
  >-> _S immediate;

  state _S
  --> _Depth immediate with / O3 = O3 || true;

  state _Depth
  --> _Depth;

  region _During:

  state _S
  --> _Depth;

  initial state _Depth
  --> _S3 immediate with / O1 = false;

  state _S3
  --> _S4 immediate with / O2 = false;

  state _S4
  --> _S immediate with / O3 = false;
}