scchart Cabin {
  input bool Stop;
  input bool CabinStopped;
  input bool DoorIsOpen;
  input bool DoorOpen;
  input bool DoorSensor;
  input bool DoorIsClosed;
  input bool DoorClose;
  input bool TimerExpired;
  output bool StartOK;
  output bool OpenDoorMotorOff;
  output bool OpenDoorMotorOn;
  output bool StartTimer;
  output bool CloseDoorMotorOn;
  output bool CloseDoorMotorOff;

  region R0:

  initial state I
  --> Open immediate with / OpenDoorMotorOn = OpenDoorMotorOn || true;

  state S0 {

    region R0:

    initial state Initial
    --> S0 immediate with / StartTimer = StartTimer || true;

    final state S2;

    state _S
    --> S1 immediate with / CloseDoorMotorOn = CloseDoorMotorOn || true;

    state _S2
    --> S2 immediate with / StartOK = StartOK || true;

    state S0
    --> _Depth2;

    state _Depth2
    --> S2 immediate with DoorOpen || DoorSensor
    --> _S5 immediate;

    state _S5
    --> _S immediate with TimerExpired || DoorClose
    --> S0 immediate;

    state S1
    --> _Depth3;

    state _Depth3
    --> S2 immediate with DoorOpen || DoorSensor
    --> _S7 immediate;

    state _S7
    --> _S2 immediate with DoorIsClosed
    --> S1 immediate;
  }
  >-> _Depth4;

  state _Depth4
  --> _S2 immediate with DoorOpen || DoorSensor
  --> _S6 immediate;

  state _S
  --> S0 immediate with / OpenDoorMotorOff = OpenDoorMotorOff || true;

  state _S2
  --> I immediate with / CloseDoorMotorOff = CloseDoorMotorOff || true;

  state Open
  --> _Depth;

  state _Depth
  --> _S immediate with DoorIsOpen
  --> Open immediate;

  state S1
  --> _Depth2;

  state _Depth2
  --> S2 immediate with Stop
  --> S1 immediate;

  state S2
  --> _Depth3;

  state _Depth3
  --> I immediate with CabinStopped
  --> S2 immediate;

  state _S6
  --> S1 immediate with / CloseDoorMotorOff = CloseDoorMotorOff || true;

  region _During:

  state _S
  --> _Depth;

  initial state _Depth
  --> _S3 immediate with / StartOK = false;

  state _S3
  --> _S4 immediate with / OpenDoorMotorOff = false;

  state _S4
  --> _S5 immediate with / OpenDoorMotorOn = false;

  state _S5
  --> _S6 immediate with / StartTimer = false;

  state _S6
  --> _S7 immediate with / CloseDoorMotorOn = false;

  state _S7
  --> _S immediate with / CloseDoorMotorOff = false;
}