
@diagram[KLayLayered] false
@layout[direction] DOWN
@diagram[Declarations] false
scchart AbortsEnhanced {
  input bool S1toS2;
  input bool S2toS3;
  input bool S1trig;
  output bool S1act;
  input bool S2trig;
  output bool S2act;
  input bool W1trig;
  output bool W1act;
  input bool W2trig;
  output bool W2act;
  input bool N1trig;
  output bool N1act;
  input bool N2trig;
  output bool N2act;
  bool _termD;
  bool _trig;
  bool _trig2;
  bool _trig3;

  initial state M {

    region _Entry:

    state _Main {

      initial state S1
      --> S3 immediate with S2trig
      --> _S2 immediate;

      state S2
      --> S3 immediate with S2trig
      --> _S6 immediate;

      final state S3;

      state _S
      --> S3 immediate with / _termD = true;

      state _S2
      --> S3 immediate with ((_trig2 || W2trig) || _trig3) || N2trig && _termD
      --> _Pause immediate;

      state _Pause
      --> _Depth;

      state _Depth
      --> S3 immediate with S2trig
      --> _S4 immediate;

      state _S4
      --> S3 immediate with _trig
      --> _S5 immediate;

      state _S5
      --> S2 immediate with S1toS2
      --> _S2 immediate;

      state _S6
      --> S3 immediate with ((_trig2 || W2trig) || _trig3) || N2trig && _termD
      --> _Pause2 immediate;

      state _Pause2
      --> _Depth2;

      state _Depth2
      --> S3 immediate with S2trig
      --> _S8 immediate;

      state _S8
      --> S3 immediate with _trig
      --> _S9 immediate;

      state _S9
      --> _S immediate with S2toS3
      --> _S6 immediate;

      region _Ctrl:

      initial state _Run
      --> _Done immediate with S2trig
      --> _S4 immediate;

      final state _Done;

      state _S
      --> _Done immediate with / _trig = true;

      state _S2
      --> _Done immediate with / _trig2 = true;

      state _S3
      --> _Done immediate with / _trig3 = true;

      state _S4
      --> _Done immediate with W2trig
      --> _Pause immediate;

      state _Pause
      --> _Depth;

      state _Depth
      --> _S immediate with S1trig
      --> _S6 immediate;

      state _S6
      --> _Done immediate with S2trig
      --> _S7 immediate;

      state _S7
      --> _S2 immediate with W1trig
      --> _S8 immediate;

      state _S8
      --> _Done immediate with W2trig
      --> _S9 immediate;

      state _S9
      --> _S3 immediate with N1trig && _termD
      --> _S10 immediate;

      state _S10
      --> _Done immediate with N2trig && _termD
      --> _Pause immediate;
    }
    >-> _Done;

    initial state _Init
    --> _C immediate with / _termD = false;

    final state _Done;

    state _C
    --> _C2 immediate with / _trig = false;

    state _C2
    --> _C3 immediate with / _trig2 = false;

    state _C3
    --> _Main immediate with / _trig3 = false;
  }
  >-> _Depth7;

  state _Depth7
  --> _S immediate with _trig
  --> _S12 immediate;

  state _S
  --> _Depth immediate with / S1act = true;

  state _S2
  --> _Depth2 immediate with / S2act = true;

  state _S3
  --> _Depth3 immediate with / W1act = true;

  state _S4
  --> _Depth6 immediate with / W2act = true;

  state _S5
  --> _Depth4 immediate with / N1act = true;

  state _Depth
  --> _Depth;

  state _Depth2
  --> _Depth2;

  state _Depth3
  --> _Depth3;

  state _Depth4
  --> _Depth4;

  state _Depth5
  --> _Depth5;

  state _Depth6
  --> _Depth6;

  state _S12
  --> _S2 immediate with S2trig
  --> _S13 immediate;

  state _S13
  --> _S3 immediate with _trig2
  --> _S14 immediate;

  state _S14
  --> _S4 immediate with W2trig
  --> _S15 immediate;

  state _S15
  --> _S5 immediate with _trig3
  --> _S16 immediate;

  state _S16
  --> _Depth5 immediate with / N2act = true;
}