
@diagram[KLayLayered] false
@layout[direction] RIGHT
scchart AbortFinalStateNoTermination {
  input bool R;
  output bool O;
  output bool A;

  region Main " ":

  initial state S {

    final state F;

    state _S3
    --> F immediate with / O = true;

    initial state I
    --> _Depth;

    state _Depth
    --> F immediate with R
    --> _S3 immediate;

    region _Ctrl:

    final state _Done;

    initial state _Run
    --> _Depth;

    state _Depth
    --> _Done immediate with R
    --> _Run immediate;
  }
  >-> _S immediate;

  state _S
  --> _Depth immediate with / A = true;

  state _Depth
  --> _Depth;
}