
@diagram[KLayLayered] false
@VHLayout
scchart StrongAbort {
  input bool R;
  output int O;
  output int O2;
  bool _trig;

  initial state init {

    region _Entry:

    state _Main {

      initial state _Depth
      --> S immediate with / O ++;

      state S
      --> _Aborted immediate with _trig
      --> _Pause2 immediate;

      state _Depth3
      --> _Depth immediate with / O2 ++;

      final state _Aborted;

      state _Pause2
      --> _Depth3;

      region _Ctrl:

      final state _Done;

      state _S
      --> _Done immediate with / _trig = true;

      initial state _Run
      --> _Depth;

      state _Depth
      --> _S immediate with R
      --> _Run immediate;
    }
    >-> _Done;

    initial state _Init
    --> _Main immediate with / _trig = false;

    final state _Done;
  }
  >-> _S immediate;

  state _S
  --> _Depth immediate with / O = 0;

  state _Depth
  --> _Depth;
}