
@diagram[KLayLayered] false
@VHLayout
scchart StrongAbort {
  input bool R;
  output int O;
  output int O2;

  initial state init {

    initial state I
    --> S immediate with / O ++;

    state _S2
    --> I immediate with / O2 ++;

    final state _Aborted;

    state S
    --> _Depth2;

    state _Depth2
    --> _Aborted immediate with R
    --> _S2 immediate;
  }
  >-> _S immediate;

  state _S
  --> init immediate with / O = 0;
}