
@diagram[KLayLayered] false
@VHLayout
scchart CountDelayStrongAbort {
  input bool T;
  output bool A;
  output int O;
  int _counter;

  region _Entry:

  state _Main {

    initial state S1 {

      state _S4
      --> S12 immediate with / O ++;

      final state _Aborted;

      initial state _Init
      --> _C immediate with / _counter = 0;

      state _C
      --> _S immediate with T
      --> _S4 immediate;

      state _S
      --> _S4 immediate with / _counter = -1;

      state S12
      --> _Depth2;

      state _Depth2
      --> _Aborted immediate with _counter == 5
      --> _S4 immediate;
    }
    >-> _S immediate;

    state _S
    --> _Depth immediate with / A = true;

    state _Depth
    --> _Depth;

    region _During:

    initial state _Depth
    --> _S2 immediate with T
    --> _Pause immediate;

    state _S
    --> _Depth;

    state _S2
    --> _S immediate with / _counter = _counter + 1;

    state _Pause
    --> _Depth;
  }
  >-> _Done;

  initial state _Init
  --> _C immediate with / A = false;

  final state _Done;

  state _C
  --> _Main immediate with / O = 0;
}