
@diagram[KLayLayered] false
@VHLayout
scchart CountDelay {
  input bool T;
  output bool A;
  int _counter;

  region _Entry:

  state _Main {

    initial state S1 {

      region _Entry:

      initial state _Init
      --> _C immediate with / _counter = 0;

      final state _Done;

      state _C
      --> _S immediate with T
      --> _Done immediate;

      state _S
      --> _Done immediate with / _counter = -1;
    }
    >-> _Exit;

    state _S
    --> _Depth immediate with / A = true;

    state _Depth
    --> _Depth;

    state _Exit
    --> _Depth2;

    state _Depth2
    --> _S immediate with _counter == 5
    --> _Exit immediate;

    region _During:

    initial state _Depth
    --> _S2 immediate with T
    --> _Pause immediate;

    state _S
    --> _Depth;

    state _S2
    --> _S immediate with / _counter = _counter + 1;

    state _Pause
    --> _Depth;
  }
  >-> _Done;

  initial state _Init
  --> _Main immediate with / A = false;

  final state _Done;
}