
@diagram[KLayLayered] false
scchart DuringActionNoTermination {
  input bool T1;
  output bool A1;
  bool _term;

  region _Main:

  initial state _I {

    region _Entry:

    state _Main {

      initial state S1
      --> S2 immediate with _term
      --> _Pause immediate;

      final state S2;

      state _S
      --> S2 immediate with / _term = true;

      state _Pause
      --> _Depth;

      state _Depth
      --> _S immediate with T1
      --> S1 immediate;

      region _During:

      initial state _I
      --> _Aborted immediate with _term
      --> _Pause immediate;

      final state _Aborted;

      state _Depth
      --> _I immediate with / A1 += 1;

      state _Pause
      --> _Depth;
    }
    >-> _Done;

    initial state _Init
    --> _Main immediate with / _term = false;

    final state _Done;
  }
  >-> _F immediate;

  final state _F;
}