
@diagram[KLayLayered] false
@VHLayout
scchart EntryAction {
  output bool Ae2;

  state S1
  --> _C;

  final state S2;

  initial state _Init
  --> S1 immediate with / Ae2 = false;

  state _C
  --> S2 immediate with / Ae2 = true;
}