
@diagram[KLayLayered] false
@VHLayout
scchart EntryAction {
  output bool Ae1;
  output bool A1;

  state _Depth {

    region _Entry:

    initial state _Init
    --> _Done immediate with / Ae1 = true;

    final state _Done;
  }
  >-> _Exit;

  initial state _Init
  --> _C immediate with / Ae1 = false;

  state _C
  --> _Depth immediate with / A1 = false;

  state _Exit
  --> _S;

  state _S
  --> _Depth2 immediate with / A1 = true;

  state _Depth2
  --> _Depth2;
}