
@diagram[KLayLayered] false
@VHLayout
scchart EntryAction {
  output bool Ae1;

  state S1 {

    region _Entry:

    initial state _Init
    --> _Done immediate with / Ae1 = true;

    final state _Done;
  }
  >-> _Exit;

  initial state _Init
  --> S1 immediate with / Ae1 = false;

  state _Exit
  --> _Depth;

  state _Depth
  --> _Depth;
}