
@diagram[KLayLayered] false
@VHLayout
scchart ExitAction {
  output bool Ae1, A2;

  initial state S0
  --> S1;

  state S1 {

    region _Exit:

    final state _Done;

    initial state _Depth
    --> _Done immediate with / Ae1 = true;
  }
  >-> _ExitOption immediate;

  state _ExitOption
  --> _Depth immediate with / A2 = true;

  state _Depth
  --> _Depth;
}