
@Transformation ABORT
scchart ImmediateConditionalTermination {
  input bool I;
  output int O;
  bool _term;

  initial state A {

    region _Entry:

    state _Main {

      final state A1;

      initial state _Depth
      --> _S2 immediate with / O = 1;

      state _S2
      --> A1 immediate with / _term = true;

      region _Ctrl:

      initial state _Depth
      --> _Done immediate with I && _term
      --> _Pause immediate;

      final state _Done;

      state _Pause
      --> _Depth;
    }
    >-> _Done;

    initial state _Init
    --> _Main immediate with / _term = false;

    final state _Done;
  }
  >-> _S immediate;

  final state F;

  state _S
  --> F immediate with / O = 2;
}