scchart Counter {
  input bool start;
  output bool nc;
  bool _region0_end;
  input bool A;
  output bool done;
  bool _region0_B;
  bool _region0_C;
  bool _trig;

  region main:

  state Counting {

    region _Entry:

    state _Main {

      region bit1:

      initial state A1
      --> _Aborted immediate with _trig
      --> _Pause immediate;

      state A2
      --> _Aborted immediate with _trig
      --> _Pause2 immediate;

      final state _Aborted;

      state _S
      --> A1 immediate with / _region0_B = _region0_B || true;

      state _Pause
      --> _Depth;

      state _Depth
      --> A2 immediate with A
      --> A1 immediate;

      state _Pause2
      --> _Depth2;

      state _Depth2
      --> _S immediate with A
      --> A2 immediate;

      region bit2:

      initial state B1
      --> _Aborted2 immediate with _trig
      --> _Pause immediate;

      state B2
      --> _Aborted2 immediate with _trig
      --> _Pause2 immediate;

      final state _Aborted2;

      state _S
      --> B1 immediate with / _region0_end = _region0_end || true;

      state _Pause
      --> _Depth;

      state _Depth
      --> B2 immediate with _region0_B
      --> B1 immediate;

      state _Pause2
      --> _Depth2;

      state _Depth2
      --> _S immediate with _region0_B
      --> B2 immediate;

      region _Ctrl:

      final state _Done;

      state _S
      --> _Done immediate with / _trig = true;

      initial state _Run
      --> _Depth;

      state _Depth
      --> _S immediate with _region0_end
      --> _Run immediate;
    }
    >-> _Done;

    initial state _Init
    --> _Main immediate with / _trig = false;

    final state _Done;
  }
  >-> _S immediate;

  state _S
  --> NotCounting immediate with / done = done || true;

  initial state NotCounting
  --> _Depth;

  state _Depth
  --> Counting immediate with start
  --> NotCounting immediate;

  region _During:

  state _S
  --> _Depth;

  initial state _Depth
  --> _S3 immediate with / done = false;

  state _S3
  --> _S4 immediate with / nc = false;

  state _S4
  --> _S5 immediate with / _region0_B = false;

  state _S5
  --> _S6 immediate with / _region0_C = false;

  state _S6
  --> _S immediate with / _region0_end = false;
}