
@diagram[KLayLayered] false
scchart Pre {
  output int x;
  output int y;
  int _pre_x;
  int _reg_x;

  region _Entry:

  state _Main {

    initial state S
    --> _S;

    state _S
    --> _S2 immediate with / x = x + 1;

    state _S2
    --> S immediate with / y = _pre_x;

    region _Pre:

    initial state _Init
    --> _Wait immediate with / _reg_x = x;

    state _Wait
    --> _S;

    state _S
    --> _Init immediate with / _pre_x = _reg_x;
  }
  >-> _Done;

  initial state _Init
  --> _C immediate with / x = 0;

  final state _Done;

  state _C
  --> _C2 immediate with / y = 0;

  state _C2
  --> _C3 immediate with / _pre_x = 0;

  state _C3
  --> _Main immediate with / _reg_x = 0;
}