
@diagram[KLayLayered] false
scchart Static {
  output int OX;
  output int OY;
  int Static_region0_S2___x;

  state S1
  --> S2;

  state S2 {
    int y;

    state S21
    --> _S;

    final state S22;

    initial state _Init
    --> S21 immediate with / y = 42;

    state _S
    --> _S2 immediate with / Static_region0_S2___x ++;

    state _S2
    --> _S3 immediate with / y ++;

    state _S3
    --> _S4 immediate with / OX = Static_region0_S2___x;

    state _S4
    --> S22 immediate with / OY = y;
  }
  >-> S1;

  initial state _Init
  --> S1 immediate with / Static_region0_S2___x = 42;
}