
@diagram[KLayLayered] false
scchart StaticValuedSignal {
  output int OX;
  output int OY;
  bool StaticValuedSignal_region0_S2___x;
  int StaticValuedSignal_region0_S2___x_val combine +;
  int StaticValuedSignal_region0_S2___x_curval combine +;
  bool _pre_StaticValuedSignal_region0_S2___x;
  bool _reg_StaticValuedSignal_region0_S2___x;
  bool _term;
  bool _trig;

  region _Entry:

  state _Main {

    initial state S1
    --> S2;

    state S2 {
      bool y;
      int y_val combine +;
      int y_curval combine +;
      bool _pre_y;
      bool _reg_y;

      region _Entry:

      state _Main {

        final state S22;

        state _Depth
        --> _S2 immediate with / StaticValuedSignal_region0_S2___x_curval =
        StaticValuedSignal_region0_S2___x_curval +
        (_pre_StaticValuedSignal_region0_S2___x + 1);

        state _S2
        --> _S3 immediate with / StaticValuedSignal_region0_S2___x =
        StaticValuedSignal_region0_S2___x || true;

        state _S3
        --> _S4 immediate with / y_curval = y_curval + (_pre_y + 1);

        state _S4
        --> _S5 immediate with / y = y || true;

        state _S5
        --> _S6 immediate with / OX = StaticValuedSignal_region0_S2___x_val;

        state _S6
        --> _S7 immediate with / OY = y_val;

        state _S7
        --> S22 immediate with / _term = true;

        initial state S21
        --> _Depth;

        region _Pre2:

        initial state _Depth
        --> _Wait2 immediate with / _reg_y = y;

        state _Wait2
        --> _Aborted immediate with _trig
        --> _Pause2 immediate;

        final state _Aborted;

        state _Depth2
        --> _Depth immediate with / _pre_y = _reg_y;

        state _Pause2
        --> _Depth2;

        region _During:

        initial state _Depth2
        --> _S immediate with / y = false;

        state _S
        --> _Aborted2 immediate with _trig
        --> _Pause2 immediate;

        final state _Aborted2;

        state _Pause2
        --> _Depth2;

        region _During2:

        initial state _Depth2
        --> _S2 immediate with y
        --> _S3 immediate;

        state _S
        --> _Aborted3 immediate with _trig
        --> _Pause2 immediate;

        final state _Aborted3;

        state _S2
        --> _S immediate with / y_val = y_curval;

        state _S3
        --> _Aborted3 immediate with _trig
        --> _Pause immediate;

        state _Pause
        --> _Depth2;

        state _Pause2
        --> _Depth2;

        region _During3:

        initial state _Depth2
        --> _S immediate with / y_curval = 0;

        state _S
        --> _Aborted4 immediate with _trig
        --> _Pause2 immediate;

        final state _Aborted4;

        state _Pause2
        --> _Depth2;

        region _Ctrl:

        final state _Done;

        state _S
        --> _Done immediate with / _trig = true;

        initial state _Run
        --> _Depth;

        state _Depth
        --> _S immediate with _term
        --> _Run immediate;
      }
      >-> _Done;

      initial state _Init
      --> _C immediate with / _term = false;

      final state _Done;

      state _C
      --> _Main immediate with / _trig = false;
    }
    >-> S1 immediate;

    region _Pre:

    initial state _Init
    --> _Wait immediate with / _reg_StaticValuedSignal_region0_S2___x =
    StaticValuedSignal_region0_S2___x;

    state _Wait
    --> _S;

    state _S
    --> _Init immediate with / _pre_StaticValuedSignal_region0_S2___x =
    _reg_StaticValuedSignal_region0_S2___x;

    region _During:

    initial state _I
    --> _S immediate with / StaticValuedSignal_region0_S2___x = false;

    state _S
    --> _I;

    region _During2:

    initial state _Depth
    --> _S2 immediate with StaticValuedSignal_region0_S2___x
    --> _Pause immediate;

    state _S
    --> _Depth;

    state _S2
    --> _S immediate with / StaticValuedSignal_region0_S2___x_val =
    StaticValuedSignal_region0_S2___x_curval;

    state _Pause
    --> _Depth;

    region _During3:

    initial state _I
    --> _S immediate with / StaticValuedSignal_region0_S2___x_curval = 0;

    state _S
    --> _I;
  }
  >-> _Done;

  initial state _Init
  --> _C immediate with / StaticValuedSignal_region0_S2___x_val = 0;

  final state _Done;

  state _C
  --> _Main immediate with / StaticValuedSignal_region0_S2___x_curval = 0;
}