
@Transformation STATIC
scchart StaticVariableScopes {
  output int OXA;
  output int OXB;
  int StaticVariableScopes_region0_A___x;
  int StaticVariableScopes_region0_B___x;

  state _Depth2 {

    region _Exit:

    initial state _Init
    --> _Depth;

    final state _Done;

    state _Depth
    --> _S2 immediate with / StaticVariableScopes_region0_A___x =
    StaticVariableScopes_region0_A___x + 1;

    state _S2
    --> _Done immediate with / OXA = StaticVariableScopes_region0_A___x;
  }
  >-> _Depth immediate;

  state _Depth {

    region _Exit:

    initial state _Init
    --> _Depth;

    final state _Done;

    state _Depth
    --> _S2 immediate with / StaticVariableScopes_region0_B___x =
    StaticVariableScopes_region0_B___x - 1;

    state _S2
    --> _Done immediate with / OXB = StaticVariableScopes_region0_B___x;
  }
  >-> _Depth2 immediate;

  initial state _Init
  --> _C immediate with / StaticVariableScopes_region0_A___x = 100;

  state _C
  --> _Depth2 immediate with / StaticVariableScopes_region0_B___x = 200;
}