scchart AOSurprisingEnd {
  input bool A;
  output bool O;
  bool _term;

  region _Main:

  state _I {

    state wA {

      region _Entry:

      initial state _Init
      --> _Done immediate with / O = false;

      final state _Done;
    }
    >-> _Exit;

    state dA {

      initial state A
      --> _Aborted2 immediate with _term
      --> _Pause immediate;

      state _Depth2
      --> _Aborted2 immediate with _term
      --> _Pause2 immediate;

      final state _Aborted2;

      state _Depth
      --> _Depth2 immediate with / O = false;

      state _Pause
      --> _Depth;

      state _Pause2
      --> _Depth2;
    }
    >-> _Aborted immediate;

    final state _Aborted;

    initial state _Init
    --> wA immediate with / _term = false;

    state _Exit
    --> _Aborted immediate with _term
    --> _Pause immediate;

    state _S
    --> _S2 immediate with / O = true;

    state _S2
    --> dA immediate with / _term = true;

    state _Pause
    --> _Depth;

    state _Depth
    --> _S immediate with A
    --> _Exit immediate;
  }
  >-> _F immediate;

  final state _F;

  initial state _Init
  --> _I immediate with / O = true;
}