scchart Cabin {
  input bool I;
  input bool I2;
  input bool I3;
  output bool O1;
  output bool O2;
  output bool O3;
  bool _termD;
  bool _trig;

  state S1 {

    region _Entry:

    state _Main {

      final state S2;

      state _S
      --> _S2 immediate with / O1 = true;

      state _S2
      --> S2 immediate with / _termD = true;

      initial state S1
      --> _Depth;

      state _Depth
      --> S2 immediate with I2
      --> _S4 immediate;

      state _S4
      --> _S immediate with I
      --> _S5 immediate;

      state _S5
      --> S2 immediate with _trig
      --> S1 immediate;

      region _Ctrl:

      final state _Done;

      state _S
      --> _Done immediate with / _trig = true;

      initial state _Run
      --> _Depth;

      state _Depth
      --> _Done immediate with I2
      --> _S3 immediate;

      state _S3
      --> _S immediate with I3 && _termD
      --> _Run immediate;
    }
    >-> _Done;

    initial state _Init
    --> _C immediate with / _termD = false;

    final state _Done;

    state _C
    --> _Main immediate with / _trig = false;
  }
  >-> _Depth3;

  state _Depth3
  --> _S immediate with I2
  --> _S4 immediate;

  initial state _Init
  --> _C2 immediate with / O1 = false;

  state _C2
  --> _C3 immediate with / O2 = false;

  state _C3
  --> S1 immediate with / O3 = false;

  state _S
  --> _Depth immediate with / O2 = true;

  state _Depth
  --> _Depth;

  state _Depth2
  --> _Depth2;

  state _S4
  --> _Depth2 immediate with / O3 = true;
}