<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.s.sim.kivi.SVisualizationDataComponent"
            id="de.cau.cs.kieler.s.sim.kivi"
            name="S Visualization">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.instructions.provider">
      <provider
            class="de.cau.cs.kieler.s.sim.kivi.SInstructionsDataProvider">
      </provider>
   </extension>
</plugin>
