<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="perspective"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.cau.cs.kieler.krep.evalbench.ui.EvalBenchPerspective"
            icon="icons/logo16.gif"
            id="de.cau.cs.kieler.krep.evalbench.ui.perspective"
            name="Evaluation Bench">
      </perspective>
      <perspective
            class="de.cau.cs.kieler.krep.evalbench.ui.VerifyPerspective"
            id="de.cau.cs.kieler.krep.evalbench.ui.verify.perspective"
            name="Verify">
      </perspective>
      <perspective
            class="de.cau.cs.kieler.krep.evalbench.ui.TracePerspective"
            id="de.cau.cs.kieler.krep.evalbench.ui.traceperspective"
            name="Trace">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.cau.cs.kieler.krep.evalbench.ui.editors.KasmEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            default="true"
            extensions="kasm"
            icon="icons/kiel_file.gif"
            id="de.cau.cs.kieler.krep.evalbench.ui.editors.kasm"
            name="KASM Editor">
      </editor>
      <editor
            class="de.cau.cs.kieler.krep.evalbench.ui.editors.KrepEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            default="true"
            extensions="krp"
            icon="icons/kiel_file.gif"
            id="de.cau.cs.kieler.krep.evalbench.ui.editors.krep"
            name="KREP Editor">
      </editor>
      <editor
            class="de.cau.cs.kieler.krep.evalbench.ui.editors.KlpEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            default="false"
            extensions="klp"
            icon="icons/kiel_file.gif"
            id="de.cau.cs.kieler.krep.evalbench.ui.editors.klp"
            name="KLP Editor">
      </editor>
      <editor
            class="de.cau.cs.kieler.krep.evalbench.ui.editors.KitEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            default="false"
            extensions="kit"
            icon="icons/kiel_file.gif"
            id="de.cau.cs.kieler.krep.evalbench.ui.editors.kit"
            name="KitEditor">
      </editor>
      <editor
            class="de.cau.cs.kieler.krep.evalbench.ui.editors.LstEditor"
            contributorClass="org.eclipse.ui.part.EditorActionBarContributor"
            default="true"
            extensions="lst"
            id="de.cau.cs.kieler.krep.evalbench.ui.editors.lst"
            name="LST Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.cau.cs.kieler.krep.evalbench.ui.categories.evalBench"
            name="Evaluation Bench"
            parentCategory="de.cau.cs.kieler">
      </category>
      <view
            allowMultiple="false"
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.krep.evalbench.ui.views.ConnectionView"
            icon="icons/connection.gif"
            id="de.cau.cs.kieler.krep.evalbench.ui.views.connection"
            name="Connection">
      </view>
      <view
            allowMultiple="false"
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.krep.evalbench.ui.views.TargetView"
            icon="icons/krep.gif"
            id="de.cau.cs.kieler.krep.evalbench.ui.views.target"
            name="Target">
      </view>
      <view
            allowMultiple="false"
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.krep.evalbench.ui.views.InputView"
            icon="icons/input.gif"
            id="de.cau.cs.kieler.krep.evalbench.ui.views.input"
            name="Input">
      </view>
      <view
            allowMultiple="false"
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.krep.evalbench.ui.views.OutputView"
            icon="icons/output.gif"
            id="de.cau.cs.kieler.krep.evalbench.ui.views.output"
            name="Output">
      </view>
      <view
            allowMultiple="false"
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.krep.evalbench.ui.views.TraceView"
            id="de.cau.cs.kieler.krep.evalbench.ui.views.trace"
            name="Trace"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.krep.evalbench.ui.views.VerifyView"
            id="de.cau.cs.kieler.krep.evalbench.ui.views.verify"
            name="Verify"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.krep.evalbench.ui.views.MessageView"
            id="de.cau.cs.kieler.krep.evalbench.ui.views.message"
            name="Message">
      </view>
      <view
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.krep.evalbench.ui.views.AssemblerView"
            id="de.cau.cs.kieler.krep.evalbench.ui.views.assembler"
            name="Assembler View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.cau.cs.kieler.krep.evalbench.ui.EvalBenchPreferencePage"
            id="de.cau.cs.kieler.krep.evalbench.ui.preferences.evalbench"
            name="Evaluation Bench">
      </page>
      <page
            category="de.cau.cs.kieler.krep.evalbench.ui.preferences.evalbench"
            class="de.cau.cs.kieler.krep.evalbench.ui.ConnectionPreferencePage"
            id="de.cau.cs.kieler.krep.evalbench.ui.preferences.connection"
            name="Connection">
      </page>
      <page
            category="de.cau.cs.kieler.krep.evalbench.ui.preferences.evalbench"
            class="de.cau.cs.kieler.krep.evalbench.ui.VerifyPreferencePage"
            id="de.cau.cs.kieler.krep.evalbench.ui.preferences.verify"
            name="Verify">
      </page>
   </extension>

</plugin>
