<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kico.feature">
      <featureClass
            class="de.cau.cs.kieler.circuit.vhdl.feature.VHDL">
      </featureClass>
   </extension>
   <extension
         point="de.cau.cs.kieler.kico.transformation">
      <productionTransformationClass
            class="de.cau.cs.kieler.circuit.transformation.Circuit2VHDL">
      </productionTransformationClass>

   </extension>

</plugin>
