
@Transformation HISTORY
scchart HistoryTransition {
  input bool I;
  int _B = 0;

  initial state A
  --> B;

  state B {

    state B0 {
      entry / _B = 0;
    }
    --> B1;

    state B1 {
      entry / _B = 1;
    }
    --> B2;

    state B2 {
      entry / _B = 2;
    }
    --> B0;

    initial state _Init
    --> B0 immediate with _B == 0
    --> B2 immediate with _B == 2
    --> B1 immediate with _B == 1;
  }
  --> A with I;
}