<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.simplerailctrl.viewmanagement.StateObserver"
            id="de.cau.cs.kieler.simplerailctrl.viewmanagement.Observer"
            name="Simplerailctrl State View Management">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.viewmanagement.combination">
      <combination
            class="de.cau.cs.kieler.simplerailctrl.viewmanagement.StateCombination"
            name="View Management Combination">
      </combination>
   </extension>
   <extension
         point="de.cau.cs.kieler.viewmanagement.triggers">
      <trigger
            class="de.cau.cs.kieler.simplerailctrl.viewmanagement.StateTrigger"
            name="View Management Trigger">
      </trigger>
   </extension>
</plugin>
