<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated SCL -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.cau.cs.kieler.scl.scl.presentation.SclModelWizardID"
            name="%_UI_SclModelWizard_label"
            class="de.cau.cs.kieler.scl.scl.presentation.SclModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SclModelFile.gif">
         <description>%_UI_SclModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated SCL -->
      <editor
            id="de.cau.cs.kieler.scl.scl.presentation.SclEditorID"
            name="%_UI_SclEditor_label"
            icon="icons/full/obj16/SclModelFile.gif"
            extensions="scl"
            class="de.cau.cs.kieler.scl.scl.presentation.SclEditor"
            contributorClass="de.cau.cs.kieler.scl.scl.presentation.SclActionBarContributor">
      </editor>
   </extension>

</plugin>
