<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <action
            class="de.cau.cs.kieler.sccharts.ide.synthesis.actions.ReferenceExpandAction"
            id="de.cau.cs.kieler.sccharts.ide.synthesis.actions.ReferenceExpandAction">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.ide.synthesis.hooks.LabelShorteningHook"
            id="de.cau.cs.kieler.sccharts.ide.synthesis.hooks.LabelShorteningHook">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.ide.synthesis.hooks.LayoutHook"
            id="de.cau.cs.kieler.sccharts.ide.synthesis.hooks.LayoutHook">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.ide.synthesis.hooks.actions.MemorizingExpandCollapseAction"
            id="de.cau.cs.kieler.sccharts.ide.synthesis.hooks.actions.MemorizingExpandCollapseAction">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.ide.synthesis.hooks.actions.CollapseAllRegionsAction"
            id="de.cau.cs.kieler.sccharts.ide.synthesis.hooks.actions.CollapseAllRegionsAction">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.ide.synthesis.hooks.actions.ExpandAllRegionsAction"
            id="de.cau.cs.kieler.sccharts.ide.synthesis.hooks.actions.ExpandAllRegionsAction">
      </action>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.sccharts.ide.synthesis.SCChartsSynthesis"
            id="de.cau.cs.kieler.sccharts.ide.synthesis.SCChartsSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.sccharts.ide.synthesis.srtg.SRTGSynthesis"
            id="de.cau.cs.kieler.sccharts.idesynthesis.srtg.SRTGSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.sccharts.ide.synthesis.ScopeSynthesis"
            id="de.cau.cs.kieler.sccharts.ide.synthesis.ScopeSynthesis">
      </diagramSynthesis>
   </extension>

<!-- adding resource factories -->



    <!-- marker definitions for de.cau.cs.kieler.sccharts.text.SCTX -->

    <!-- Quick Outline -->
    <!-- quickfix marker resolution generator for de.cau.cs.kieler.sccharts.text.SCTX -->
    <!-- Rename Refactoring -->
   
</plugin>
