<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- xtext generated for ktrace grammar -->    
    
    

<!-- adding resource factories -->





    <!-- marker definitions for de.cau.cs.kieler.simulation.trace.KTrace -->

    <!-- Quick Outline -->
    <!-- quickfix marker resolution generator for de.cau.cs.kieler.simulation.trace.KTrace -->
    
    
    
    
    
<!-- USER STUFF -->    
    
    
    
<!--   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.cau.cs.kieler.simulation.ui.launch.SimulationLaunchShortcut"
            icon="icons/foerde-logo-16.png"
            id="de.cau.cs.kieler.simulation.ui.simulationLaunchShortcut"
            label="KIELER Simulation"
            modes="run, debug"
            path="/kieler">
         <contextualLaunch>
            <enablement></enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
    <extension
          point="org.eclipse.debug.ui.launchConfigurationTypeImages">
       <launchConfigurationTypeImage
             configTypeID="de.cau.cs.kieler.simulation.simulationLaunchConfig"
             icon="icons/foerde-logo-16.png"
             id="de.cau.cs.kieler.simulation.ui.simulationLaunchConfigTypeImage">
       </launchConfigurationTypeImage>
    </extension>
    <extension
          point="org.eclipse.debug.ui.launchConfigurationTabGroups">
       <launchConfigurationTabGroup
             class="de.cau.cs.kieler.simulation.ui.launch.SimulationLaunchConfigTabGroup"
             id="de.cau.cs.kieler.simulation.ui.simulationLaunchConfigTabGroup"
             type="de.cau.cs.kieler.simulation.simulationLaunchConfig">
       </launchConfigurationTabGroup>
    </extension>
-->
    
    <extension
          point="de.cau.cs.kieler.klighd.diagramSyntheses">
       <diagramSynthesis
             class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.simulation.ide.synthesis.SimulationContextSynthesis"
             id="de.cau.cs.kieler.simulation.ide.synthesis.SimulationContext">
       </diagramSynthesis>
    </extension>
</plugin>
