<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin> 
 <extension
       point="de.cau.cs.kieler.ksbase.configurations">
       		<configuration
               TransformationFile="transformations/feature.ext"
               checkVisibility="true"
               contextId="de.cau.cs.kieler.synccharts.diagram.ui.diagramContext"
               defautlIcon="icons/obj16/State.gif"
               editorId="de.cau.cs.kieler.synccharts.diagram.part.SyncchartsDiagramEditorID">
			<transformations>
				<transformation
          tooltip="Create a successor for the selected states"
          icon="icons/successor_state.gif"
          keyboardShortcut="M1+R S"
          name="Add Successor State"
          transformation="addSuccessorStates"
          transformationId="de.cau.cs.kieler.ksbase.addSuc"
          validation="isNoRootState">
				</transformation>
    <transformation
          icon="icons/successor_state.gif"
          name="Add Single Successor State"
          tooltip="Create a successor for the selected state"
          transformation="addSuccessorState"
          transformationId="de.cau.cs.kieler.ksbase.addSingleSuc"
          validation="isNoRootState">
    </transformation>
				<transformation
          tooltip="Create a predecessor for the selected state"
          icon="icons/predecessor_state.gif"
          keyboardShortcut="M1+R P"
          name="Add Predecessor State"
          transformation="addPredecessorState"
          transformationId="de.cau.cs.kieler.ksbase.addPred"
          validation="isNoRootState">
				</transformation>
				<transformation
          tooltip="Add a choice construct"
          icon="icons/choice.gif"
          keyboardShortcut="M1+R C"
          name="Add Choice"
          transformation="addChoice"
          transformationId="de.cau.cs.kieler.ksbase.addChoice"
          validation="isNoRootState">
				</transformation>
    <transformation
          icon="icons/upgrade.gif"
          keyboardShortcut="M1+R R"
          name="Add Region"
          tooltip="Add a region with an initial state "
          transformation="upgradeState"
          transformationId="de.cau.cs.kieler.ksbase.addRegion">
    </transformation>
    <transformation
          icon="icons/downgrade.gif"
          keyboardShortcut="M1+R D"
          name="Remove All Regions"
          tooltip="Removing all regions of the selected state"
          transformation="downgradeState"
          transformationId="de.cau.cs.kieler.ksbase.removeAllRegions"
          validation="isRegionState">
    </transformation>
    <transformation
          icon="icons/default.gif"
          name="Create State"
          tooltip="Creates a state in the target region. The created state is initial if the region was empty."
          transformation="addState"
          transformationId="de.cau.cs.kieler.synccharts.ksbase.addState"
          validation="isNoRootRegion">
    </transformation>
    <transformation
          icon="icons/connect.gif"
          keyboardShortcut="M1+R W"
          name="Connect States"
          tooltip="Connect both states"
          transformation="connectStates"
          transformationId="de.cau.cs.kieler.ksbase.connect"
          validation="isNoRootState,statesOnSameHierarchy">
    </transformation>
    <transformation
          icon="icons/self_loop.gif"
          keyboardShortcut="M1+R O"
          name="Add Self Loop"
          tooltip="Create a self loop for the selected state"
          transformation="addSelfLoop"
          transformationId="de.cau.cs.kieler.ksbase.selfLoop"
          validation="isNoRootState">
    </transformation>
    <transformation
          icon="icons/successor_state.gif"
          name="Insert State"
          tooltip="Inserts a sstate between source and target of the transition"
          transformation="insertState"
          transformationId="de.cau.cs.kieler.synccharts.ksbase.insertState">
    </transformation>
				<transformation
          tooltip="Flip source and target of the transition"
          icon="icons/flip.gif"
          keyboardShortcut="M1+R F"
          name="Flip Transition"
          transformation="flipTransition"
          transformationId="de.cau.cs.kieler.ksbase.flip">
				</transformation>
    <transformation
          icon="icons/reconnect_target.gif"
          keyboardShortcut="M1+R T"
          name="Set Transition Target"
          tooltip="Set the transition target to the selected state"
          transformation="rerouteTransitionTarget"
          transformationId="de.cau.cs.kieler.ksbase.rerouteTarget"
          validation="hasNoRootState">
    </transformation>
    <transformation
          icon="icons/reconnect_source.gif"
          keyboardShortcut="M1+R J"
          name="Set Transition Source"
          tooltip="Set the transition source to the selected state"
          transformation="rerouteTransitionSource"
          transformationId="de.cau.cs.kieler.ksbase.rerouteSource"
          validation="hasNoRootState">
    </transformation>
       <transformation
             tooltip="Create a new state and move all existing regions to the new one"
             icon="icons/encapsulate.gif"
             keyboardShortcut="M1+R E"
             name="Encapsulate Regions"
             transformation="encapsulateRegions"
             transformationId="de.cau.cs.kieler.ksbase.encapsulate">
       </transformation>
       <transformation
             tooltip="Moving all regions to the parent state and removing the selected state"
             icon="icons/flatten.gif"
             keyboardShortcut="M1+R X"
             name="Extract State"
             transformation="flattenState"
             transformationId="de.cau.cs.kieler.ksbase.flattenState">
       </transformation>
       <transformation
             icon="icons/encapsulate.gif"
             name="Encapsulate Region"
             tooltip="Move the selected region(s) into a new State and place that state into the regions parent."
             transformation="encapsulateRegion"
             transformationId="de.cau.cs.kieler.synccharts.ksbase.encapsulateRegion"
             validation="isNoRootRegion">
       </transformation>
       <transformation
             icon="icons/flatten.gif"
             name="Flatten Region"
             tooltip="Moves all states from the selected region to the next region in the hierarchy."
             transformation="flattenRegion"
             transformationId="de.cau.cs.kieler.synccharts.ksbase.flattenRegion"
             validation="isNoRootRegion">
       </transformation>
              <transformation
                    keyboardShortcut="M1+M2+R"
                    name="Rename a Signal or Variable (Refactor)"
                    tooltip="Refactor the name of a Signal or Variable. Will change all references in the scope to the new name."
                    transformation="renameSignalVariable"
                    transformationId="de.cau.cs.kieler.synccharts.ksbase.renameSignalVariable"
                    validation="hasSignalsVariables">
              </transformation>
              <transformation
                    name="Rename Signal"
                    tooltip="Rename the signal"
                    transformation="renameSignal"
                    transformationId="de.cau.cs.kieler.synccharts.ksbase.renameSignal">
              </transformation>
              <transformation
                    icon="icons/abro.gif"
                    name="Add ABRO"
                    tooltip="Create an ABRO SyncChart"
                    transformation="addABRO"
                    transformationId="de.cau.cs.kieler.ksbase.addABRO">
              </transformation>
              <transformation
                    icon="icons/default.gif"
                    name="Create Default"
                    tooltip="Create a default SyncChart"
                    transformation="createDefault"
                    transformationId="de.cau.cs.kieler.ksbase.createDefault"
                    validation="isRootRegion">
              </transformation>
              <transformation
                    icon="icons/quickfix_obj.gif"
                    name="Fix SyncChart"
                    tooltip="Fix the current SyncChart. This can be configured through the preference page."
                    transformation="fixSelected"
                    transformationId="de.cau.cs.kieler.ksbase.fixsyncchart">
              </transformation>
              <transformation
                    icon="icons/strongAbort.gif"
                    name="Strong abort"
                    tooltip="Transform transition into strong abortion"
                    transformation="setStrong"
                    transformationId="de.cau.cs.kieler.synccharts.ksbase.setStrong"
                    validation="canTurnIntoStrongAbort">
              </transformation>
              <transformation
                    icon="icons/weakAbort.gif"
                    name="Weak abort"
                    tooltip="Transform transition into weak abortion"
                    transformation="setWeak"
                    transformationId="de.cau.cs.kieler.synccharts.ksbase.setWeak"
                    validation="canTurnIntoWeakAbort">
              </transformation>
              <transformation
                    icon="icons/normalTermination.gif"
                    name="Normal termination"
                    tooltip="Transform transition into normal termination"
                    transformation="setNormalTermination"
                    transformationId="de.cau.cs.kieler.synccharts.ksbase.setNormalTermination"
                    validation="canTurnIntoNormalTermination">
              </transformation>
              <transformation
                    icon="icons/initialfinal.png"
                    keyboardShortcut="M1+R I"
                    name="Toggle Initial/Final"
                    tooltip="Normal -&gt; Final -&gt; Initial -&gt; InitialFinal -&gt; Normal"
                    transformation="toggleStateInitialFinal"
                    transformationId="de.cau.cs.kieler.synccharts.ksbase.toggleStateInitial"
                    validation="isNoRootState">
              </transformation>
			</transformations>
			<menus>
				<menuContribution locationURI="menu:de.cau.cs.kieler">
       <transformationCommand
             transformationId="de.cau.cs.kieler.ksbase.addSuc">
       </transformationCommand>
					<transformationCommand transformationId="de.cau.cs.kieler.ksbase.addPred"></transformationCommand>
					<transformationCommand transformationId="de.cau.cs.kieler.ksbase.addChoice">
					</transformationCommand>
     <separator
           id="de.cau.cs.kieler.synccharts.ksbase.separator1">
     </separator>
     <transformationCommand
           transformationId="de.cau.cs.kieler.ksbase.addRegion">
     </transformationCommand>
     <transformationCommand
           transformationId="de.cau.cs.kieler.ksbase.removeAllRegions">
     </transformationCommand>
     <transformationCommand
           transformationId="de.cau.cs.kieler.synccharts.ksbase.addState">
     </transformationCommand>
     <transformationCommand
           transformationId="de.cau.cs.kieler.synccharts.ksbase.toggleStateInitial">
     </transformationCommand>
     <separator
           id="de.cau.cs.kieler.synccharts.ksbase.separator2">
     </separator>
     <transformationCommand
           transformationId="de.cau.cs.kieler.ksbase.connect">
     </transformationCommand>
     <transformationCommand
           transformationId="de.cau.cs.kieler.ksbase.selfLoop">
     </transformationCommand>
     <transformationCommand
           transformationId="de.cau.cs.kieler.synccharts.ksbase.insertState">
     </transformationCommand>
     <transformationCommand
           transformationId="de.cau.cs.kieler.ksbase.flip">
     </transformationCommand>
      <transformationCommand
            transformationId="de.cau.cs.kieler.synccharts.ksbase.setStrong">
      </transformationCommand>
      <transformationCommand
            transformationId="de.cau.cs.kieler.synccharts.ksbase.setWeak">
      </transformationCommand>
      <transformationCommand
            transformationId="de.cau.cs.kieler.synccharts.ksbase.setNormalTermination">
      </transformationCommand>
     <transformationCommand
           transformationId="de.cau.cs.kieler.ksbase.rerouteTarget">
     </transformationCommand>
     <transformationCommand
           transformationId="de.cau.cs.kieler.ksbase.rerouteSource">
     </transformationCommand>
     <separator
           id="de.cau.cs.kieler.synccharts.ksbase.separator3">
     </separator>
     <transformationCommand
           transformationId="de.cau.cs.kieler.ksbase.encapsulate">
     </transformationCommand>
     <transformationCommand
           transformationId="de.cau.cs.kieler.ksbase.flattenState">
     </transformationCommand>
     <transformationCommand
           transformationId="de.cau.cs.kieler.synccharts.ksbase.encapsulateRegion">
     </transformationCommand>
     <transformationCommand
           transformationId="de.cau.cs.kieler.synccharts.ksbase.flattenRegion">
     </transformationCommand>
     <separator
           id="de.cau.cs.kieler.synccharts.ksbase.separator4">
     </separator>
     						<transformationCommand transformationId="de.cau.cs.kieler.ksbase.addABRO"></transformationCommand>
						<transformationCommand transformationId="de.cau.cs.kieler.ksbase.createDefault">
						</transformationCommand>
				</menuContribution>
				<menuContribution locationURI="toolbar:de.cau.cs.kieler">
       <transformationCommand
             transformationId="de.cau.cs.kieler.ksbase.addSuc">
       </transformationCommand>
					<transformationCommand transformationId="de.cau.cs.kieler.ksbase.addRegion">
					</transformationCommand>
     <transformationCommand
           transformationId="de.cau.cs.kieler.ksbase.removeAllRegions">
     </transformationCommand>
					<transformationCommand transformationId="de.cau.cs.kieler.ksbase.flip"></transformationCommand>
     <separator
           id="de.cau.cs.kieler.synccharts.ksbase.separator5">
     </separator>
				     <transformationCommand
           transformationId="de.cau.cs.kieler.ksbase.fixsyncchart">
     </transformationCommand>
				</menuContribution>
    <menuContribution
          locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=addGroup">
       <transformationCommand
             transformationId="de.cau.cs.kieler.ksbase.addSuc">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.ksbase.addPred">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.ksbase.addChoice">
       </transformationCommand>
       <separator
             id="de.cau.cs.kieler.synccharts.ksbase.separator6">
       </separator>
       <transformationCommand
             transformationId="de.cau.cs.kieler.ksbase.addRegion">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.ksbase.removeAllRegions">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.synccharts.ksbase.addState">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.synccharts.ksbase.toggleStateInitial">
       </transformationCommand>
       <separator
             id="de.cau.cs.kieler.synccharts.ksbase.separator7">
       </separator>
       <transformationCommand
             transformationId="de.cau.cs.kieler.ksbase.connect">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.ksbase.selfLoop">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.synccharts.ksbase.insertState">
       </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.ksbase.rerouteTarget">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.ksbase.rerouteSource">
          </transformationCommand>
          <separator
                id="de.cau.cs.kieler.synccharts.ksbase.separator8">
          </separator>
          <transformationCommand
                transformationId="de.cau.cs.kieler.ksbase.encapsulate">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.ksbase.flattenState">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.synccharts.ksbase.encapsulateRegion">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.synccharts.ksbase.flattenRegion">
          </transformationCommand>
          <separator
                id="de.cau.cs.kieler.synccharts.ksbase.separator9">
          </separator>
          <transformationCommand
                transformationId="de.cau.cs.kieler.synccharts.ksbase.renameSignalVariable">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.synccharts.ksbase.renameSignal">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.ksbase.createDefault">
          </transformationCommand>
          <transformationCommand transformationId="de.cau.cs.kieler.ksbase.flip"></transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.synccharts.ksbase.setStrong">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.synccharts.ksbase.setWeak">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.synccharts.ksbase.setNormalTermination">
          </transformationCommand>
    </menuContribution>
    <menuContribution
          locationURI="popupBar:any">
          <transformationCommand
             transformationId="de.cau.cs.kieler.ksbase.addSingleSuc">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.ksbase.addPred">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.ksbase.addChoice">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.ksbase.addRegion">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.ksbase.removeAllRegions">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.synccharts.ksbase.toggleStateInitial">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.ksbase.selfLoop">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.synccharts.ksbase.insertState">
       </transformationCommand>
          <transformationCommand transformationId="de.cau.cs.kieler.ksbase.flip">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.synccharts.ksbase.setStrong">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.synccharts.ksbase.setWeak">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.synccharts.ksbase.setNormalTermination">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.ksbase.encapsulate">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.ksbase.flattenState">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.synccharts.ksbase.encapsulateRegion">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.synccharts.ksbase.flattenRegion">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.synccharts.ksbase.addState">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.ksbase.createDefault">
          </transformationCommand>
    </menuContribution>

			</menus>
   <package
         class="de.cau.cs.kieler.synccharts.SyncchartsPackage">
   </package>
   <package
         class="de.cau.cs.kieler.core.kexpressions.KExpressionsPackage">
   </package>
   <package
         class="de.cau.cs.kieler.core.annotations.AnnotationsPackage">
   </package>
		</configuration>
		
 </extension>
  <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="de.cau.cs.kieler.synccharts.diagram.general"
          class="de.cau.cs.kieler.synccharts.ksbase.preferences.FixSyncChartPreferencePage"
          id="de.cau.cs.kieler.synccharts.ksbase.fixSyncChartPage"
          name="Fix SyncChart">
    </page>
 </extension>
  <extension
        point="org.eclipse.ui.startup">
     <startup
           class="de.cau.cs.kieler.synccharts.ksbase.util.KsbaseStarter"></startup>
  </extension>

</plugin>
