<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin> 
 <extension
       point="de.cau.cs.kieler.ksbase.configurations">
       		<configuration
               checkVisibility="true"
               contextId="de.cau.cs.kieler.synccharts.diagram.ui.diagramContext"
               defautlIcon="icons/obj16/State.gif"
               editorId="de.cau.cs.kieler.synccharts.diagram.part.SyncchartsDiagramEditorID">
			<transformations>
    <transformation
          icon="icons/successor_state.gif"
          menu="false"
          name="Add Single Successor State"
          popup="false"
          popupbar="true"
          separated="true"
          toolbar="false"
          tooltip="Create a successor for the selected state"
          transformation="addSuccessorState"
          transformationId="de.cau.cs.kieler.ksbase.addSingleSuc"
          validation="isNoRootState">
    </transformation>
				<transformation
          icon="icons/successor_state.gif"
          keyboardShortcut="M1+R S"
          menu="true"
          name="Add Successor State"
          popup="true"
          popupbar="false"
          separated="true"
          toolbar="true"
          tooltip="Create a successor for the selected states"
          transformation="addSuccessorStates"
          transformationId="de.cau.cs.kieler.ksbase.addSuc"
          validation="isNoRootState">
				</transformation>
				<transformation
          icon="icons/predecessor_state.gif"
          keyboardShortcut="M1+R P"
          menu="true"
          name="Add Predecessor State"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="false"
          tooltip="Create a predecessor for the selected state"
          transformation="addPredecessorState"
          transformationId="de.cau.cs.kieler.ksbase.addPred"
          validation="isNoRootState">
				</transformation>
				<transformation
          icon="icons/choice.gif"
          keyboardShortcut="M1+R C"
          menu="true"
          name="Add Choice"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="false"
          tooltip="Add a choice construct"
          transformation="addChoice"
          transformationId="de.cau.cs.kieler.ksbase.addChoice"
          validation="isNoRootState">
				</transformation>
    <transformation
          icon="icons/upgrade.gif"
          keyboardShortcut="M1+R R"
          menu="true"
          name="Add Region"
          popup="true"
          popupbar="true"
          separated="true"
          toolbar="true"
          tooltip="Add a region with an initial state "
          transformation="upgradeState"
          transformationId="de.cau.cs.kieler.ksbase.addRegion">
    </transformation>
    <transformation
          icon="icons/downgrade.gif"
          keyboardShortcut="M1+R D"
          menu="true"
          name="Remove All Regions"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="true"
          tooltip="Removing all regions of the selected state"
          transformation="downgradeState"
          transformationId="de.cau.cs.kieler.ksbase.removeAllRegions"
          validation="isRegionState">
    </transformation>
    <transformation
          icon="icons/default.gif"
          menu="true"
          name="Create State"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="false"
          tooltip="Creates a state in the target region. The created state is initial if the region was empty."
          transformation="addState"
          transformationId="de.cau.cs.kieler.synccharts.ksbase.addState"
          validation="isNoRootRegion">
    </transformation>
    <transformation
          icon="icons/connect.gif"
          keyboardShortcut="M1+R W"
          menu="true"
          name="Connect States"
          popup="true"
          popupbar="false"
          separated="true"
          toolbar="false"
          tooltip="Connect both states"
          transformation="connectStates"
          transformationId="de.cau.cs.kieler.ksbase.connect"
          validation="isNoRootState,statesOnSameHierarchy">
    </transformation>
    <transformation
          icon="icons/self_loop.gif"
          keyboardShortcut="M1+R O"
          menu="true"
          name="Add Self Loop"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="false"
          tooltip="Create a self loop for the selected state"
          transformation="addSelfLoop"
          transformationId="de.cau.cs.kieler.ksbase.selfLoop"
          validation="isNoRootState">
    </transformation>
    <transformation
          icon="icons/successor_state.gif"
          menu="true"
          name="Insert State"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="false"
          tooltip="Inserts a sstate between source and target of the transition"
          transformation="insertState"
          transformationId="de.cau.cs.kieler.synccharts.ksbase.insertState">
    </transformation>
				<transformation
          icon="icons/flip.gif"
          keyboardShortcut="M1+R F"
          menu="true"
          name="Flip Transition"
          popup="true"
          popupbar="true"
          separated="false"
          toolbar="true"
          tooltip="Flip source and target of the transition"
          transformation="flipTransition"
          transformationId="de.cau.cs.kieler.ksbase.flip">
				</transformation>
    <transformation
          icon="icons/reconnect_target.gif"
          keyboardShortcut="M1+R N"
          menu="true"
          name="Set Transition Target"
          popup="true"
          popupbar="false"
          separated="false"
          toolbar="false"
          tooltip="Set the transition target to the selected state"
          transformation="rerouteTransitionTarget"
          transformationId="de.cau.cs.kieler.ksbase.rerouteTarget"
          validation="hasNoRootState">
    </transformation>
    <transformation
          icon="icons/reconnect_source.gif"
          keyboardShortcut="M1+R J"
          menu="true"
          name="Set Transition Source"
          popup="true"
          popupbar="false"
          separated="false"
          toolbar="false"
          tooltip="Set the transition source to the selected state"
          transformation="rerouteTransitionSource"
          transformationId="de.cau.cs.kieler.ksbase.rerouteSource"
          validation="hasNoRootState">
    </transformation>
       <transformation
             icon="icons/encapsulate.gif"
             keyboardShortcut="M1+R E"
             menu="true"
             name="Encapsulate Regions"
             popup="true"
             popupbar="true"
             separated="true"
             toolbar="false"
             tooltip="Create a new state and move all existing regions to the new one"
             transformation="encapsulateRegions"
             transformationId="de.cau.cs.kieler.ksbase.encapsulate">
       </transformation>
       <transformation
             icon="icons/flatten.gif"
             keyboardShortcut="M1+R X"
             menu="true"
             name="Extract State"
             popup="true"
             popupbar="true"
             separated="false"
             toolbar="false"
             tooltip="Moving all regions to the parent state and removing the selected state"
             transformation="flattenState"
             transformationId="de.cau.cs.kieler.ksbase.flattenState">
       </transformation>
       <transformation
             icon="icons/encapsulate.gif"
             menu="true"
             name="Encapsulate Region"
             popup="true"
             popupbar="true"
             separated="false"
             toolbar="false"
             tooltip="Move the selected region(s) into a new State and place that state into the regions parent."
             transformation="encapsulateRegion"
             transformationId="de.cau.cs.kieler.synccharts.ksbase.encapsulateRegion"
             validation="isNoRootRegion">
       </transformation>
       <transformation
             icon="icons/flatten.gif"
             menu="true"
             name="Flatten Region"
             popup="true"
             popupbar="true"
             separated="false"
             toolbar="false"
             tooltip="Moves all states from the selected region to the next region in the hierarchy."
             transformation="flattenRegion"
             transformationId="de.cau.cs.kieler.synccharts.ksbase.flattenRegion"
             validation="isNoRootRegion">
       </transformation>
              <transformation
                    keyboardShortcut="M1+M2+R"
                    menu="false"
                    name="Rename a Signal or Variable (Refactor)"
                    popup="true"
                    popupbar="false"
                    separated="false"
                    toolbar="false"
                    tooltip="Refactor the name of a Signal or Variable. Will change all references in the scope to the new name."
                    transformation="renameSignalVariable"
                    transformationId="de.cau.cs.kieler.synccharts.ksbase.renameSignalVariable"
                    validation="hasSignalsVariables">
              </transformation>
              <transformation
                    menu="false"
                    name="Rename Signal"
                    popup="true"
                    popupbar="false"
                    separated="false"
                    toolbar="false"
                    tooltip="Rename the signal"
                    transformation="renameSignal"
                    transformationId="de.cau.cs.kieler.synccharts.ksbase.renameSignal">
              </transformation>
              <transformation
                    icon="icons/abro.gif"
                    menu="true"
                    name="Add ABRO"
                    popup="false"
                    popupbar="false"
                    separated="true"
                    toolbar="false"
                    tooltip="Create an ABRO SyncChart"
                    transformation="addABRO"
                    transformationId="de.cau.cs.kieler.ksbase.addABRO">
              </transformation>
              <transformation
                    icon="icons/default.gif"
                    menu="true"
                    name="Create Default"
                    popup="true"
                    popupbar="false"
                    separated="false"
                    toolbar="false"
                    tooltip="Create a default SyncChart"
                    transformation="createDefault"
                    transformationId="de.cau.cs.kieler.ksbase.createDefault"
                    validation="isRootRegion">
              </transformation>
              <transformation
                    icon="icons/quickfix_obj.gif"
                    menu="false"
                    name="Fix SyncChart"
                    popup="false"
                    popupbar="false"
                    separated="true"
                    toolbar="true"
                    tooltip="Fix the current SyncChart. This can be configured through the preference page."
                    transformation="fixSelected"
                    transformationId="de.cau.cs.kieler.ksbase.fixsyncchart">
              </transformation>
              <transformation
                    icon="icons/strongAbort.gif"
                    menu="true"
                    name="Strong abort"
                    popup="true"
                    popupbar="true"
                    separated="false"
                    toolbar="false"
                    tooltip="Transform transition into strong abortion"
                    transformation="setStrong"
                    transformationId="de.cau.cs.kieler.synccharts.ksbase.setStrong"
                    validation="canTurnIntoStrongAbort">
              </transformation>
              <transformation
                    icon="icons/weakAbort.gif"
                    menu="true"
                    name="Weak abort"
                    popup="true"
                    popupbar="true"
                    separated="false"
                    toolbar="false"
                    tooltip="Transform transition into weak abortion"
                    transformation="setWeak"
                    transformationId="de.cau.cs.kieler.synccharts.ksbase.setWeak"
                    validation="canTurnIntoWeakAbort">
              </transformation>
              <transformation
                    icon="icons/normalTermination.gif"
                    menu="true"
                    name="Normal termination"
                    popup="true"
                    popupbar="true"
                    separated="false"
                    toolbar="false"
                    tooltip="Transform transition into normal termination"
                    transformation="setNormalTermination"
                    transformationId="de.cau.cs.kieler.synccharts.ksbase.setNormalTermination"
                    validation="canTurnIntoNormalTermination">
              </transformation>
              <transformation
                    icon="icons/initialfinal.png"
                    keyboardShortcut="M1+R T"
                    menu="true"
                    name="Toggle Initial/Final"
                    popup="true"
                    popupbar="true"
                    separated="false"
                    toolbar="false"
                    tooltip="Normal -&gt; Final -&gt; Initial -&gt; InitialFinal -&gt; Normal"
                    transformation="toggleStateInitialFinal"
                    transformationId="de.cau.cs.kieler.synccharts.ksbase.toggleStateInitial"
                    validation="isNoRootState">
              </transformation>
			</transformations>
   <package
         class="de.cau.cs.kieler.synccharts.SyncchartsPackage">
   </package>
   <package
         class="de.cau.cs.kieler.core.kexpressions.KExpressionsPackage">
   </package>
   <package
         class="de.cau.cs.kieler.core.annotations.AnnotationsPackage">
   </package>
   <XtendTransformationFile
         TransformationFile="feature.ext">
   </XtendTransformationFile>
		</configuration>
		
 </extension>
  <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="de.cau.cs.kieler.synccharts.diagram.general"
          class="de.cau.cs.kieler.synccharts.ksbase.preferences.FixSyncChartPreferencePage"
          id="de.cau.cs.kieler.synccharts.ksbase.fixSyncChartPage"
          name="Fix SyncChart">
    </page>
 </extension>
  <extension
        point="org.eclipse.ui.startup">
     <startup
           class="de.cau.cs.kieler.synccharts.ksbase.util.KsbaseStarter"></startup>
  </extension>

</plugin>
