<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.krep.trace.listener" name="de.cau.cs.kieler.krep.tracel.istener" schema="schema/de.cau.cs.kieler.krep.trace.listener.exsd"/>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.sim.krep.DataComponent"
            id="de.cau.cs.kieler.sim.krep"
            name="Krep">
      </content>
   </extension>

</plugin>
