scchart syncchart {
  input signal pure I;
  output signal pure O;

  initial state H {

    initial state A
    --> B with I;

    state B
    --> C immediate with / O;

    state C;
  }
  --> S immediate with I;

  state S;
}