scchart _76ptolemyconcurrecntandhierarchicalreadwrite
"76ptolemyconcurrecntandhierarchicalreadwrite" {
  output signal pure OutA;
  signal pure In;
  output signal pure Out2;
  input signal pure Const;
  output signal pure OutB;

  initial state SeeminglyNonmontonic {

    initial state state1 {

      initial state state5
      --> state6 with In / OutA;

      state state6;

      region:

      initial state state3
      --> state4 with / OutB;

      state state4;
    }
    --> state2 with / Out2;

    state state2;
  };

  region:

  initial state Const
  --> Const with Const / In;
}