<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.cview.DiagramSynthesis"
            id="de.cau.cs.kieler.cview">
      </diagramSynthesis>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.ui.view.editor">
      <editor
            controllerID="de.cau.cs.kieler.cview.klighd.controller"
            editorID="org.eclipse.cdt.ui.editor.CEditor">
      </editor>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.ui.view.controller">
      <controller
            class="de.cau.cs.kieler.cview.KLighDController">
      </controller>
   </extension>

</plugin>
