<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.cview.DiagramSynthesis"
            id="de.cau.cs.kieler.cview">
      </diagramSynthesis>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.ui.view.editor">
      <editor
            controllerID="de.cau.cs.kieler.cview.klighd.controller"
            editorID="org.eclipse.cdt.ui.editor.CEditor">
      </editor>
      <editor
            controllerID="de.cau.cs.kieler.cview.klighd.controller"
            editorID="org.eclipse.ui.DefaultTextEditor">
      </editor>
      <fallbackController
            controllerID="de.cau.cs.kieler.cview.klighd.controller"
            editorClass="de.cau.cs.kieler.cview.KLighDController">
      </fallbackController>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.ui.view.controller">
      <controller
            class="de.cau.cs.kieler.cview.KLighDController">
      </controller>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.cau.cs.kieler.cview.category"
            name="C View Category">
      </category>
      <command
            categoryId="de.cau.cs.kieler.cview.category"
            id="de.cau.cs.kieler.cview.command"
            name="C View Toggle Command">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.cau.cs.kieler.cview.CommandToggleHandler"
            commandId="de.cau.cs.kieler.cview.command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.cau.cs.kieler.cview.toolbar.command"
               style="toggle">
            <command
                  commandId="de.cau.cs.kieler.cview.command"
                  icon="icon/cview.png"
                  id="de.cau.cs.kieler.cview.toolbar.command"
                  style="toggle"
                  tooltip="Enabled/Disable  C View">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
