<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.cview.klighd.DiagramSynthesis"
            id="de.cau.cs.kieler.cview">
      </diagramSynthesis>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.ui.view.editor">
      <editor
            controllerID="DISABLED de.cau.cs.kieler.cview.klighd.controllerX"
            editorID="DISABLED org.eclipse.cdt.ui.editor.CEditorX">
      </editor>
      <editor
            controllerID="DISABLED de.cau.cs.kieler.cview.klighd.controllerX"
            editorID="DISABLED org.eclipse.ui.DefaultTextEditorX">
      </editor>
      <fallbackController
            controllerID="DISABLED de.cau.cs.kieler.cview.klighd.controllerX"
            editorClass="DISABLED de.cau.cs.kieler.cview.KLighDControllerX">
      </fallbackController>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.ui.view.controller">
      <controller
            class="de.cau.cs.kieler.cview.KLighDController">
      </controller>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.cau.cs.kieler.cview.category"
            name="C View Category">
      </category>
      <command
            categoryId="de.cau.cs.kieler.cview.category"
            id="de.cau.cs.kieler.cview.command"
            name="C View Toggle Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.cau.cs.kieler.cview.ui.CommandHandler"
            commandId="de.cau.cs.kieler.cview.command">
      </handler>
      <handler
            class="de.cau.cs.kieler.cview.ui.CommandHandler"
            commandId="de.cau.cs.kieler.cview.command.select">
      </handler>
      <handler
            class="de.cau.cs.kieler.cview.ui.CommandHandler"
            commandId="de.cau.cs.kieler.cview.command.filter">
      </handler>
      <handler
            class="de.cau.cs.kieler.cview.ui.CommandHandler"
            commandId="de.cau.cs.kieler.cview.command.save">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.cau.cs.kieler.cview.toolbar.command"
               style="toggle">
            <command
                  commandId="de.cau.cs.kieler.cview.command"
                  icon="icon/cview.png"
                  id="de.cau.cs.kieler.cview.toolbar.command.button"
                  style="pulldown"
                  tooltip="Refresh  C View">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <action
            class="de.cau.cs.kieler.cview.klighd.OpenEditorAction"
            id="de.cau.cs.kieler.cview.OpenEditorAction">
      </action>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <action
            class="de.cau.cs.kieler.cview.klighd.ExpandCollapseNoMouseMoveAction"
            id="de.cau.cs.kieler.cview.ExpandCollapseNoMouseMoveAction">
      </action>
   </extension>
   <extension-point id="analysis" name="Define Connection Analysis" schema="schema/analysis.exsd"/>
   <extension-point id="export" name="Define Analysis Export" schema="schema/export.exsd"/>
   
     <extension point="org.eclipse.ui.menus">
     <menuContribution locationURI="menu:de.cau.cs.kieler.cview.toolbar.command.button">
        <command
              commandId="de.cau.cs.kieler.cview.command"
              icon="icon/refresh.gif"
              id="de.cau.cs.kieler.cview.command.refresh"
              label="Refresh  C View"
              style="push">
        </command>
        <separator name="filterandselectadditions" visible="true">
        </separator>
        <command
              commandId="de.cau.cs.kieler.cview.command.filter"
              icon="icon/filter.gif"
              id="de.cau.cs.kieler.cview.command.filter"
              label="Configure Filter..."
              style="push">
        </command>
        <command
              commandId="de.cau.cs.kieler.cview.command.select"
              icon="icon/select.gif"
              id="de.cau.cs.kieler.cview.command.select"
              label="Select Analysis..."
              style="push">
        </command>
        <separator name="saveadditions" visible="true">
        </separator>
        <command
              commandId="de.cau.cs.kieler.cview.command.save"
              icon="icon/saveas.gif"
              id="de.cau.cs.kieler.cview.command.save"
              label="Export Analysis Results..."
              style="push">
        </command>
     </menuContribution>
  </extension>
     <extension
           point="org.eclipse.ui.startup">
        <startup
              class="de.cau.cs.kieler.cview.Startup">
        </startup>
     </extension>
</plugin>
