<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://mymodel/1.0"
            class="mymodel.MymodelPackage"
            genModel="model/mymodel.genmodel"/>
   </extension>
   
      <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="de.cau.cs.kieler.example.oaw.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="de.cau.cs.kieler.example.oaw.commands.category"
            id="de.cau.cs.kieler.example.oaw.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="de.cau.cs.kieler.example.oaw.commands.sampleCommand"
            class="de.cau.cs.kieler.example.oaw.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.cau.cs.kieler.example.oaw.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="de.cau.cs.kieler.example.oaw.menus.sampleMenu">
            <command
                  commandId="de.cau.cs.kieler.example.oaw.commands.sampleCommand"
                  mnemonic="S"
                  id="de.cau.cs.kieler.example.oaw.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.cau.cs.kieler.example.oaw.toolbars.sampleToolbar">
            <command
                  commandId="de.cau.cs.kieler.example.oaw.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="de.cau.cs.kieler.example.oaw.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
