<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.sim.abro.DataComponent"
            id="de.cau.cs.kieler.sim.abro.datacomponent"
            name="ABRO in Java">
      </content>
   </extension>


</plugin>
