<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.cau.cs.kieler.kico.server.ui.commands.category"
            name="KIELER Compiler Server">
      </category>
      <command
            categoryId="de.cau.cs.kieler.kico.server.ui.commands.category"
            id="de.cau.cs.kieler.kico.server.ui.commands.enableCommand"
            name="Enable KIELER Compiler Server">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.cau.cs.kieler.kico.server.ui.KiCoServerButtonHandler"
            commandId="de.cau.cs.kieler.kico.server.ui.commands.enableCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.cau.cs.kieler.kico.server.ui.toolbars.KIELER Compiler Server">
            <command
                  commandId="de.cau.cs.kieler.kico.server.ui.commands.enableCommand"
                  icon="icons/KiCoViewIcon.png"
                  id="de.cau.cs.kieler.kico.server.ui.toolbars.enableCommand"
                  tooltip="KIELER Compiler Server">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cau.cs.kieler.kico.server.ui.KiCoServerStartup">
      </startup>
   </extension>

</plugin>
