<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.config.DefaultScheduleContributor">
      <executionFile
            file="execution/synccharts_s.execution">
         <editor
               id="de.cau.cs.kieler.synccharts.diagram.part.SyncchartsDiagramEditorID"
               name="SyncChart Diagram Editor"
               priority="12">
         </editor>
      </executionFile>
      <executionFile
            file="execution/synccharts_s_no_visualization.execution">
         <editor
               id="de.cau.cs.kieler.synccharts.diagram.part.SyncchartsDiagramEditorID"
               name="SyncChart Diagram Editor"
               priority="11">
         </editor>
      </executionFile>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.synccharts.sim.s.SyncChartsSSimulationDataComponent"
            id="de.cau.cs.kieler.synccharts.sim.s"
            name="SyncCharts S Simulator">
      </content>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.synccharts.sim.s.transformations">
         <command
               commandId="de.cau.cs.kieler.synccharts.sim.s.SyncChartsAbortTransformation"
               label="Strong and Weak Aborts"
               mnemonic="A"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="kixs">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.synccharts.sim.s.transformations">
         <command
               commandId="de.cau.cs.kieler.synccharts.sim.s.SyncChartsNormalTerminationTransformation"
               label="Normal Terminations"
               mnemonic="N"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="kixs">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.synccharts.sim.s.transformations">
         <command
               commandId="de.cau.cs.kieler.synccharts.sim.s.SyncChartsCountDelayTransformation"
               label="Count Delays"
               mnemonic="C"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="kixs">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.synccharts.sim.s.transformations">
         <command
               commandId="de.cau.cs.kieler.synccharts.sim.s.SyncChartsSuspendTransformation"
               label="Suspends"
               mnemonic="S"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="kixs">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.synccharts.sim.s.transformations">
         <command
               commandId="de.cau.cs.kieler.synccharts.sim.s.SyncChartsHistoryTransformation"
               label="History Transitions"
               mnemonic="H"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="kixs">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.synccharts.sim.s.transformations">
         <command
               commandId="de.cau.cs.kieler.synccharts.sim.s.SyncChartsEntryActionTransformation"
               label="Entry Actions"
               mnemonic="n"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="kixs">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.synccharts.sim.s.transformations">
         <command
               commandId="de.cau.cs.kieler.synccharts.sim.s.SyncChartsExposeLocalSignalsTransformation"
               label="Expose Local Signals"
               mnemonic="E"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="kixs">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.synccharts.sim.s.transformations">
         <command
               commandId="de.cau.cs.kieler.synccharts.sim.s.SyncChartsDuringActionTransformation"
               label="During Actions"
               mnemonic="D"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="kixs">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.synccharts.sim.s.transformations">
         <command
               commandId="de.cau.cs.kieler.synccharts.sim.s.SyncChartsExitActionTransformation"
               label="Exit Actions"
               mnemonic="E"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="kixs">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.synccharts.sim.s.transformations">
         <command
               commandId="de.cau.cs.kieler.synccharts.sim.s.SyncChartsPreTransformation"
               label="Pre Operators"
               mnemonic="P"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="kixs">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.cau.cs.kieler.synccharts.sim.s.SyncChartsTransformation"
            id="de.cau.cs.kieler.synccharts.sim.s.SyncChartsAbortTransformation"
            name="SyncChartsAbortTransformation">
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.synccharts.sim.s.SyncChartsTransformation"
            id="de.cau.cs.kieler.synccharts.sim.s.SyncChartsNormalTerminationTransformation"
            name="SyncChartsNormalTerminationTransformation">
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.synccharts.sim.s.SyncChartsTransformation"
            id="de.cau.cs.kieler.synccharts.sim.s.SyncChartsCountDelayTransformation"
            name="SyncChartsCountDelayTransformation">
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.synccharts.sim.s.SyncChartsTransformation"
            id="de.cau.cs.kieler.synccharts.sim.s.SyncChartsSuspendTransformation"
            name="SyncChartsSuspendTransformation">
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.synccharts.sim.s.SyncChartsTransformation"
            id="de.cau.cs.kieler.synccharts.sim.s.SyncChartsHistoryTransformation"
            name="SyncChartsHistoryTransformation">
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.synccharts.sim.s.SyncChartsTransformation"
            id="de.cau.cs.kieler.synccharts.sim.s.SyncChartsEntryActionTransformation"
            name="SyncChartsEntryActionTransformation">
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.synccharts.sim.s.SyncChartsTransformation"
            id="de.cau.cs.kieler.synccharts.sim.s.SyncChartsAbortTransformation"
            name="SyncChartsAbortTransformation">
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.synccharts.sim.s.SyncChartsTransformation"
            id="de.cau.cs.kieler.synccharts.sim.s.SyncChartsExposeLocalSignalsTransformation"
            name="SyncChartsExposeLocalSignalsTransformation">
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.synccharts.sim.s.SyncChartsTransformation"
            id="de.cau.cs.kieler.synccharts.sim.s.SyncChartsDuringActionTransformation"
            name="SyncChartsDuringActionTransformation">
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.synccharts.sim.s.SyncChartsTransformation"
            id="de.cau.cs.kieler.synccharts.sim.s.SyncChartsExitActionTransformation"
            name="SyncChartsExitActionTransformation">
      </command>
      <command
            defaultHandler="de.cau.cs.kieler.synccharts.sim.s.SyncChartsTransformation"
            id="de.cau.cs.kieler.synccharts.sim.s.SyncChartsPreTransformation"
            name="SyncChartsPreTransformation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="de.cau.cs.kieler.synccharts.sim.s.transformations"
               label="Transform SyncCharts"
               mnemonic="T">
            <separator
                  name="de.cau.cs.kieler.core.ui.separator1"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
   </extension>

</plugin>
