<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.config.DefaultScheduleContributor">
      <executionFile
            file="execution/synccharts_s.execution">
         <editor
               id="de.cau.cs.kieler.synccharts.diagram.part.SyncchartsDiagramEditorID"
               name="SyncChart Diagram Editor"
               priority="11">
         </editor>
      </executionFile>
      <executionFile
            file="execution/synccharts_s_no_visualization.execution">
         <editor
               id="de.cau.cs.kieler.synccharts.diagram.part.SyncchartsDiagramEditorID"
               name="SyncChart Diagram Editor"
               priority="10">
         </editor>
      </executionFile>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.synccharts.sim.s.SyncChartsSSimulationDataComponent"
            id="de.cau.cs.kieler.synccharts.sim.s"
            name="SyncCharts S Simulator">
      </content>
   </extension>

</plugin>
