<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.viewmanagement.combination">
      <combination
            class="de.cau.cs.kieler.synccharts.dsl.kits.autolayout.AutoLayoutCombination"
            name="de.cau.cs.kieler.synccharts.dsl.kits.autolayout.AutoLayoutCombination">
      </combination>
   </extension>
   <extension
         point="de.cau.cs.kieler.viewmanagement.effects">
      <effect
            class="de.cau.cs.kieler.synccharts.dsl.kits.autolayout.AutoLayoutEffect"
            name="de.cau.cs.kieler.synccharts.dsl.kits.autolayout.AutoLayoutEffect">
      </effect>
   </extension>
   <extension
         point="de.cau.cs.kieler.viewmanagement.triggers">
      <trigger
            class="de.cau.cs.kieler.synccharts.dsl.kits.autolayout.AutoLayoutTrigger"
            name="de.cau.cs.kieler.synccharts.dsl.kits.autolayout.AutoLayoutTrigger">
      </trigger>
   </extension>

</plugin>
