<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.comparison.testcase">
      <testcaseClass
            class="de.cau.cs.kieler.comparison.testcases.sccharts.ABRO">
      </testcaseClass>
      <testcaseClass
            class="de.cau.cs.kieler.comparison.testcases.sccharts.AO">
      </testcaseClass>
   </extension>
   <extension
         point="de.cau.cs.kieler.comparison.testcase">
      <testcaseClass
            class="de.cau.cs.kieler.comparison.testcases.esterel.ABRO">
      </testcaseClass>
   </extension>

</plugin>
