<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.scg.kivi.SCGDataComponent"
            id="de.cau.cs.kieler.scg.kivi.activitydatacomponent"
            name="SCG Visualization">
      </content>
   </extension>

</plugin>
