<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kev.data">
      <content
            class="de.cau.cs.kieler.kev.extension.elevator.TestController"
            id="de.cau.cs.kieler.kev.extension.test"
            name="Demo Controller (Internal Java)">
      </content>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.kev.PreferencePage"
            class="de.cau.cs.kieler.kev.extension.elevator.WorkbenchPreferencePage"
            id="de.cau.cs.kieler.kev.extension.test.page1"
            name="Demo Controller">
      </page>
   </extension>

</plugin>
