@diagram[KLayLayered] false  
scchart DuringAction {
  input bool T1, T2;
  output int A1 = 0, A2 = 0, A3 = 0, A4 = 0;
   
   initial state S1
   --> S2;
   
   state S2 {
     during / A1 += 1;
     immediate during / A2 += 1;
     during T1 / A3 += 1;
     immediate during T2 / A4 += 1;
   };
}