<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.cau.de/kieler/synccharts/yakindu/model/reqtext/Kidsexp" 
       class = "de.cau.kieler.synccharts.yakindu.model.reqtext.kidsexp.KidsexpPackage"
       genModel = "de/cau/kieler/synccharts/yakindu/model/reqtext/Kidsexp.genmodel" /> 
	
  </extension>




</plugin>
