<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.cau.cs.kieler.sim.kiem.ui.launching.KIEMLaunchShortcut"
            icon="icons/kiemIcon.png"
            id="de.cau.cs.kieler.sim.kiem.ui.launching.KIEMLaunchShortcut"
            label="KIEM Execution"
            modes="run,debug">
      </shortcut>
   </extension>
      
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.cau.cs.kieler.sim.kiem.ui.launching.KIEM"
            icon="icons/kiemIcon.png"
            id="de.cau.cs.kieler.sim.kiem.ui.launching.KIEMImage">
      </launchConfigurationTypeImage>
   </extension>
      
 <extension point="org.eclipse.debug.core.launchConfigurationTypes">
  <launchConfigurationType
   id="de.cau.cs.kieler.sim.kiem.ui.launching.KIEM"
   delegate="de.cau.cs.kieler.sim.kiem.ui.launching.KIEMDelegate"
   modes="run,debug"
   name="KIELER Execution"
   migrationDelegate="com.example.migrationDelegate"
   sourcePathComputerId="com.example.sourcePathComputer"
   delegateName="KIELER Exceution Manager Launch Tooling"
   delegateDescription="The KIELER Execution Manager tooling will run or debug KIELER models.">
  </launchConfigurationType>
 </extension>
    
 <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
  <launchConfigurationTabGroup
      id="com.example.ExampleTabGroup"
      type="de.cau.cs.kieler.sim.kiem.ui.launching.KIEM"
      class="de.cau.cs.kieler.sim.kiem.ui.launching.AbstractLaunchConfigurationTabGroup">
  </launchConfigurationTabGroup>
 </extension>

</plugin>
