<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.0"?>
 
<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler.sccharts.commands.category"
            id="de.cau.cs.kieler.sccharts.commands.SyncChartsTransformation"
            name="SyncChartsTransformation">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.cau.cs.kieler.synccharts.sccharts.SyncChartsModelFileHandler"
            commandId="de.cau.cs.kieler.sccharts.commands.SyncChartsTransformation">
      </handler>
   </extension>


   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="de.cau.cs.kieler.sccharts.commands.SyncChartsTransformation"
               label="Convert to SCCharts (sct)"
               mnemonic="S"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="kixs">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>

   </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://kieler.cs.cau.de/synccharts/0.2.4"
            class="de.cau.cs.kieler.synccharts.SyncchartsPackage"
            genModel="model/synccharts.genmodel"/>
   </extension>

      <extension
            point="de.cau.cs.kieler.core.model.Validation">
         <ePackageDefinition
               ePackageClass="de.cau.cs.kieler.synccharts.SyncchartsPackage"
               ePackageId="de.cau.cs.kieler.synccharts"
               ePackageNsURI="http://kieler.cs.cau.de/synccharts/0.2.4">
         </ePackageDefinition>
         <Validation
               ePackageId="de.cau.cs.kieler.synccharts"
               id="de.cau.cs.kieler.synccharts.SyncchartsChecks"
               isEnabledByDefault="true"
               isWrapExistingValidator="true"
               name="Synccharts Checks"
               checkfilePath="model/SyncchartsChecks.chk"
               tooltip="Checks whether the syncchart is valid.">
            <referenceEPackageNsURI
                  nsURI="http://kieler.cs.cau.de/kexpressions/0.1.2">
            </referenceEPackageNsURI>
         </Validation>
         <Validation
               ePackageId="de.cau.cs.kieler.synccharts"
               id="de.cau.cs.kieler.synccharts.KleptoChecks"
               isEnabledByDefault="false"
               isWrapExistingValidator="true"
               name="Klepto Checks"
               checkfilePath="model/SyncchartsKleptoChecks.chk"
               tooltip="Check whether the syncchart can be simulated with Klepto.">
            <referenceEPackageNsURI
                  nsURI="http://kieler.cs.cau.de/kexpressions/0.1.2">
            </referenceEPackageNsURI>
         </Validation>
         <Validation
               ePackageId="de.cau.cs.kieler.synccharts"
               id="de.cau.cs.kieler.synccharts.ScChecks"
               isEnabledByDefault="false"
               isWrapExistingValidator="true"
               name="SC Checks"
               checkfilePath="model/SyncchartsScChecks.chk"
               tooltip="Checks whether SC code can be generated from the syncchart.">
            <referenceEPackageNsURI
                  nsURI="http://kieler.cs.cau.de/kexpressions/0.1.2">
            </referenceEPackageNsURI>
         </Validation>
      </extension>

</plugin>
