<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.simplerailctrl.sim.ptolemy.handlers.ModelTransformationHandler"
            description="%Generate Kieler Model Railway Ptolemy Model"
            id="de.cau.cs.kieler.simplerailctrl.sim.ptolemy.modelTransformationAction"
            name="%TransformModel">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
         <separator
               name="de.cau.cs.kieler.simplerailctrl.separator"
               visible="true">
         </separator>
         <command
               commandId="de.cau.cs.kieler.simplerailctrl.sim.ptolemy.modelTransformationAction"
               icon="icons/modeltrans.gif"
               label="Generate Ptolemy Model"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.simplerailctrl.sim.ptolemy.fileType">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:file?before=additions">
         <separator
               name="de.cau.cs.kieler.simplerailctrl.separator"
               visible="true">
         </separator>
         <command
               commandId="de.cau.cs.kieler.simplerailctrl.sim.ptolemy.modelTransformationAction"
               icon="icons/modeltrans.gif"
               label="Generate Ptolemy Model"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.simplerailctrl.sim.ptolemy.fileType">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.cau.cs.kieler.simplerailctrl.codegen.c.codegentoolbar">
            <separator
                  name="de.cau.cs.kieler.simplerailctrl.separator"
                  visible="true">
            </separator>
            <command
                  commandId="de.cau.cs.kieler.simplerailctrl.sim.ptolemy.modelTransformationAction"
                  icon="icons/modeltrans.gif"
                  label="Generate Ptolemy Model"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="de.cau.cs.kieler.simplerailctrl.sim.ptolemy.fileType">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.cau.cs.kieler.simplerailctrl.sim.ptolemy.fileType">
         <iterate>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.extension"
                     value="simplerailctrl">
               </test>
            </and>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.core.internal.propertytester.ResourcePropertyTester"
            id="org.eclipse.core.resources.resourcePropertyTester"
            namespace="org.eclipse.core.resources"
            properties="name,path,extension,readOnly,projectNature,persistentProperty,projectPersistentProperty,sessionProperty,projectSessionProperty"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>


</plugin>
