<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kicool.processor">
      <Processor
            class="de.cau.cs.kieler.esterel.compiler.processors.InriaEsterelCodeGenerator">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.esterel.compiler.processors.XESCompiler">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.esterel.compiler.processors.InriaSimulationTemplateGenerator">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.esterel.compiler.processors.InriaSimulationPreparation">
      </Processor>
   </extension>
   <extension
         point="de.cau.cs.kieler.kicool.system">
      <TransformationSystem
            system="system/de.cau.cs.kieler.esterel.compiler.inria.xes.kico">
      </TransformationSystem>
      <TransformationSystem
            system="system/de.cau.cs.kieler.esterel.compiler.inria.simulation.kico">
      </TransformationSystem>
   </extension>

</plugin>
