<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.esterel.sim.c.EsterelCDataComponent"
            id="de.cau.cs.kieler.esterel.sim.c"
            name="Esterel Simulator (SCEst)">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.config.DefaultScheduleContributor">
      <executionFile
            file="execution/esterel_c.execution">
         <editor
               id="de.cau.cs.kieler.scg.presentation.ScgEditorID"
               name="SCG (Tree) Editor"
               priority="99">
         </editor>
         <editor
               id=" de.cau.cs.kieler.scl.SCL"
               name="SCL (Textual) Editor"
               priority="99">
         </editor>
         <editor
               id="de.cau.cs.kieler.esterel.Esterel"
               name="KIELER Esterel Editor"
               priority="5">
         </editor>
      </executionFile>
      <executionFile
            file="execution/esterel_c_no_visualization.execution">
         <editor
               id="de.cau.cs.kieler.scg.presentation.ScgEditorID"
               name="SCG (Tree) Editor"
               priority="100">
         </editor>
         <editor
               id=" de.cau.cs.kieler.scl.SCL"
               name="SCL (Textual) Editor"
               priority="100">
         </editor>
         <editor
               id="de.cau.cs.kieler.esterel.Esterel"
               name="KIELER Esterel Editor"
               priority="6">
         </editor>
      </executionFile>
   </extension>
   <extension
         point="de.cau.cs.kieler.kico.transformation">
      <expansionTransformationClass
            class="de.cau.cs.kieler.esterel.sim.c.SimulationVisualization">
      </expansionTransformationClass>
      <expansionTransformationClass
            class="de.cau.cs.kieler.esterel.sim.c.NoSimulationVisualization">
      </expansionTransformationClass>
   </extension>

</plugin>
