<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="de.cau.cs.kieler.synccharts.custom.update.UpdateResourceFactoryImpl"
            type="kixs">
      </parser>
   </extension>
   <extension
         point="de.cau.cs.kieler.karma">
      <configuration
            FeatureProvider="de.cau.cs.kieler.synccharts.custom.SyncchartsFeatureProvider"
            FigureProvider="de.cau.cs.kieler.synccharts.custom.SyncchartsFigureProvider"
            RenderingProvider="de.cau.cs.kieler.synccharts.custom.SyncchartsFigureProvider"
            editorId="de.cau.cs.kieler.synccharts.diagram.part.SyncchartsDiagramEditorID">
         <conditions>
            <featureValueCondition
                  feature="type"
                  figureParam="conditional"
                  layoutParam="conditional"
                  type="State"
                  value="CONDITIONAL">
            </featureValueCondition>
            <compoundCondition
                  figureParam="simpleInitialFinalRefState"
                  layoutParam="reference/final">
               <compoundCondition
                     figureParam="simpleRefState"
                     layoutParam="simpleRefState">
                  <featureValueCondition
                        feature="type"
                        figureParam="normalState"
                        layoutParam="normalState"
                        type="State"
                        value="REFERENCE">
                  </featureValueCondition>
                  <listSizeCondition
                        feature="regions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="State">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="signals"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="entryActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="innerActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="exitActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
               </compoundCondition>
               <compoundCondition
                     figureParam="initialFinalState"
                     layoutParam="initialFinalState">
                  <compoundCondition
                        figureParam="initialFinalState"
                        layoutParam="initialFinalState">
                     <featureValueCondition
                           feature="isInitial"
                           figureParam="initialState"
                           layoutParam="initialState"
                           type="State"
                           value="true">
                     </featureValueCondition>
                     <featureValueCondition
                           feature="isFinal"
                           figureParam="finalState"
                           layoutParam="finalState"
                           type="State"
                           value="true">
                     </featureValueCondition>
                  </compoundCondition>
               </compoundCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="simpleInitialRefState"
                  layoutParam="reference">
               <compoundCondition
                     figureParam="simpleRefState"
                     layoutParam="simpleRefState">
                  <featureValueCondition
                        feature="type"
                        figureParam="normalState"
                        layoutParam="normalState"
                        type="State"
                        value="REFERENCE">
                  </featureValueCondition>
                  <listSizeCondition
                        feature="regions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="State">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="signals"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="entryActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="innerActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="exitActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
               </compoundCondition>
               <compoundCondition
                     figureParam="initialState"
                     layoutParam="initialState">
                  <featureValueCondition
                        feature="isInitial"
                        figureParam="initialState"
                        layoutParam="initialState"
                        type="State"
                        value="true">
                  </featureValueCondition>
               </compoundCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="simpleFinalRefState"
                  layoutParam="reference/final">
               <compoundCondition
                     figureParam="simpleRefState"
                     layoutParam="simpleRefState">
                  <featureValueCondition
                        feature="type"
                        figureParam="normalState"
                        layoutParam="normalState"
                        type="State"
                        value="REFERENCE">
                  </featureValueCondition>
                  <listSizeCondition
                        feature="regions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="State">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="signals"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="entryActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="innerActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="exitActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
               </compoundCondition>
               <compoundCondition
                     figureParam="finalState"
                     layoutParam="finalState">
                  <featureValueCondition
                        feature="isFinal"
                        figureParam="finalState"
                        layoutParam="finalState"
                        type="State"
                        value="true">
                  </featureValueCondition>
               </compoundCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="simpleRefState"
                  layoutParam="reference">
               <featureValueCondition
                     feature="type"
                     figureParam="normalState"
                     layoutParam="normalState"
                     type="State"
                     value="REFERENCE">
               </featureValueCondition>
               <listSizeCondition
                     feature="regions"
                     figureParam="null"
                     layoutParam="null"
                     size="0"
                     type="State">
               </listSizeCondition>
               <listSizeCondition
                     feature="signals"
                     figureParam="null"
                     layoutParam="null"
                     size="0"
                     type="Scope">
               </listSizeCondition>
               <listSizeCondition
                     feature="entryActions"
                     figureParam="null"
                     layoutParam="null"
                     size="0"
                     type="Scope">
               </listSizeCondition>
               <listSizeCondition
                     feature="innerActions"
                     figureParam="null"
                     layoutParam="null"
                     size="0"
                     type="Scope">
               </listSizeCondition>
               <listSizeCondition
                     feature="exitActions"
                     figureParam="null"
                     layoutParam="null"
                     size="0"
                     type="Scope">
               </listSizeCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="initialFinalRefState"
                  layoutParam="reference/final">
               <featureValueCondition
                     feature="type"
                     figureParam="normalState"
                     layoutParam="normalState"
                     type="State"
                     value="REFERENCE">
               </featureValueCondition>
               <compoundCondition
                     figureParam="initialFinalState"
                     layoutParam="initialFinalState">
                  <compoundCondition
                        figureParam="initialFinalState"
                        layoutParam="initialFinalState">
                     <featureValueCondition
                           feature="isInitial"
                           figureParam="initialState"
                           layoutParam="initialState"
                           type="State"
                           value="true">
                     </featureValueCondition>
                     <featureValueCondition
                           feature="isFinal"
                           figureParam="finalState"
                           layoutParam="finalState"
                           type="State"
                           value="true">
                     </featureValueCondition>
                  </compoundCondition>
               </compoundCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="initialRefState"
                  layoutParam="reference">
               <featureValueCondition
                     feature="type"
                     figureParam="normalState"
                     layoutParam="normalState"
                     type="State"
                     value="REFERENCE">
               </featureValueCondition>
               <compoundCondition
                     figureParam="initialState"
                     layoutParam="initialState">
                  <featureValueCondition
                        feature="isInitial"
                        figureParam="initialState"
                        layoutParam="initialState"
                        type="State"
                        value="true">
                  </featureValueCondition>
               </compoundCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="finalRefState"
                  layoutParam="reference/final">
               <featureValueCondition
                     feature="type"
                     figureParam="normalState"
                     layoutParam="normalState"
                     type="State"
                     value="REFERENCE">
               </featureValueCondition>
               <compoundCondition
                     figureParam="finalState"
                     layoutParam="finalState">
                  <featureValueCondition
                        feature="isFinal"
                        figureParam="finalState"
                        layoutParam="finalState"
                        type="State"
                        value="true">
                  </featureValueCondition>
               </compoundCondition>
            </compoundCondition>
            <featureValueCondition
                  feature="type"
                  figureParam="refState"
                  layoutParam="reference"
                  type="State"
                  value="REFERENCE">
            </featureValueCondition>
            <compoundCondition
                  figureParam="initialFinalState"
                  layoutParam="simpleNormal/final">
               <featureValueCondition
                     feature="isInitial"
                     figureParam="initialState"
                     layoutParam="initialState"
                     type="State"
                     value="true">
               </featureValueCondition>
               <featureValueCondition
                     feature="isFinal"
                     figureParam="finalState"
                     layoutParam="finalState"
                     type="State"
                     value="true">
               </featureValueCondition>
               <compoundCondition
                     figureParam="normalState"
                     layoutParam="normalState">
                  <featureValueCondition
                        feature="type"
                        figureParam="normalState"
                        layoutParam="normalState"
                        type="State"
                        value="NORMAL">
                  </featureValueCondition>
                  <listSizeCondition
                        feature="regions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="State">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="signals"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="entryActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="innerActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="exitActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
               </compoundCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="initialFinalState"
                  layoutParam="complexNormal/final">
               <compoundCondition
                     figureParam="initialFinalState"
                     layoutParam="initialFinalState">
                  <featureValueCondition
                        feature="isInitial"
                        figureParam="initialState"
                        layoutParam="initialState"
                        type="State"
                        value="true">
                  </featureValueCondition>
                  <featureValueCondition
                        feature="isFinal"
                        figureParam="finalState"
                        layoutParam="finalState"
                        type="State"
                        value="true">
                  </featureValueCondition>
               </compoundCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="initialState"
                  layoutParam="simpleNormal">
               <featureValueCondition
                     feature="isInitial"
                     figureParam="initialState"
                     layoutParam="initialState"
                     type="State"
                     value="true">
               </featureValueCondition>
               <compoundCondition
                     figureParam="normalState"
                     layoutParam="normalState">
                  <featureValueCondition
                        feature="type"
                        figureParam="normalState"
                        layoutParam="normalState"
                        type="State"
                        value="NORMAL">
                  </featureValueCondition>
                  <listSizeCondition
                        feature="regions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="State">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="signals"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="entryActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="innerActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="exitActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
               </compoundCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="initialState"
                  layoutParam="complexNormal">
               <featureValueCondition
                     feature="isInitial"
                     figureParam="initialState"
                     layoutParam="initialState"
                     type="State"
                     value="true">
               </featureValueCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="finalState"
                  layoutParam="simpleNormal/final">
               <featureValueCondition
                     feature="isFinal"
                     figureParam="finalState"
                     layoutParam="finalState"
                     type="State"
                     value="true">
               </featureValueCondition>
               <compoundCondition
                     figureParam="normalState"
                     layoutParam="normalState">
                  <featureValueCondition
                        feature="type"
                        figureParam="normalState"
                        layoutParam="normalState"
                        type="State"
                        value="NORMAL">
                  </featureValueCondition>
                  <listSizeCondition
                        feature="regions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="State">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="signals"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="entryActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="innerActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
                  <listSizeCondition
                        feature="exitActions"
                        figureParam="null"
                        layoutParam="null"
                        size="0"
                        type="Scope">
                  </listSizeCondition>
               </compoundCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="finalState"
                  layoutParam="complexNormal/final">
               <featureValueCondition
                     feature="isFinal"
                     figureParam="finalState"
                     layoutParam="finalState"
                     type="State"
                     value="true">
               </featureValueCondition>
            </compoundCondition>
            <featureValueCondition
                  feature="type"
                  figureParam="normalState"
                  layoutParam="textual"
                  type="State"
                  value="TEXTUAL">
            </featureValueCondition>
            <compoundCondition
                  figureParam="normalState"
                  layoutParam="simpleNormal">
               <featureValueCondition
                     feature="type"
                     figureParam="normalState"
                     layoutParam="normalState"
                     type="State"
                     value="NORMAL">
               </featureValueCondition>
               <listSizeCondition
                     feature="regions"
                     figureParam="null"
                     layoutParam="null"
                     size="0"
                     type="State">
               </listSizeCondition>
               <listSizeCondition
                     feature="signals"
                     figureParam="null"
                     layoutParam="null"
                     size="0"
                     type="Scope">
               </listSizeCondition>
               <listSizeCondition
                     feature="entryActions"
                     figureParam="null"
                     layoutParam="null"
                     size="0"
                     type="Scope">
               </listSizeCondition>
               <listSizeCondition
                     feature="innerActions"
                     figureParam="null"
                     layoutParam="null"
                     size="0"
                     type="Scope">
               </listSizeCondition>
               <listSizeCondition
                     feature="exitActions"
                     figureParam="null"
                     layoutParam="null"
                     size="0"
                     type="Scope">
               </listSizeCondition>
            </compoundCondition>
            <featureValueCondition
                  feature="type"
                  figureParam="normalState"
                  layoutParam="complexNormal"
                  type="State"
                  value="NORMAL">
            </featureValueCondition>
         </conditions>
         <package
               class="de.cau.cs.kieler.synccharts.SyncchartsPackage">
         </package>
         <package
               class="de.cau.cs.kieler.core.kexpressions.KExpressionsPackage">
         </package>
         <package
               class="de.cau.cs.kieler.core.annotations.AnnotationsPackage">
         </package>
         
         <!-- These warnings can safely be ignored. In fact, adding synccharts.diagram as a dependency
              will introduce a dependency cycle. -->
         <editPart
               editPart="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateEditPart">
         </editPart>
         <editPart
               editPart="de.cau.cs.kieler.synccharts.diagram.edit.parts.RegionStateEditPart">
         </editPart>
      </configuration>
      <configuration
            FeatureProvider="de.cau.cs.kieler.synccharts.custom.FeatureProvider1"
            FigureProvider="de.cau.cs.kieler.synccharts.custom.SyncchartsConnectionFigureProvider"
            RenderingProvider="de.cau.cs.kieler.synccharts.custom.SyncchartsConnectionFigureProvider"
            editorId="de.cau.cs.kieler.synccharts.diagram.part.SyncchartsDiagramEditorID">
         <conditions>
            <compoundCondition
                  figureParam="weakAbortHistory"
                  layoutParam="weakAbortHistory">
               <featureValueCondition
                     feature="type"
                     figureParam="weakAbortHistory"
                     layoutParam="weakAbortHistory"
                     type="Transition"
                     value="WEAKABORT">
               </featureValueCondition>
               <featureValueCondition
                     feature="isHistory"
                     figureParam="weakAbortHistory"
                     layoutParam="weakAbortHistory"
                     type="Transition"
                     value="true">
               </featureValueCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="strongAbortHistory"
                  layoutParam="strongAbortHistory">
               <featureValueCondition
                     feature="type"
                     figureParam="strongAbortHistory"
                     layoutParam="strongAbortHistory"
                     type="Transition"
                     value="STRONGABORT">
               </featureValueCondition>
               <featureValueCondition
                     feature="isHistory"
                     figureParam="strongAbortHistory"
                     layoutParam="strongAbortHistory"
                     type="Transition"
                     value="true">
               </featureValueCondition>
            </compoundCondition>
            <compoundCondition
                  figureParam="terminationHistory"
                  layoutParam="terminationHistory">
               <featureValueCondition
                     feature="type"
                     figureParam="terminationHistory"
                     layoutParam="terminationHistory"
                     type="Transition"
                     value="NORMALTERMINATION">
               </featureValueCondition>
               <featureValueCondition
                     feature="isHistory"
                     figureParam="terminationHistory"
                     layoutParam="terminationHistory"
                     type="Transition"
                     value="true">
               </featureValueCondition>
            </compoundCondition>
            <featureValueCondition
                  feature="type"
                  figureParam="weakAbort"
                  layoutParam="weakAbort"
                  type="Transition"
                  value="WEAKABORT">
            </featureValueCondition>
            <featureValueCondition
                  feature="type"
                  figureParam="strongAbort"
                  layoutParam="strongAbort"
                  type="Transition"
                  value="STRONGABORT">
            </featureValueCondition>
            <featureValueCondition
                  feature="type"
                  figureParam="termination"
                  layoutParam="termination"
                  type="Transition"
                  value="NORMALTERMINATION">
            </featureValueCondition>
         </conditions>
         <package
               class="de.cau.cs.kieler.synccharts.SyncchartsPackage">
         </package>
         <editPart
               editPart="de.cau.cs.kieler.synccharts.diagram.edit.parts.TransitionEditPart">
         </editPart>
      </configuration>
   </extension>
  
</plugin>
