<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <styleModifier
            class="de.cau.cs.kieler.sccharts.klighd.SCChartsRegionLineModifier"
            id="de.cau.cs.kieler.sccharts.klighd.regionLineModifier">
      </styleModifier>
   </extension>-->
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.scg.klighd.SCGraphDiagramSynthesis"
            id="de.cau.cs.kieler.scg.klighd.diagramSynthesis">
      </diagramSynthesis>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <action
            class="de.cau.cs.kieler.scg.klighd.actions.NodePriorityActions"
            id="de.cau.cs.kieler.scg.klighd.actions.priorityActions">
      </action>
      <action
            class="de.cau.cs.kieler.scg.klighd.actions.SCCActions"
            id="de.cau.cs.kieler.scg.klighd.actions.sccActions">
      </action>
   </extension>
</plugin>
