<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.config.DefaultScheduleContributor">
      <executionFile
            file="execution/sccharts_s_sj.execution">
         <editor
               id="de.cau.cs.kieler.sccharts.text.SCT"
               name="SCCharts Textual Editor"
               priority="9">
         </editor>
      </executionFile>
      <executionFile
            file="execution/sccharts_s_sj_no_visualization.execution">
         <editor
               id="de.cau.cs.kieler.sccharts.text.SCT"
               name="SCCharts Textual Editor"
               priority="8">
         </editor>
      </executionFile>
      <executionFile
            file="execution/sccharts_s_sc.execution">
         <editor
               id="de.cau.cs.kieler.sccharts.text.SCT"
               name="SCCharts Textual Editor"
               priority="12">
         </editor>
      </executionFile>
      <executionFile
            file="execution/sccharts_s_sc_no_visualization.execution">
         <editor
               id="de.cau.cs.kieler.sccharts.text.SCT"
               name="SCCharts Textual Editor"
               priority="10">
         </editor>
      </executionFile>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.sccharts.sim.s.SCChartsSSimulationDataComponent"
            id="de.cau.cs.kieler.sccharts.sim.s"
            name="SCCharts S Simulator">
      </content>
   </extension>

</plugin>
