<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
-->

<plugin>
   <extension-point id="de.cau.cs.kieler.kicool.resource.extension" name="KIELER Compiler Resource Extension Information" schema="schema/de.cau.cs.kieler.kicool.resource.extension.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated KiCool -->
      <package
            uri="http://kieler.cs.cau.de/kicool/0.1.0"
            class="de.cau.cs.kieler.kicool.KiCoolPackage"
            genModel="model/KiCool.genmodel"/>
   </extension>

   
</plugin>
