<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.2"?>
<plugin>

   
   <extension point="org.eclipse.ui.commands">
	  <category name="SyncCharts" description="Commands related to SyncChart diagrams." id="org.eclipse.gmf.category.synccharts"/>
	  <command
         categoryId="org.eclipse.gmf.category.synccharts"
         defaultHandler="de.cau.cs.kieler.synccharts.diagram.custom.handlers.AddToStateHandler"
         description="Adds a new OnEntryAction"
         id="de.cau.cs.kieler.synccharts.custom.contextMenu.addEntryAction"
         name="Add OnEntryAction">
      <commandParameter
            id="de.cau.cs.kieler.synccharts.custom.parameters.type"
            name="Type"
            optional="false">
      </commandParameter>
	  </command>
	  <command
         categoryId="org.eclipse.gmf.category.synccharts"
         defaultHandler="de.cau.cs.kieler.synccharts.diagram.custom.handlers.AddToStateHandler"
         description="Adds a new OnInsideAction"
         id="de.cau.cs.kieler.synccharts.custom.contextMenu.addInsideAction"
         name="Add OnInsideAction">
      <commandParameter
            id="de.cau.cs.kieler.synccharts.custom.parameters.type"
            name="Type"
            optional="false">
      </commandParameter>
	  </command>
	  <command
         categoryId="org.eclipse.gmf.category.synccharts"
         defaultHandler="de.cau.cs.kieler.synccharts.diagram.custom.handlers.AddToStateHandler"
         description="Adds a new OnExitAction"
         id="de.cau.cs.kieler.synccharts.custom.contextMenu.addExitAction"
         name="Add OnExitAction">
      <commandParameter
            id="de.cau.cs.kieler.synccharts.custom.parameters.type"
            name="Type"
            optional="false">
      </commandParameter>
	  </command>
	  <command
         categoryId="org.eclipse.gmf.category.synccharts"
         defaultHandler="de.cau.cs.kieler.synccharts.diagram.custom.handlers.AddToStateHandler"
         description="Adds a new Signal"
         id="de.cau.cs.kieler.synccharts.custom.contextMenu.addSignal"
         name="Add Signal">
      <commandParameter
            id="de.cau.cs.kieler.synccharts.custom.parameters.type"
            name="Type"
            optional="false">
      </commandParameter>
	  </command>
	  <command
         categoryId="org.eclipse.gmf.category.synccharts"
         defaultHandler="de.cau.cs.kieler.synccharts.diagram.custom.handlers.AddToStateHandler"
         description="Adds a new Variable"
         id="de.cau.cs.kieler.synccharts.custom.contextMenu.addVariable"
         name="Add Variable">
      <commandParameter
            id="de.cau.cs.kieler.synccharts.custom.parameters.type"
            name="Type"
            optional="false">
      </commandParameter>
	  </command>
	  <command
         categoryId="org.eclipse.gmf.category.synccharts"
         defaultHandler="de.cau.cs.kieler.synccharts.diagram.custom.handlers.AddToStateHandler"
         description="Adds a new SuspensionTrigger"
         id="de.cau.cs.kieler.synccharts.custom.contextMenu.addSuspensionTrigger"
         name="Add SuspensionTrigger">
      <commandParameter
            id="de.cau.cs.kieler.synccharts.custom.parameters.type"
            name="Type"
            optional="false">
      </commandParameter>
	  </command>
	  <command
         categoryId="org.eclipse.gmf.category.synccharts"
         defaultHandler="de.cau.cs.kieler.synccharts.diagram.custom.handlers.AddToStateHandler"
         description="Adds a new Region"
         id="de.cau.cs.kieler.synccharts.custom.contextMenu.addRegion"
         name="Add Region">
      <commandParameter
            id="de.cau.cs.kieler.synccharts.custom.parameters.type"
            name="Type"
            optional="false">
      </commandParameter>
	  </command>
	  <command
         categoryId="org.eclipse.gmf.category.synccharts"
         defaultHandler="de.cau.cs.kieler.synccharts.diagram.custom.handlers.AddStateHandler"
         description="Adds a new State"
         id="de.cau.cs.kieler.synccharts.custom.contextMenu.addState"
         name="Add State">
	  </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=addGroup">
         <command
               commandId="de.cau.cs.kieler.synccharts.custom.contextMenu.addSignal"
               icon="icons/obj16/Signal.gif"
               label="Add Signal"
               mnemonic="S"
               style="push"
               tooltip="Add a signal to the selected state, either input, output or a local signal.">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="de.cau.cs.kieler.synccharts.custom.expressions.statePart">
               </reference>
            </visibleWhen>
            <parameter
                  name="de.cau.cs.kieler.synccharts.custom.parameters.type"
                  value="Signal">
            </parameter>
         </command>
         <menu
               id="customAddMenu"
               label="Add Action/Suspension"
               mnemonic="A">
            <command
                  commandId="de.cau.cs.kieler.synccharts.custom.contextMenu.addEntryAction"
                  icon="icons/obj16/Action.gif"
                  label="OnEntry Action"
                  mnemonic="t"
                  style="push"
                  tooltip="OnEntry actions are executed when control enters the state">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="de.cau.cs.kieler.synccharts.custom.expressions.statePart">
                  </reference>
               </visibleWhen>
               <parameter
                     name="de.cau.cs.kieler.synccharts.custom.parameters.type"
                     value="OnEntryAction">
               </parameter>
            </command>
            <command
                  commandId="de.cau.cs.kieler.synccharts.custom.contextMenu.addInsideAction"
                  icon="icons/obj16/Action.gif"
                  label="OnInside Action"
                  mnemonic="I"
                  style="push"
                  tooltip="OnInside actions are executed when control persists in the state">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="de.cau.cs.kieler.synccharts.custom.expressions.statePart">
                  </reference>
               </visibleWhen>
               <parameter
                     name="de.cau.cs.kieler.synccharts.custom.parameters.type"
                     value="OnInsideAction">
               </parameter>
            </command>
            <command
                  commandId="de.cau.cs.kieler.synccharts.custom.contextMenu.addExitAction"
                  icon="icons/obj16/Action.gif"
                  label="OnExit Action"
                  mnemonic="x"
                  style="push"
                  tooltip="OnExit actions are executed when control leaves the state">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="de.cau.cs.kieler.synccharts.custom.expressions.statePart">
                  </reference>
               </visibleWhen>
               <parameter
                     name="de.cau.cs.kieler.synccharts.custom.parameters.type"
                     value="OnExitAction">
               </parameter>
            </command>
            <command
                  commandId="de.cau.cs.kieler.synccharts.custom.contextMenu.addSuspensionTrigger"
                  icon="icons/obj16/Suspension.gif"
                  label="Suspension Trigger"
                  mnemonic="u"
                  style="push"
                  tooltip="When a suspension trigger is active, the contents of the state are suspended">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="de.cau.cs.kieler.synccharts.custom.expressions.statePart">
                  </reference>
               </visibleWhen>
               <parameter
                     name="de.cau.cs.kieler.synccharts.custom.parameters.type"
                     value="SuspensionTrigger">
               </parameter>
            </command>
         </menu>
        
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler">
         <menu
               id="compatSyncchartsEditing"
               label="Compatibility SyncChart Edit Operations"
               mnemonic="C"
               tooltip="Edit Operations for SyncCharts that are only required if structure-based editing is not available">
            <command
                  commandId="de.cau.cs.kieler.synccharts.custom.contextMenu.addRegion"
                  icon="icons/obj16/Region.gif"
                  label="Add Region"
                  mnemonic="R"
                  style="push"
                  tooltip="Add a region to the state, which is executed in parallel to other regions">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="de.cau.cs.kieler.synccharts.custom.expressions.statePart">
                  </reference>
               </visibleWhen>
               <parameter
                     name="de.cau.cs.kieler.synccharts.custom.parameters.type"
                     value="Region">
               </parameter>
            </command>
            <command
                  commandId="de.cau.cs.kieler.synccharts.custom.contextMenu.addState"
                  icon="icons/obj16/State.gif"
                  label="Add State"
                  mnemonic="S"
                  style="push"
                  tooltip="Add a state to the selected region">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="de.cau.cs.kieler.synccharts.custom.expressions.region">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.cau.cs.kieler.synccharts.custom.expressions.statePart">
	       <iterate
	             ifEmpty="false"
	             operator="and">
	          <or>
	             <instanceof
	                   value="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateEditPart">
	             </instanceof>
	             <instanceof
	                   value="de.cau.cs.kieler.synccharts.diagram.edit.parts.State2EditPart">
	             </instanceof>
	             <instanceof
	                   value="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateLabelEditPart">
	             </instanceof>
	             <instanceof
	                   value="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateLabel2EditPart">
	             </instanceof>
	             <instanceof
	                   value="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateRegionCompartmentEditPart">
	             </instanceof>
	             <instanceof
	                   value="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateRegionCompartment2EditPart">
	             </instanceof>
              <instanceof
                    value="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateOnEntryActionEditPart">
              </instanceof>
              <instanceof
                    value="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateOnEntryAction2EditPart">
              </instanceof>
              <instanceof
                    value="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateOnExitActionEditPart">
              </instanceof>
              <instanceof
                    value="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateOnExitAction2EditPart">
              </instanceof>
              <instanceof
                    value="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateOnInsideActionEditPart">
              </instanceof>
              <instanceof
                    value="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateOnInsideAction2EditPart">
              </instanceof>
              <instanceof
                    value="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateSignalEditPart">
              </instanceof>
              <instanceof
                    value="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateSignal2EditPart">
              </instanceof>
              <instanceof
                    value="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateSuspendEditPart">
              </instanceof>
              <instanceof
                    value="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateSuspend2EditPart">
              </instanceof>
	          </or>
	       </iterate>
      </definition>
      <definition
            id="de.cau.cs.kieler.synccharts.custom.expressions.region">
         <iterate
               ifEmpty="false"
               operator="and">
            <or>
               <instanceof
                     value="de.cau.cs.kieler.synccharts.diagram.edit.parts.RegionEditPart">
               </instanceof>
               <instanceof
                     value="de.cau.cs.kieler.synccharts.diagram.edit.parts.Region2EditPart">
               </instanceof>
               <instanceof
                     value="de.cau.cs.kieler.synccharts.diagram.edit.parts.RegionStateCompartmentEditPart">
               </instanceof>
            </or>
         </iterate>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.cau.cs.kieler.synccharts.custom.contextMenu.addSignal"
            contextId="de.cau.cs.kieler.synccharts.diagram.ui.diagramContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+K I">
      </key>
      <key
            commandId="de.cau.cs.kieler.synccharts.custom.contextMenu.addVariable"
            contextId="de.cau.cs.kieler.synccharts.diagram.ui.diagramContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+V">
      </key>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.layout.layoutInfo">
      <binding
            class="de.cau.cs.kieler.synccharts.diagram.edit.parts.RegionEditPart"
            id="de.cau.cs.kieler.synccharts.diagram">
      </binding>
      <binding
            class="de.cau.cs.kieler.synccharts.diagram.edit.parts.RegionStateCompartmentEditPart"
            id="de.cau.cs.kieler.synccharts.diagram">
      </binding>
      <binding
            class="de.cau.cs.kieler.synccharts.diagram.edit.parts.Region2EditPart"
            id="de.cau.cs.kieler.synccharts.diagram">
      </binding>
      <binding
            class="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateRegionCompartmentEditPart"
            id="de.cau.cs.kieler.synccharts.region">
      </binding>
      <binding
            class="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateRegionCompartment2EditPart"
            id="de.cau.cs.kieler.synccharts.region">
      </binding>
      <binding
            class="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateOnEntryActionEditPart"
            id="de.cau.cs.kieler.synccharts.nolayout">
      </binding>
      <binding
            class="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateOnEntryAction2EditPart"
            id="de.cau.cs.kieler.synccharts.nolayout">
      </binding>
      <binding
            class="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateOnExitActionEditPart"
            id="de.cau.cs.kieler.synccharts.nolayout">
      </binding>
      <binding
            class="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateOnExitAction2EditPart"
            id="de.cau.cs.kieler.synccharts.nolayout">
      </binding>
      <binding
            class="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateOnInsideActionEditPart"
            id="de.cau.cs.kieler.synccharts.nolayout">
      </binding>
      <binding
            class="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateOnInsideAction2EditPart"
            id="de.cau.cs.kieler.synccharts.nolayout">
      </binding>
      <binding
            class="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateSignalEditPart"
            id="de.cau.cs.kieler.synccharts.nolayout">
      </binding>
      <binding
            class="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateSignal2EditPart"
            id="de.cau.cs.kieler.synccharts.nolayout">
      </binding>
      <binding
            class="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateSuspendEditPart"
            id="de.cau.cs.kieler.synccharts.nolayout">
      </binding>
      <binding
            class="de.cau.cs.kieler.synccharts.diagram.edit.parts.StateSuspend2EditPart"
            id="de.cau.cs.kieler.synccharts.nolayout">
      </binding>
      <option
            object="de.cau.cs.kieler.synccharts.diagram"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.stateMachine">
      </option>
      <option
            object="de.cau.cs.kieler.synccharts.region"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.boxes">
      </option>
      <option
            object="de.cau.cs.kieler.synccharts.nolayout"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.nolayout">
      </option>
      <option
            object="de.cau.cs.kieler.synccharts.region"
            option="de.cau.cs.kieler.layout.options.minSpacing"
            value="1.0">
      </option>
      <option
            object="de.cau.cs.kieler.synccharts.region"
            option="de.cau.cs.kieler.layout.options.borderSpacing"
            value="1.0">
      </option>
      <option
            object="de.cau.cs.kieler.synccharts.region"
            option="de.cau.cs.kieler.layout.options.expandNodes"
            value="true">
      </option>
      <option
            object="de.cau.cs.kieler.synccharts.diagram"
            option="de.cau.cs.kieler.layout.options.borderSpacing"
            value="1.0">
      </option>
   </extension>

</plugin>
