<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.sccharts.ui.hooks" name="Synthesis Hooks" schema="schema/hooks.exsd"/>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <action
            class="de.cau.cs.kieler.sccharts.ui.actions.ReferenceExpandAction"
            id="de.cau.cs.kieler.sccharts.ui.actions.ReferenceExpandAction">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.LabelShorteningHook"
            id="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.LabelShorteningHook">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.StateActionsHook"
            id="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.StateActionsHook">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.DeclarationsHook"
            id="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.DeclarationsHook">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.SCGDependencyHook"
            id="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.SCGDependencyHook">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.SCGLoopHook"
            id="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.SCGLoopHook">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.LayoutHook"
            id="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.LayoutHook">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.actions.MemorizingExpandCollapseAction"
            id="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.actions.MemorizingExpandCollapseAction">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.actions.CollapseAllRegionsAction"
            id="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.actions.CollapseAllRegionsAction">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.actions.ExpandAllRegionsAction"
            id="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.actions.ExpandAllRegionsAction">
      </action>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.sccharts.ui.synthesis.SCChartsSynthesis"
            id="de.cau.cs.kieler.sccharts.ui.synthesis.SCChartsSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.sccharts.ui.srtg.synthesis.SRTGSynthesis"
            id="de.cau.cs.kieler.sccharts.ui.srtg.synthesis.SRTGSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.sccharts.ui.synthesis.ScopeSynthesis"
            id="de.cau.cs.kieler.sccharts.ui.synthesis.ScopeSynthesis">
      </diagramSynthesis>      
   </extension>
   <extension
         point="de.cau.cs.kieler.sccharts.ui.hooks">
      <hook
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.DeclarationsHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.StateActionsHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.BlackWhiteModeHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.ShadowHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.SCGLoopHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.SCGDependencyHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.HideAnnotationHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.LabelShorteningHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.SynthesisAnnotationHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.LayoutHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.ExpandCollapseHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.ui.synthesis.hooks.ColorAnnotationHook">
      </hook>
   </extension>

</plugin>
