<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
   <extension-point id="de.cau.cs.kieler.sccharts.text.sct.generator.extension" 
        name="SCTGeneratorExtension" 
        schema="schema/de.cau.cs.kieler.sccharts.text.sct.generator.extension.exsd"/>
   <extension
         point="de.cau.cs.kieler.sccharts.text.sct.generator.extension">
      <SCTGeneratorExtension
            class="de.cau.cs.kieler.sccharts.text.sct.sctgenerator.extensions.AbortExtension">
      </SCTGeneratorExtension>
   </extension>
   
</plugin>

