<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.cau.cs.kieler.synccharts.dsl.editor.ScdslEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="scdsl"
            icon="icons/file.gif"
            id="de.cau.cs.kieler.synccharts.dsl.editor.ScdslEditor"
            name="scdsl Editor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
         
		<wizard
			category="org.openarchitectureware.xtext.wizards"
			class="de.cau.cs.kieler.synccharts.dsl.wizards.NewScdslProjectWizard"
			icon="icons/template.gif"
			id="de.cau.cs.kieler.synccharts.dsl.wizards.NewScdslProjectWizard"
			name="scdsl Project"
			project="true">
		</wizard>
         
		<wizard
			category="org.openarchitectureware.xtext.wizards"
			class="de.cau.cs.kieler.synccharts.dsl.wizards.NewScdslFileWizard"
			icon="icons/file.gif"
			id="de.cau.cs.kieler.synccharts.dsl.wizards.NewScdslFileWizard"
			name="scdsl Editor file">
		</wizard>
	</extension>
</plugin>
