@diagram[KLayLayered] false  
//@layout[direction] RIGHT  

@VHLayout
scchart AbortComplexity { 
  input bool R;
  output int O;

  region Main " ":
  
  initial state S {
     entry / O++;
  } 
  o-> S with R  / O = false;  
      
} 