
@diagram[KLayLayered] false
@layout[direction] DOWN //@HVLayout
scchart AbortComplexityWeak {
  input bool R;
  output int O = 0;
  output int O2 = 0;
  output bool A = false;

  region Main " ":

  initial state S {

    initial state I
    --> S with / O++;

    state S
    --> I immediate with / O2++;
  }
  --> F with R / A = true; O2++;

  state F;
}