<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.sccharts.sim.c.SCChartsCDataComponent"
            id="de.cau.cs.kieler.sccharts.sim.c"
            name="SCCharts / SCG Simulator (C)">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.config.DefaultScheduleContributor">
      <executionFile
            file="execution/sccharts_c.execution">
         <editor
               id="de.cau.cs.kieler.sccharts.text.SCT"
               name="Textual SCCharts (SCT) Editor"
               priority="100">
         </editor>
         <editor
               id="de.cau.cs.kieler.scg.presentation.ScgEditorID"
               name="SCG (Tree) Editor"
               priority="100">
         </editor>
         <editor
               id=" de.cau.cs.kieler.scl.SCL"
               name="SCL (Textual) Editor"
               priority="100">
         </editor>
      </executionFile>
      <executionFile
            file="execution/sccharts_c_no_visualization.execution">
         <editor
               id="de.cau.cs.kieler.sccharts.text.SCT"
               name="Textual SCCharts (SCT) Editor"
               priority="99">
         </editor>
         <editor
               id="de.cau.cs.kieler.scg.presentation.ScgEditorID"
               name="SCG (Tree) Editor"
               priority="101">
         </editor>
         <editor
               id=" de.cau.cs.kieler.scl.SCL"
               name="SCL (Textual) Editor"
               priority="101">
         </editor>
      </executionFile>
      <executionFile
            file="execution/sccharts_c.execution">
         <editor
               id="de.cau.cs.kieler.sccharts.text.SCT"
               name="Textual SCCharts (SCT) Editor"
               priority="100">
         </editor>
         <editor
               id="de.cau.cs.kieler.scg.presentation.ScgEditorID"
               name="SCG (Tree) Editor"
               priority="100">
         </editor>
         <editor
               id=" de.cau.cs.kieler.scl.SCL"
               name="SCL (Textual) Editor"
               priority="100">
         </editor>
      </executionFile>
      <executionFile
            file="execution/sccharts_c_novis.execution">
         <editor
               id="de.cau.cs.kieler.sccharts.text.SCT"
               name="Textual SCCharts (SCT) Editor"
               priority="100">
         </editor>
         <editor
               id="de.cau.cs.kieler.scg.presentation.ScgEditorID"
               name="SCG (Tree) Editor"
               priority="100">
         </editor>
         <editor
               id=" de.cau.cs.kieler.scl.SCL"
               name="SCL (Textual) Editor"
               priority="100">
         </editor>
      </executionFile>
      <executionFile
            file="execution/scg_c.execution">
         <editor
               id="de.cau.cs.kieler.sccharts.text.SCT"
               name="Textual SCCharts (SCT) Editor"
               priority="100">
         </editor>
         <editor
               id="de.cau.cs.kieler.scg.presentation.ScgEditorID"
               name="SCG (Tree) Editor"
               priority="100">
         </editor>
         <editor
               id=" de.cau.cs.kieler.scl.SCL"
               name="SCL (Textual) Editor"
               priority="100">
         </editor>
      </executionFile>
      <executionFile
            file="execution/scg_c_novis.execution">
         <editor
               id="de.cau.cs.kieler.sccharts.text.SCT"
               name="Textual SCCharts (SCT) Editor"
               priority="100">
         </editor>
         <editor
               id="de.cau.cs.kieler.scg.presentation.ScgEditorID"
               name="SCG (Tree) Editor"
               priority="100">
         </editor>
         <editor
               id=" de.cau.cs.kieler.scl.SCL"
               name="SCL (Textual) Editor"
               priority="100">
         </editor>
      </executionFile>
   </extension>
   <extension
         point="de.cau.cs.kieler.kico.transformation">
      <expansionTransformationClass
            class="de.cau.cs.kieler.sccharts.sim.c.xtend.SimulationVisualization">
      </expansionTransformationClass>
   </extension>

</plugin>
