<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 KIELER - Kiel Integrated Environment for Layout Eclipse RichClient
 
 http://www.informatik.uni-kiel.de/rtsys/kieler/
 
 Copyright 2009 by
 + Kiel University
   + Department of Computer Science
     + Real-Time and Embedded Systems Group
 
 This code is provided under the terms of the Eclipse Public License (EPL).
 See the file epl-v10.html for the license text.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://kieler.cs.cau.de/sccharts/0.3.0"
            class="de.cau.cs.kieler.sccharts.SCChartsPackage"
            genModel="model/sccharts.genmodel"/>
   </extension>
   
   <extension-point id="text.generator.extension" 
        name="SCT Generator Extension" 
        schema="schema/de.cau.cs.kieler.sccharts.text.generator.extension.exsd"/>
   <extension
         point="de.cau.cs.kieler.sccharts.text.generator.extension">
      <SCTGeneratorExtension
            class="de.cau.cs.kieler.sccharts.text.sctgenerator.extensions.AbortExtension">
      </SCTGeneratorExtension>
      <SCTGeneratorExtension
            class="de.cau.cs.kieler.sccharts.text.sctgenerator.extensions.ActionExtension">
      </SCTGeneratorExtension>
   </extension>   

     <extension
           point="de.cau.cs.kieler.kico.extension">
        <ExtensionInformation
              ePackageName="sccharts"
              editor_id="de.cau.cs.kieler.sccharts.text.SCTX"
              extensionName="sctx"
              isXMI="true">
        </ExtensionInformation>
     </extension>
     <extension
           point="de.cau.cs.kieler.kico.transformation">
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.Abort">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.AbortWTO">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.ComplexFinalState">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.Connector">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.Const">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.CountDelay">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.Deferred">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.During">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.Entry">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.Exit">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.Map">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.For">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.History">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.Initialization">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.InputOutputVariable">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.Pre">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.Reference">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.Signal">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.SimulationVisualization">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.ExposeLocalValuedObject">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.NoSimulationVisualization">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.Static">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.SurfaceDepth">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.Suspend">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.TriggerEffect">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.transformations.WeakSuspend">
        </expansionTransformationClass>
        <expansionTransformationClass
              class="de.cau.cs.kieler.sccharts.enforcer.EnforcerTransformation">
        </expansionTransformationClass>
     </extension>
     <extension
           point="de.cau.cs.kieler.kico.feature">
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.Abort">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.ComplexFinalState">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.Connector">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.Const">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.CountDelay">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.Deferred">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.During">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.Entry">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.Exit">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.For">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.Map">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.History">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.Initialization">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.InputOutput">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.Pre">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.Reference">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.Signal">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.SimulationVisualization">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.ExposeLocalValuedObject">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.Static">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.SurfaceDepth">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.Suspend">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.TriggerEffect">
        </featureClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.features.WeakSuspend">
        </featureClass>
        <featureGroupClass
              class="de.cau.cs.kieler.sccharts.featuregroups.SCCharts">
        </featureGroupClass>
        <featureGroupClass
              class="de.cau.cs.kieler.sccharts.featuregroups.Core">
        </featureGroupClass>
        <featureGroupClass
              class="de.cau.cs.kieler.sccharts.featuregroups.Extended">
        </featureGroupClass>
        <featureGroupClass
              class="de.cau.cs.kieler.sccharts.featuregroups.Expansion">
        </featureGroupClass>
        <featureGroupClass
              class="de.cau.cs.kieler.sccharts.featuregroups.Statecharts">
        </featureGroupClass>
        <featureGroupClass
              class="de.cau.cs.kieler.sccharts.featuregroups.ScadeQuartzEsterel">
        </featureGroupClass>
        <featureGroupClass
              class="de.cau.cs.kieler.sccharts.featuregroups.SyncCharts">
        </featureGroupClass>
        <featureClass
              class="de.cau.cs.kieler.sccharts.enforcer.EnforcerFeature">
        </featureClass>
     </extension>
     <extension
           point="de.cau.cs.kieler.kicool.processor">
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.SurfaceDepthWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.TriggerEffectWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.AbortWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.ComplexFinalStateWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.ConnectorWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.WeakSuspendWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.SuspendWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.StaticWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.SignalWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.ReferenceWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.PreWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.MapWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.InitializationWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.HistoryWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.ForWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.ExitActionWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.EntryActionWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.DuringActionWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.DeferredWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.CountDelayWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.ConstWrapper">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.Snapshot">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.Reference">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.For">
        </Processor>
        <Processor
              class="de.cau.cs.kieler.sccharts.processors.transformators.TakenTransitionSignaling">
        </Processor>
     </extension>
     <extension
           point="de.cau.cs.kieler.kicool.system">
        <TransformationSystem
              system="system/de.cau.cs.kieler.sccharts.core.kico">
        </TransformationSystem>
        <TransformationSystem
              system="system/de.cau.cs.kieler.sccharts.extended.simple.kico">
        </TransformationSystem>
        <TransformationSystem
              system="system/de.cau.cs.kieler.sccharts.extended.kico">
        </TransformationSystem>
        <TransformationSystem
              system="system/de.cau.cs.kieler.sccharts.extended.core.simple.kico">
        </TransformationSystem>
     </extension>


</plugin>
