<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 KIELER - Kiel Integrated Environment for Layout Eclipse RichClient
 
 http://www.informatik.uni-kiel.de/rtsys/kieler/
 
 Copyright 2009 by
 + Christian-Albrechts-University of Kiel
   + Department of Computer Science
     + Real-Time and Embedded Systems Group
 
 This code is provided under the terms of the Eclipse Public License (EPL).
 See the file epl-v10.html for the license text.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://kieler.cs.cau.de/sccharts/0.1.0"
            class="de.cau.cs.kieler.sccharts.SCChartsPackage"
            genModel="model/sccharts.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler.sccharts.commands.category"
            id="de.cau.cs.kieler.sccharts.commands.AllCoreTransformations"
            name="AllCoreTransformations">
      </command>
      <category
            id="de.cau.cs.kieler.sccharts.commands.category"
            name="SCCharts Transformations">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_ALL">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_CORE">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_NORMALIZE">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_ABORT">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_SURFACEDEPTH">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_TRIGGEREFFECT">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_SIGNAL">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_INPUTOUTPUTVARIABLE">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_ENTRY">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_DURING">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_EXIT">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_CONNECTOR">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_HISTORY">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_WEAKSUSPEND">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_SUSPEND">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_COUNTDELAY">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_DEFERRED">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_PRE">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_EXPOSELOCALVARIABLE">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_TERMINATION">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_COMPLEXFINALSTATE">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="SCC_INITIALIZATION">
      </handler>
      <handler
            class="de.cau.cs.kieler.sccharts.handler.SccModelFileHandler"
            commandId="CCC_STATIC">
      </handler>
   </extension>


   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="de.cau.cs.kieler.sccharts.coretransformations"
               label="Transform SCChart"
               mnemonic="T">
            <separator
                  name="de.cau.cs.kieler.core.ui.separator1"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_ALL"
               label="All Transformations"
               mnemonic="A"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_CORE"
               label="All Core Transformations"
               mnemonic="C"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_NORMALIZE"
               label="All Normalize Transformations"
               mnemonic="N"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <separator
               name="de.cau.cs.kieler.sccharts.separator1scc"
               visible="true">
         </separator>
         <command
               commandId="INVALID"
               label="===|   SCADE/QUARTZ/Esterel Features   |==="
               mnemonic=""
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
      <command
               commandId="SCC_HISTORY"
               label="History Transitions"
               mnemonic="H"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_WEAKSUSPEND"
               label="Weak Suspends"
               mnemonic="W"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_DEFERRED"
               label="Deferred Transitions"
               mnemonic="D"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_STATIC"
               label="Static Declaration"
               mnemonic="S"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="INVALID"
               label="=======|   SyncCharts Features  |======="
               mnemonic=""
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_SIGNAL"
               label="Signals"
               mnemonic="A"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_COUNTDELAY"
               label="Count Delay Transitions"
               mnemonic="D"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_PRE"
               label="Pre Operators"
               mnemonic="P"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_SUSPEND"
               label="Suspend Actions"
               mnemonic="D"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="INVALID"
               label="=======|   Statecharts Features  |======="
               mnemonic="" 
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
     <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_COMPLEXFINALSTATE"
               label="Complex Final States"
               mnemonic="D"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution> 
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_ABORT"
               label="Strong and Weak Aborts"
               mnemonic="A"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_DURING"
               label="During Actions"
               mnemonic="D"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_INITIALIZATION"
               label="Initializations"
               mnemonic="I"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_ENTRY"
               label="Entry Actions"
               mnemonic="E"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_EXIT"
               label="Exit Actions"
               mnemonic="X"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_CONNECTOR"
               label="Connector States"
               mnemonic="X"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <separator
               name="de.cau.cs.kieler.sccharts.separator2scc"
               visible="true">
         </separator>
         <command
               commandId="INVALID"
               label="==========|  Normalization  |========="
               mnemonic=""
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_TRIGGEREFFECT"
               label="Split Triggers and Effects"
               mnemonic="S"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_SURFACEDEPTH"
               label="Surface and Depth"
               mnemonic="T"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <separator
               name="de.cau.cs.kieler.sccharts.separator4scc"
               visible="true">
         </separator>
         <command
               commandId="INVALID"
               label="========|  Advanced Options  |========"
               mnemonic=""
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_TERMINATION"
               label="Termination Transitions"
               mnemonic="D"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_INPUTOUTPUTVARIABLE"
               label="Input Output Variables"
               mnemonic="V"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.sccharts.coretransformations">
         <command
               commandId="SCC_EXPOSELOCALVARIABLE"
               label="Expose Local Variables"
               mnemonic="L"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution> <!--  -->

   </extension>
   
     <extension
         point="de.cau.cs.kieler.kico.transformation">
      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            dependencies="STATIC"
            id="HISTORY"
            method="transformHistory"
            name="Transform History">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            dependencies="STATIC, DEFERRED, COMPLEXFINALSTATE"
            id="WEAKSUSPEND"
            method="transformWeakSuspend"
            name="Transform Weak Suspend">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            dependencies="WEAKSUSPEND"
            id="DEFERRED"
            method="transformDeferred"
            name="Transform Deferred">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            dependencies="HISTORY, WEAKSUSPEND"
            id="STATIC"
            method="transformStatic"
            name="Transform Static">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            dependencies="DURING"
            id="SIGNAL"
            method="transformSignal"
            name="Transform Signal">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            dependencies="DURING"
            id="COUNTDELAY"
            method="transformCountDelay"
            name="Transform Count Delay">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            dependencies="INITIALIZATION"
            id="PRE"
            method="transformPre"
            name="Transform Pre">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            id="SUSPEND"
            method="transformSuspend"
            name="Transform Suspend">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            dependencies="ABORT"
            id="COMPLEXFINALSTATE"
            method="transformComplexFinalState"
            name="Transform Complex Final State">
      </transformationMethod>

      <transformationGroup
            alternatives="true"
            id="ABORT"
            name="Transform Abort"
            transformations="ABORTDEFAULT, ABORTALTERNATIVE">
      </transformationGroup>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            dependencies="EXIT, ENTRY, DURING, INITIALIZATION"
            id="ABORTDEFAULT"
            method="transformAbortDefault"
            name="Transform Abort">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            dependencies="EXIT, ENTRY, DURING, INITIALIZATION"
            id="ABORTALTERNATIVE"
            method="transformAbortAlternative"
            name="Transform Abort Alternative">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            dependencies="INITIALIZATION"
            id="DURING"
            method="transformDuring"
            name="Transform During">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            dependencies="ENTRY"
            id="INITIALIZATION"
            method="transformInitialization"
            name="Transform Initialization">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            dependencies="CONNECTOR"
            id="ENTRY"
            method="transformEntry"
            name="Transform Entry">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            dependencies="CONNECTOR"
            id="EXIT"
            method="transformExit"
            name="Transform Exit">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            id="CONNECTOR"
            method="transformConnector"
            name="Transform Connector">
      </transformationMethod>

      <transformationGroup
            id="CORE"
            transformations="HISTORY, WEAKSUSPEND, DEFERRED, STATIC, SIGNAL, COUNTDELAY, PRE, SUSPEND, COMPLEXFINALSTATE, ABORT, DURING, INITIALIZATION, ENTRY, EXIT, CONNECTOR"
            name="Transform All Core">
      </transformationGroup>

      <transformationGroup
            id="NORMALIZE"
            transformations="TRIGGEREFFECT, SURFACEDEPTH"
            name="Transform All Normalize">
      </transformationGroup>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            id="TRIGGEREFFECT"
            method="transformTriggerEffect"
            name="Transform Trigger and Effect">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            id="SURFACEDEPTH"
            method="transformSurfaceDepth"
            name="Transform Surface Depth">
      </transformationMethod>

      <transformationGroup
            id="ALL"
            transformations="CORE, NORMALIZE"
            name="Transform All">
      </transformationGroup>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            id="INPUTOUTPUTVARIABLE"
            method="transformInputOutputVariable"
            name="Transform Input Output Variable">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            id="EXPOSELOCALVARIABLE"
            method="transformExposeLocalVariable"
            name="Transform Expose Local Variable">
      </transformationMethod>

      <transformationMethod
            class="de.cau.cs.kieler.sccharts.extensions.SCChartsCoreTransformation"
            id="TERMINATION"
            method="transformTermination"
            name="Transform Termination">
      </transformationMethod>
      
   </extension>   


</plugin>
