<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.sim.kart.MessageDialog" name="KART Message Dialog" schema="schema/de.cau.cs.kieler.sim.kart.MessageDialog.exsd"/>
   <extension-point id="de.cau.cs.kieler.sim.kart.Refresh" name="Refresh" schema="schema/de.cau.cs.kieler.sim.kart.Refresh.exsd"/>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.sim.kart.DataValidationComponent"
            id="de.cau.cs.kieler.sim.kart.validation"
            name="KART - Validate/Record Output">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.sim.kart.DataReplayComponent"
            id="de.cau.cs.kieler.sim.kart.replay"
            name="KART - Replay/Record Input">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.eventListener">
      <content
            class="de.cau.cs.kieler.sim.kart.DataReplayComponent"
            id="de.cau.cs.kieler.sim.kart.DataReplayComponent"
            name="DataReplayComponent">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.eventListener">
      <content
            class="de.cau.cs.kieler.sim.kart.DataValidationComponent"
            id="de.cau.cs.kieler.sim.kart.DataValidationComponent"
            name="DataValidationComponent">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.config.DefaultScheduleContributor">
      <executionFile
            file="execution/synccharts_sc_kart.execution">
         <editor
               id="de.cau.cs.kieler.synccharts.diagram.part.SyncchartsDiagramEditorID"
               name="SyncChart Diagram Editor"
               priority="7">
         </editor>
      </executionFile>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.config.DefaultScheduleContributor">
      <executionFile
            file="execution/esterel_kart.execution">
         <editor
               id="de.cau.cs.kieler.esterel.Esterel"
               name="Esterel Editor"
               priority="7">
         </editor>
      </executionFile>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.config.DefaultScheduleContributor">
      <executionFile
            file="execution/synccharts_ptolemy_kart.execution">
         <editor
               id="de.cau.cs.kieler.s.S"
               name="S Editor"
               priority="7">
         </editor>
      </executionFile>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.config.DefaultScheduleContributor">
      <executionFile
            file="execution/s_sc_kart.execution">
         <editor
               id="de.cau.cs.kieler.s.S"
               name="de.cau.cs.kieler.esterel.Esterel"
               priority="7">
         </editor>
      </executionFile>
   </extension>

</plugin>
