<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.sim.kart.MessageDialog" name="KART Message Dialog" schema="schema/de.cau.cs.kieler.sim.kart.MessageDialog.exsd"/>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.sim.kart.DataValidationComponent"
            id="de.cau.cs.kieler.sim.kart.validation"
            name="KART - Validate/Record Output">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.sim.kart.DataReplayComponent"
            id="de.cau.cs.kieler.sim.kart.replay"
            name="KART - Replay/Record Input">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.eventListener">
      <content
            class="de.cau.cs.kieler.sim.kart.DataReplayComponent"
            id="de.cau.cs.kieler.sim.kart.DataReplayComponent"
            name="DataReplayComponent">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.eventListener">
      <content
            class="de.cau.cs.kieler.sim.kart.DataValidationComponent"
            id="de.cau.cs.kieler.sim.kart.DataValidationComponent"
            name="DataValidationComponent">
      </content>
   </extension>

</plugin>
