<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kev.data">
      <content
            class="de.cau.cs.kieler.kev.extension.krep.KrepAnimationDataController"
            id="de.cau.cs.kieler.kev.extension.krep.content1"
            name="de.cau.cs.kieler.kev.extension.krep.content1">
      </content>
   </extension>
   <extension
         point="krep.evalbench.tickManager">
      <manager
            class="de.cau.cs.kieler.kev.extension.krep.KrepTickManager"
            id="de.cau.cs.kieler.kev.extension.krep.manager1">
      </manager>
   </extension>

</plugin>
