scchart SyncChart {
  input signal power;
  output signal running;

  initial state off
  --> on with power;

  state on {

    initial state sustain
    --> sustain with / running;
  }
  o-> off with power;
}