scchart _151_pre_referenced_signals_no_signal_dependency
"151-pre-referenced-signals-no-signal-dependency" {
  output signal O;
  input signal I;
  output signal int B;
  output signal O2;
  output signal int preB;

  region Region:

  initial state A
  --> B with I / B(2);

  state C;

  state EB {

    initial state ib
    --> fb immediate with !pre(B) / O;

    state fb;

    region:

    initial state ib
    --> fb immediate with pre(B) / O2;

    state fb;
  }
  --> C immediate with / B(4);

  state B
  --> EB with I;

  region:

  initial state PreB
  --> PreB with pre(B) / preB(pre(val(B)));
}