scchart _155_surfacedepth "155-surfacedepth" {
  input signal I1;
  input signal I2;
  output signal O1;
  output signal O2;
  input signal I3;
  input signal I4;
  output signal O3;
  output signal O4;

  state A
  --> B immediate with I1 / O1
  --> C with I2 / O2
  --> D immediate with I3 / O3
  --> E with I4 / O4;

  state B;

  state C;

  state D;

  state E;

  initial state I
  --> A;
}