scchart _22_history_mixed_with_nonhistory "22-history-mixed-with-nonhistory" {
  output signal O1;
  output signal O2;
  output signal O3;
  input signal RI;
  input signal HI;
  input signal RO;
  input signal HO;

  initial state A2 {

    initial state A {

      initial state C
      --> B with / O1;

      state B
      --> D with / O2;

      state D
      --> C with / O3;
    }
    o-> E with RI
    --> E with HI;

    state E
    --> A history with HI
    --> A with RI;
  }
  o-> E2 with RO
  --> E2 with HO;

  state E2
  --> A2 history with HO
  --> A2 with RO;
}