scchart ^suspend {
  input signal I;
  input signal I2;
  output signal O1;
  output signal O2;
  output signal O3;

  initial state A2 {

    initial state A {

      initial state B
      --> C with / O1;

      state C
      --> D with / O2;

      state D
      --> B with / O3;
    };
  };
}