scchart _31_entry_action_of_initial_state "31-entry-action-of-initial-state" {
  output signal O;
  output signal O2;
  output signal O3;
  output signal O4;
  output signal O5;
  output signal O6;
  input signal W;
  input signal S;
  input signal R;

  initial state A
  --> B;

  state B {

    initial state C
    --> _2 with W
    o-> _2 with S;

    state _2;
  }
  --> B with R;
}