scchart _32_exit_actions_charles_andre_paper
"32-exit-actions-charles-andre-paper" {
  output signal X0;
  output signal X10;
  output signal X11;
  output signal Y0;
  output signal Y1;
  output signal Y2;
  output signal Z;
  input signal a;
  input signal b;
  input signal R;
  output signal X2;

  initial state M0 {

    initial state M10 {

      initial state M2
      --> _ with b / X2;

      final state _;
    }
    o-> done with a / X10
    >-> done with / X11;

    state done;

    region:

    initial state M11;
  }
  o-> M0 with R / X0;
}