scchart _75_concurrent_and_hierarchical_write_dependency_weak_aborted_immediate
"75-concurrent-and-hierarchical-write-dependency-weak-aborted-immediate" {
  output signal O;
  output signal L;
  input signal I;
  output signal O2;

  initial state A {

    initial state B
    --> C immediate with L / O;

    state C;
  }
  --> D immediate with / O2;

  state D;

  region:

  initial state E
  --> F immediate with I / L;

  state F
  --> F with I / L;
}