scchart _79_exit_actions_strongreset_outside_left
"79-exit-actions-strongreset-outside-left" {
  output signal O;
  input signal S;
  input signal R;

  initial state B {

    initial state C2 "C"
    --> D with S;

    state D;
  }
  o-> B with R;
}