scchart circle {
  input bool A;
  input bool B;
  input bool C;
  input bool D;
  
  region circle:
  
  initial state S0
  --> S1 with A / 'stepRoutine()';
  state S1
  --> S2 with B / 'stepRoutine()';
  state S2
  --> S3 with C / 'stepRoutine()';
  state S3
    --> S0 with D / 'stepRoutine()';
}