<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.cau.cs.kieler.sccharts.launchconfig.LaunchConfiguration"
            id="de.cau.cs.kieler.sccharts.launchconfig.scchartsLaunchConfiguration"
            modes="run,debug"
            name="SCCharts Application"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.cau.cs.kieler.sccharts.launchconfig.ui.SCChartsLaunchConfigurationTabGroup"
            id="de.cau.cs.kieler.sccharts.launchconfig.ui.scchartsLaunchConfigurationTabGroup"
            type="de.cau.cs.kieler.sccharts.launchconfig.scchartsLaunchConfiguration">
         <launchMode
               mode="run">
         </launchMode>
         <launchMode
               mode="debug">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.cau.cs.kieler.sccharts.launchconfig.SCTLaunchShortcut"
            id="de.cau.cs.kieler.sccharts.launchconfig.SCTLaunchShortcut"
            label="SCT Application"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.sct"/>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
