<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cau.cs.kieler.synccharts.synchronizer.ModelSynchronizer">
      </startup>
   </extension -->
   <extension
         point="de.cau.cs.kieler.synccharts.triggerListener">
      <triggerListener
            class="de.cau.cs.kieler.synccharts.synchronizer.ModelChangeTriggerListener">
      </triggerListener>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="de.cau.cs.kieler"
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.synccharts.synchronizer.SyncroActivationHandler"
            id="de.cau.cs.kieler.synccharts.synchronizer.Activate"
            name="ActiveSynchronization">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <!-- extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:de.cau.cs.kieler?after=de.cau.cs.kieler.kiml.ui.command.layout">
         <command
               commandId="de.cau.cs.kieler.synccharts.synchronizer.Activate"
               icon="icons/obj16/refresh.gif"
               label="ActivateSynchronization"
               style="toggle">
         </command>
      </menuContribution>
   </extension -->
   <extension
         point="org.eclipse.emf.compare.diff.mergerprovider">
      <mergerprovider
            fileExtension="action"
            mergerProviderClass="de.cau.cs.kieler.synccharts.synchronizer.merge.KitsMergerProvider"
            priority="normal">
      </mergerprovider>
      <mergerprovider
            fileExtension="kixs"
            mergerProviderClass="de.cau.cs.kieler.synccharts.synchronizer.merge.KitsMergerProvider"
            priority="normal">
      </mergerprovider>
      <mergerprovider
            fileExtension="kits"
            mergerProviderClass="de.cau.cs.kieler.synccharts.synchronizer.merge.KitsMergerProvider"
            priority="normal">
      </mergerprovider>
      <mergerprovider
            fileExtension="kitsem"
            mergerProviderClass="de.cau.cs.kieler.synccharts.synchronizer.merge.KitsMergerProvider"
            priority="normal">
      </mergerprovider>
      <mergerprovider
            fileExtension="kitsState"
            mergerProviderClass="de.cau.cs.kieler.synccharts.synchronizer.merge.KitsMergerProvider"
            priority="normal">
      </mergerprovider>
   </extension>
   <extension
         point="org.eclipse.emf.compare.match.engine">
      <matchengine
            engineClass="de.cau.cs.kieler.synccharts.synchronizer.match.KitsMatchEngine"
            label="de.cau.cs.kieler.synccharts.synchronizer.match.KitsMatchEngine"
            namespace="http://kieler.cs.cau.de/synccharts/0.2.4"
            priority="highest">
      </matchengine>
   </extension>
   <extension
         point="org.eclipse.emf.compare.diff.engine">
      <diffengine
            engineClass="de.cau.cs.kieler.synccharts.synchronizer.diff.KitsDiffEngine"
            label="de.cau.cs.kieler.synccharts.synchronizer.diff.KitsDiffEngine"
            namespace="http://kieler.cs.cau.de/synccharts/0.2.4"
            priority="normal">
      </diffengine>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.synccharts.synchronizer.kitsView.KitsView"
            icon="icons/obj16/SyncchartsTextFile.gif"
            id="de.cau.cs.kieler.synccharts.synchronizer.kitsView"
            name="Textual SyncCharts (KITS)"
            restorable="true">
      </view>
   </extension>

</plugin>
