<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.circuit.kivi.CircuitVisualizationDataComponent"
            id="de.cau.cs.kieler.circuit.kivi.activitydatacomponent"
            name="Circuit Visualization">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.eventListener">
      <content
            class="de.cau.cs.kieler.circuit.kivi.CircuitVisualizationDataComponent">
      </content>
   </extension>

</plugin>
