<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.uml2.kivi.StateMachineDataComponent"
            id="de.cau.cs.kieler.uml2.kivi.statemachinedatacomponent"
            name="UML2 StateMachine Visualization">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            class="de.cau.cs.kieler.uml2.kivi.StateMachineCombination"
            description="Highlights active states during simulation."
            name="UML2 StateMachine Simulation Visualization">
      </combination>
   </extension>

</plugin>
