<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.transformations.GuiceBasedTransformationFactory:de.cau.cs.kieler.sccharts.prio.dependencies.klighd.xtend.DependencyDiagramSynthesis"
            id="de.cau.cs.kieler.sccharts.prio.dependencies.klighd.xtend.DependencyDiagramSynthesis">
      </diagramSynthesis>
   </extension>
   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            active="true"
            class="de.cau.cs.kieler.sccharts.prio.dependencies.klighd.xtend.DependencyDiagramSynthesisCombination"
            name="Visualize chosen Dependency files and SCCharts dependencies">
      </combination>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.cau.cs.kieler.sim"
            class="de.cau.cs.kieler.sccharts.prio.dependencies.klighd.ViewPart1"
            icon="icons/dependenciesViewIcon.png"
            id="de.cau.cs.kieler.sccharts.prio.dependencies.klighd.view1"
            name="SCCharts Priority Dependencies"
            restorable="true">
      </view>
   </extension>

</plugin>
