<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.s.sj.SJGenerator"
            description="Generate SJ-Code"
            id="de.cau.cs.kieler.s.sj.s2sj"
            name="S 2 SJ Transformation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:de.cau.cs.kieler">
         <command
               commandId="de.cau.cs.kieler.s.sj.s2sj"
               label="S 2 SJ Transformation"
               style="push"
               tooltip="generate SJ-Code for the current S">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeEditorId">
                  <equals
                        value="de.cau.cs.kieler.s.S">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:de.cau.cs.kieler">
         <command
               commandId="de.cau.cs.kieler.s.sj.s2sj"
               label="S 2 SJ Transformation"
               style="push"
               tooltip="generate SJ-Code for the current S">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeEditorId">
                  <equals
                        value="de.cau.cs.kieler.s.S">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
