<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kev.data">
      <content
            class="de.cau.cs.kieler.kev.extension.scade.AnimationDataController"
            id="de.cau.cs.kieler.kev.extension.scade.content1"
            name="SCADE Slave Simulator Controller (6.0d)">
      </content>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.kev.PreferencePage"
            class="de.cau.cs.kieler.kev.extension.scade.WorkbenchPreferencePage"
            id="de.cau.cs.kieler.kev.extension.scade.page1"
            name="SCADE Slave Simulator Controller">
      </page>
   </extension>

</plugin>
