@diagram[KLayLayered] false  
@VHLayout  
scchart ExitActionStrongAbort {
  output bool Ae1 = false;
  output bool A1 = false, A2 = false, A3 = false;
  input bool T1;
  input bool T2; 
  
  initial state S1  --> S2;

  state S2 {
    exit / Ae1 = true;

    initial state S21
    --> S22 with T1 / A1 = true;

    final state S22;
  }
  o-> S3 immediate with T2 / A2 = true
  >-> S3 with / A3 = true;

  state S3;
}