<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 KIELER - Kiel Integrated Environment for Layout Eclipse RichClient
 
 http://www.informatik.uni-kiel.de/rtsys/kieler/
 
 Copyright 2010 by
 + Christian-Albrechts-University of Kiel
   + Department of Computer Science
     + Real-Time and Embedded Systems Group
 
 This code is provided under the terms of the Eclipse Public License (EPL).
 See the file epl-v10.html for the license text.
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated annotations -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.cau.cs.kieler.core.annotations.presentation.AnnotationsModelWizardID"
            name="%_UI_AnnotationsModelWizard_label"
            class="de.cau.cs.kieler.core.annotations.presentation.AnnotationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AnnotationsModelFile.gif">
         <description>%_UI_AnnotationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated annotations -->
      <editor
            id="de.cau.cs.kieler.core.annotations.presentation.AnnotationsEditorID"
            name="%_UI_AnnotationsEditor_label"
            icon="icons/full/obj16/AnnotationsModelFile.gif"
            extensions="annotations"
            class="de.cau.cs.kieler.core.annotations.presentation.AnnotationsEditor"
            contributorClass="de.cau.cs.kieler.core.annotations.presentation.AnnotationsActionBarContributor">
      </editor>
   </extension>

</plugin>
