scchart SyncChart {
  signal pure door;
  input signal pure up;
  output signal pure out;

  initial state s1 {

    initial state s1
    --> s2 with up / door;

    state s2;
  };

  region:

  initial state s1
  --> s2 with door / out;

  state s2;
}