scchart S0 "TokenRingArbiter" {
  output signal pure T1;
  output signal pure T2;
  input signal pure InitialToken;

  initial state t2
  --> tt2 with T2;

  state tt2
  --> t2 / T1;

  region:

  initial state station1 {

    initial state t1
    --> tt1 with T1 | InitialToken;

    state tt1
    --> t1 / T2;
  };
}