<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.synccharts.kivi.SyncChartsDataComponent"
            id="de.cau.cs.kieler.synccharts.kivi.stateactivitydatacomponent"
            name="SyncCharts Visualization">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            class="de.cau.cs.kieler.synccharts.kivi.SyncChartsCombination"
            description="Highlights active states during simulation."
            name="SyncCharts Simulation Visualization"
            active="true">
      </combination>
      <combination
            class="de.cau.cs.kieler.synccharts.kivi.SignalFlowCombination"
            description="Visualizes the flow of signals in a SyncChart diagram."
            name="SyncCharts Signal Flow Visualization"
            active="true">
      </combination>
  <!--    <combination
            class="de.cau.cs.kieler.synccharts.kivi.LayoutAfterCollapseCombination"
            description="Performs automatic layout after a node has been collapsed or expanded."
            name="Layout After CollapseEffect Combination"
            active="true">
      </combination>
      -->
      <combination
            class="de.cau.cs.kieler.synccharts.kivi.LayoutAfterModelChangedCombination"
            description="Performs automatic layout after the model has been changed, e.g. a String label has been changed or a compartment has been collapsed or expanded."
            name="SyncCharts Layout After Model Changed"
            active="true">
      </combination>
      <combination
            active="true"
            class="de.cau.cs.kieler.synccharts.kivi.ManualFocusCombination"
            description="Focus&amp;Context by manual selection of elements in the focus, or by selecting hierarchy levels that should be visible."
            name="Manual Focus (Semantic Zoom)">
      </combination>
      <combination
            active="true"
            class="de.cau.cs.kieler.synccharts.kivi.GenerateDefaultCombination"
            description="Adds a default state and region to any empty SyncChart."
            name="SyncCharts Add Default State to Empty Diagrams">
      </combination>
      <combination
            active="true"
            class="de.cau.cs.kieler.synccharts.kivi.HideTransitionLabelsCombination"
            description="Adds buttons to the toolbar to show or hide the labels of transitions in a SyncChart."
            name="SyncCharts Hide / Show Transition Labels">
      </combination>
   </extension>
</plugin>
