<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.synccharts.kivi.SyncChartsDataComponent"
            id="de.cau.cs.kieler.synccharts.kivi.stateactivitydatacomponent"
            name="SyncCharts Visualization">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            class="de.cau.cs.kieler.synccharts.kivi.SyncChartsCombination"
            description="Highlights active states during simulation."
            name="SyncCharts Simulation Visualization"
            active="true">
      </combination>
      <combination
            class="de.cau.cs.kieler.synccharts.kivi.SignalFlowCombination"
            description="Visualizes the flow of signals in a SyncChart diagram."
            name="SyncCharts Signal Flow Combination"
            active="true">
      </combination>
      <combination
            class="de.cau.cs.kieler.synccharts.kivi.LayoutAfterCollapseCombination"
            description="Performs automatic layout after a node has been collapsed or expanded."
            name="Layout After CollapseEffect Combination"
            active="true">
      </combination>
      <combination
            class="de.cau.cs.kieler.synccharts.kivi.LayoutAfterLabelChangedCombination"
            description="Performs automatic layout after the model has been changed."
            name="SyncCharts Layout After Model Changed"
            active="true">
      </combination>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:de.cau.cs.kieler">
         <command
               commandId="de.cau.cs.kieler.synccharts.kivi.command.signalflow"
               icon="icons/signalflow.gif"
               label="Signal Flow"
               style="toggle"
               tooltip="Show the flow of signals">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditor">
                  <test
                        forcePluginActivation="false"
                        property="de.cau.cs.kieler.synccharts.kivi.isSyncChartsEditor">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.synccharts.kivi.SignalFlowHandler"
            id="de.cau.cs.kieler.synccharts.kivi.command.signalflow"
            name="Signal Flow">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="de.cau.cs.kieler.synccharts.kivi.SignalFlowTester"
            id="de.cau.cs.kieler.synccharts.kivi.isSyncChartsEditor"
            namespace="de.cau.cs.kieler.synccharts.kivi"
            properties="isSyncChartsEditor"
            type="org.eclipse.ui.IEditorPart">
      </propertyTester>
   </extension>
   <extension
         point="de.cau.cs.kieler.synccharts.triggerListener">
      <triggerListener
            class="de.cau.cs.kieler.synccharts.kivi.ModelChangedTrigger$ModelChangedTriggerListener">
      </triggerListener>
   </extension>
</plugin>
