scchart S0 "TokenRingArbiter" {
  signal P1;
  signal P2;
  signal P3;
  output signal T1;
  output signal T2;
  output signal T3;
  input signal R1;
  input signal R2;
  input signal R3;
  output signal G1;
  output signal G2;
  output signal G3;
  input signal InitialToken;

  initial state S0 "station2" {

    initial state s2
    --> s2 with R2 & (T2 | P2) / G2
    --> s2 with !R2 & (T2 | P2) / P3;

    region:

    initial state t2
    --> tt2 with T2;

    state tt2
    --> t2 with / T3;
  };

  region:

  initial state S0 "station3" {

    initial state s3
    --> s3 with R3 & (T3 | P3) / G3
    --> s3 with !R3 & (T3 | P3) / P1;

    region:

    initial state t3
    --> tt3 with T3;

    state tt3
    --> t3 with / T1;
  };

  region:

  initial state S0 "station1" {

    initial state s1
    --> s1 with R1 & (T1 | InitialToken | P1) / G1
    --> s1 with !R1 & (T1 | InitialToken | P1) / P2;

    region:

    initial state t2
    --> tt2 with T1 | InitialToken;

    state tt2
    --> t2 with / T2;
  };
}