scchart S0 "TokenRingArbiter" {
  output signal T1;
  output signal T2;
  input signal InitialToken;

  initial state t2
  --> tt2 with T2;

  state tt2
  --> t2 with / T1;

  region:

  initial state station1 {

    initial state t1
    --> tt1 with T1 | InitialToken;

    state tt1
    --> t1 with / T2;
  };
}