scchart Chooser {
  input bool condition;
  
  region chooseRegion:
  
  initial state init
  --> simple immediate with condition
  --> complex immediate;
  state simple{
  region simpleR:
  initial state init
  --> done immediate with / 'simpleCalculation()';
  final state done;
  }
  >-> done immediate;
  state complex{
  region complexR:
  initial state init
  --> done immediate with / 'complexCalculation()';
  final state done;
  }
  >-> done immediate;
  final state done;
}