<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="animationHandler" name="AnimationHandler" schema="schema/animationHandler.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.cau.de/cs/kieler/KVis" 
       class = "de.cau.cs.kieler.kvis.KVisPackage"
       genModel = "model/generated/KVis.genmodel" /> 
	
  </extension>




</plugin>
