<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin> 
	<extension
       point="de.cau.cs.kieler.ksbase.configuration">
		<configuration XtendFile="src/transformations/feature.ext"
			contextId="de.cau.cs.kieler.synccharts.diagram.ui.diagramContext"
			defautlIcon="icons/obj16/State.gif"
			editor="de.cau.cs.kieler.synccharts.diagram.part.SyncchartsDiagramEditor"
			packageName="de.cau.cs.kieler.synccharts.SyncchartsPackage">
			<transformations>
				<transformation keyboardShortcut="M1+K S"
					name="Add Successor State" transformation="addSuccessorState"
					transformationId="de.cau.cs.kieler.sbase.addSuc">
				</transformation>
				<transformation keyboardShortcut="M1+K P"
					name="Add Predecessor State" transformation="addPredecessorState"
					transformationId="de.cau.cs.kieler.sbase.addPred">
				</transformation>
				<transformation keyboardShortcut="M1+K C" name="Add Choice"
					transformation="addChoice"
					transformationId="de.cau.cs.kieler.sbase.addChoice">
				</transformation>
				<transformation icon="icons/obj16/Transition.gif"
					keyboardShortcut="M1+K F" name="Flip Transition" 
					transformation="flipTransition" transformationId="de.cau.cs.kieler.sbase.flip">
				</transformation>
				<transformation icon="icons/obj16/Action.gif"
					keyboardShortcut="M1+K W" name="Connect States" 
					transformation="connectStates" transformationId="de.cau.cs.kieler.sbase.connect">
				</transformation>
				<transformation icon="icons/obj16/Region.gif" name="Add ABRO"
					transformation="addABRO" transformationId="de.cau.cs.kieler.sbase.addABRO">
				</transformation>
				<transformation icon="icons/obj16/Signal.gif" name="Create Default"
					transformation="createDefault" transformationId="de.cau.cs.kieler.sbase.empty">
				</transformation>
    <transformation
          keyboardShortcut="M1+K Q"
          name="Set Transition Target"
          transformation="rerouteTransitionTarget"
          transformationId="de.cau.cs.kieler.sbase.rerouteTarget">
       </transformation>
       <transformation
             keyboardShortcut="M1+K J"
             name="Set Transition Source"
             transformation="rerouteTransitionSource"
             transformationId="de.cau.cs.kieler.sbase.rerouteSource">
    	</transformation>
       <transformation
             icon="icons/obj16/Region.gif"
             keyboardShortcut="M1+K R"
             name="Add Region"
             transformation="addParallelRegion"
             transformationId="de.cau.cs.kieler.sbase.addRegion">
       </transformation>
			</transformations>
			<menus>
				<menuContribution locationURI="menu:de.cau.cs.kieler">
					<menu label="Templates" id="de.cau.cs.kieler.synccharts.sbase.templates">
						<transformationCommand transformationId="de.cau.cs.kieler.sbase.addABRO"></transformationCommand>
						<transformationCommand transformationId="de.cau.cs.kieler.sbase.empty">
						</transformationCommand>
					</menu>
					<menu label="Transitions" id="de.cau.cs.kieler.synccharts.sbase.trans">
        <transformationCommand
              transformationId="de.cau.cs.kieler.sbase.connect">
        </transformationCommand>
						<transformationCommand transformationId="de.cau.cs.kieler.sbase.flip"></transformationCommand>
      <transformationCommand
            transformationId="de.cau.cs.kieler.sbase.rerouteTarget">
      </transformationCommand>
      <transformationCommand
            transformationId="de.cau.cs.kieler.sbase.rerouteSource">
      </transformationCommand>
					</menu>
					<transformationCommand transformationId="de.cau.cs.kieler.sbase.addPred"></transformationCommand>
					<transformationCommand transformationId="de.cau.cs.kieler.sbase.addChoice">
					</transformationCommand>
					<transformationCommand transformationId="de.cau.cs.kieler.sbase.addSuc"></transformationCommand>
     <transformationCommand
           transformationId="de.cau.cs.kieler.sbase.addRegion">
     </transformationCommand>
				</menuContribution>
				<menuContribution locationURI="toolbar:de.cau.cs.kieler">
       <transformationCommand
             transformationId="de.cau.cs.kieler.sbase.addSuc">
       </transformationCommand>
					<transformationCommand transformationId="de.cau.cs.kieler.sbase.addRegion">
					</transformationCommand>
					<transformationCommand transformationId="de.cau.cs.kieler.sbase.flip"></transformationCommand>
				</menuContribution>
    <menuContribution
          locationURI="popup:de.cau.cs.kieler">
       <transformationCommand
             transformationId="de.cau.cs.kieler.sbase.addSuc">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.sbase.addPred">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.sbase.addRegion">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.sbase.addChoice">
       </transformationCommand>
       <transformationCommand
             transformationId="de.cau.cs.kieler.sbase.connect">
       </transformationCommand>
          <transformationCommand transformationId="de.cau.cs.kieler.sbase.flip"></transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.sbase.rerouteTarget">
          </transformationCommand>
          <transformationCommand
                transformationId="de.cau.cs.kieler.sbase.rerouteSource">
          </transformationCommand>
    </menuContribution>

			</menus>
		</configuration>
	</extension>
 
</plugin>
