<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.cau.cs.kieler.simulation.ui.launch.SimulationLaunchShortcut"
            icon="icons/foerde-logo-16.png"
            id="de.cau.cs.kieler.simulation.ui.simulationLaunchShortcut"
            label="KIELER Simulation"
            modes="run, debug"
            path="/kieler">
         <contextualLaunch>
            <enablement></enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.cau.cs.kieler.simulation.ui.toolbar.StepSimulation"
            commandId="de.cau.cs.kieler.simulation.ui.step">
      </handler>
      <handler
            class="de.cau.cs.kieler.simulation.ui.toolbar.StopSimulation"
            commandId="de.cau.cs.kieler.simulation.ui.stop">
      </handler>
      <handler
            class="de.cau.cs.kieler.simulation.ui.toolbar.StepSimulationMacroTick"
            commandId="de.cau.cs.kieler.simulation.ui.stepMacroTick">
      </handler>
      <handler
            class="de.cau.cs.kieler.simulation.ui.toolbar.PlaySimulation"
            commandId="de.cau.cs.kieler.simulation.ui.play">
      </handler>
      <handler
            class="de.cau.cs.kieler.simulation.ui.toolbar.PauseSimulation"
            commandId="de.cau.cs.kieler.simulation.ui.pause">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.cau.cs.kieler.simulation.ui.simulationToolbar"
               label="KIELER Simulation">
            <command
                  commandId="de.cau.cs.kieler.simulation.ui.step"
                  disabledIcon="icons/stepIconDisabled.png"
                  icon="icons/stepIcon.png"
                  id="de.cau.cs.kieler.simulation.ui.menus.step"
                  label="Step Simulation"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="de.cau.cs.kieler.simulation">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="de.cau.cs.kieler.simulation.ui.stepMacroTick"
                  disabledIcon="icons/macroStepIconDisabled.png"
                  icon="icons/macroStepIcon.png"
                  id="de.cau.cs.kieler.simulation.ui.menus.stepMacroTick"
                  label="Step Macro Tick"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="de.cau.cs.kieler.simulation">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="de.cau.cs.kieler.simulation.ui.stop"
                  disabledIcon="icons/stopIconDisabled.png"
                  icon="icons/stopIcon.png"
                  id="de.cau.cs.kieler.simulation.ui.menus.stop"
                  label="Stop Simulation"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="de.cau.cs.kieler.simulation">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="de.cau.cs.kieler.simulation.ui.play"
                  disabledIcon="icons/runIconDisabled.png"
                  icon="icons/runIcon.png"
                  id="de.cau.cs.kieler.simulation.ui.menus.play"
                  label="Play Simulation"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="de.cau.cs.kieler.simulation">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="de.cau.cs.kieler.simulation.ui.pause"
                  disabledIcon="icons/pauseIconDisabled.png"
                  icon="icons/pauseIcon.png"
                  id="de.cau.cs.kieler.simulation.ui.menus.pause"
                  label="Pause Simulation"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="de.cau.cs.kieler.simulation">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.cau.cs.kieler.sim"
            class="de.cau.cs.kieler.simulation.ui.views.DataPoolView"
            icon="icons/tableIcon.png"
            id="de.cau.cs.kieler.simulation.ui.dataPoolView"
            name="Data Pool"
            restorable="true">
      </view>
   </extension>
</plugin>
