<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Esterel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.cau.cs.kieler.esterel.esterel.presentation.EsterelModelWizardID"
            name="%_UI_EsterelModelWizard_label"
            class="de.cau.cs.kieler.esterel.esterel.presentation.EsterelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EsterelModelFile.gif">
         <description>%_UI_EsterelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Esterel -->
      <editor
            id="de.cau.cs.kieler.esterel.esterel.presentation.EsterelEditorID"
            name="%_UI_EsterelEditor_label"
            icon="icons/full/obj16/EsterelModelFile.gif"
            extensions="esterel"
            class="de.cau.cs.kieler.esterel.esterel.presentation.EsterelEditor"
            contributorClass="de.cau.cs.kieler.esterel.esterel.presentation.EsterelActionBarContributor">
      </editor>
   </extension>

</plugin>
