<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.sim.kiem.string.dataproducer" name="de.cau.cs.kieler.sim.kiem.string.dataproducer" schema="schema/de.cau.cs.kieler.sim.kiem.string.dataproducer.exsd"/>
   <extension-point id="de.cau.cs.kieler.sim.kiem.string.dataconsumer" name="de.cau.cs.kieler.sim.kiem.string.dataconsumer" schema="schema/de.cau.cs.kieler.sim.kiem.string.dataconsumer.exsd"/>
   <extension-point id="de.cau.cs.kieler.sim.kiem.json.dataproducer" name="de.cau.cs.kieler.sim.kiem.json.dataproducer" schema="schema/de.cau.cs.kieler.sim.kiem.json.dataproducer.exsd"/>
   <extension-point id="de.cau.cs.kieler.sim.kiem.json.dataconsumer" name="de.cau.cs.kieler.sim.kiem.json.dataconsumer" schema="schema/de.cau.cs.kieler.sim.kiem.json.dataconsumer.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.cau.cs.kieler.views.category"
            name="KIELER">
      </category>
      <view
            category="de.cau.cs.kieler.views.category"
            class="de.cau.cs.kieler.sim.kiem.views.KiemView"
            icon="icons/kiemIcon.png"
            id="de.cau.cs.kieler.sim.kiem.view"
            name="Execution Manager"
            restorable="true">
      </view>
   </extension>


</plugin>
