<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.sim.kiem.string.datacomponent" name="de.cau.cs.kieler.sim.kiem.string.datacomponent" schema="schema/de.cau.cs.kieler.sim.kiem.string.datacomponent.exsd"/>
   <extension-point id="de.cau.cs.kieler.sim.kiem.json.datacomponent" name="de.cau.cs.kieler.sim.kiem.json.datacomponent" schema="schema/de.cau.cs.kieler.sim.kiem.json.datacomponent.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.sim.kiem.views.KiemView"
            icon="icons/kiemIcon.png"
            id="de.cau.cs.kieler.sim.kiem.view"
            name="Execution Manager"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.cau.cs.kieler.sim.kiem.KiemProxyEditor"
            default="true"
            extensions="execution"
            icon="icons/kiemIcon.png"
            id="de.cau.cs.kieler.sim.kiem.editor"
            name="Execution Manager">
      </editor>
   </extension>


</plugin>
