scchart CountDelays {
  input signal pure I;
  output signal pure O;
  input signal pure R;

  state M {

    initial state B
    --> C with 3 I / O;

    state C;
  }
  --> M with R;

  initial state A
  --> M;
}