<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.cau.cs.kieler.yakindu.synccharts.exporter.commands.category"
            name="SCCharts">
      </category>
      <command
            categoryId="de.cau.cs.kieler.yakindu.synccharts.exporter.commands.category"
            id="de.cau.cs.kieler.yakindu.synccharts.exporter.commands.SyncChartsExporter"
            name="SyncChartsExporter">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.cau.cs.kieler.yakindu.synccharts.exporter.ui.SyncChartsExporterCommandHandler"
            commandId="de.cau.cs.kieler.yakindu.synccharts.exporter.commands.SyncChartsExporter">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.cau.cs.kieler.yakindu.synccharts.exporter.commands.SyncChartsExporter"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.cau.cs.kieler.yakindu.synccharts.exporter.menus.SyncCharts"
               label="SCCharts"
               mnemonic="M">
            <command
                  commandId="de.cau.cs.kieler.yakindu.synccharts.exporter.commands.SyncChartsExporter"
                  id="Export SyncCharts"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.cau.cs.kieler.yakindu.sccharts.synccharts.exporter.commands.SCChartsExporter">
            <command
                  commandId="de.cau.cs.kieler.yakindu.synccharts.exporter.commands.SyncChartsExporter"
                  icon="icons/sample.gif"
                  id="SyncCharts to kixs"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.yakindu.synccharts.exporter.transformations">
         <command
               commandId="de.cau.cs.kieler.yakindu.synccharts.exporter.commands.SyncChartsExporter"
               label="SyncCharts to kixs"
               mnemonic="A"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="ysc">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="de.cau.cs.kieler.yakindu.synccharts.exporter.transformations"
               label="Export"
               mnemonic="T">
            <separator
                  name="de.cau.cs.kieler.core.ui.separator1"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
   </extension>

</plugin>
