// Having a valued signal without a combine operator
// is a valid use case. However this is WIP.
// When it is implemented, the target for this test has to be revised.
// See also KISEMA-1071
@Transformation SIGNAL
scchart ValuedSignal {
    signal int x;
 
    initial state A
    --> B with / x(3);
    
    state B;
}