scchart _105_weakabort_hierarchy_dependency "105-weakabort-hierarchy-dependency"
{
  input signal pure I;
  output signal pure O;
  signal pure L;
  output signal pure O2;

  initial state A {

    initial state B {

      initial state C
      --> D with I / L; O;

      state D;
    };
  }
  --> E with L / O2;

  state E;
}