scchart _51_initial_immediate_with_hierarchy_and_concurrency2
"51-initial-immediate-with-hierarchy-and-concurrency" {
  output signal pure O;
  output signal pure L;

  initial state A {

    initial state B
    --> C immediate / L;

    state C;
  };

  region:

  state E;

  initial state D
  --> E immediate with L / O;
}