<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.cau.cs.kieler.synccharts.codegen.esterel.EsterelGenerator"
            id="de.cau.cs.kieler.synccharts.codegen.esterel.genEsterel"
            name="genEsterel">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:de.cau.cs.kieler">
         <command
               commandId="de.cau.cs.kieler.synccharts.codegen.esterel.genEsterel"
               label="Generate Esterel code"
               mnemonic="generate Esterel code"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
