<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="de.cau.cs.kieler"
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.synccharts.codegen.esterel.EsterelGenerator"
            description="generateEsterel"
            id="de.cau.cs.kieler.synccharts.codegen.esterel.genEsterel"
            name="genEsterel">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:de.cau.cs.kieler">
         <command
               commandId="de.cau.cs.kieler.synccharts.codegen.esterel.genEsterel"
               label="generate Esterel code"
               mnemonic="generate Esterel code"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeEditorId">
                  <equals
                        value="de.cau.cs.kieler.synccharts.diagram.part.SyncchartsDiagramEditorID">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
