// Does not work: Exit actions are activated too early
@diagram[KLayLayered] false  
@VHLayout  
scchart ExitAction {
  output bool Ae1 = false, A2 = false;

  initial state S1 {
    exit / Ae1 = true;
  }
  --> S2 with / A2 = true;

  state S2;
}