@Transformation COMPLEXFINALSTATE
scchart ComplexFinalState {
  input bool I;
  
  initial state A {
    region R1:
        initial state A0
        --> A1;
    
        final state A1
        --> A0 with I;

    region R2:    
        initial state A2
        --> A3;
    
        final state A3;
  }>-> F;
  
  final state F;
}