scchart SyncChart {
  input signal I;
  output signal O;

  initial state ^normal {
    signal L;

    initial state s1
    --> s2 with L / O;

    state s2;

    region:

    initial state s3
    --> s4 with I / L;

    state s4;
  };
}