scchart S0 "nested_broadcast" {
  input signal I;
  signal L;
  output signal O;

  initial state S0 "macro1" {

    initial state S0 "s1"
    --> S1 with I / L;

    state S1 "s2";
  };

  region:

  initial state S0 "macro2" {

    initial state S0 "macro3" {

      initial state S0 "s3"
      --> S1 with L / O;

      state S1 "s4";
    };
  };
}