scchart SyncChart {
  input signal I;
  output signal O4;
  output signal O5;

  region _R0:

  initial state Initial
  --> H;

  state H {

    region _R0:

    initial state A
    --> B with I;

    final state B;
  }
  --> H with I / O4
  >-> E with / O5;

  state E;
}