scchart _33_valued_signals_test "33-valued-signals-test" {
  output signal int V = 0;

  initial state A
  --> B with / V(1);

  state B;

  region:

  initial state C
  --> D with val(V) == 1;

  state D;
}