scchart _48_suspend_immediate "48-suspend-immediate" {
  input signal S;
  input signal R;
  output signal O;
  output signal O2;

  initial state A {

    initial state B
    --> C immediate with / O;

    state C
    --> C with / O;
  }
  --> A with R;

  region:

  initial state A2 {

    initial state B2
    --> C2 immediate with / O2;

    state C2
    --> C2 with / O2;
  }
  --> A2 with R;
}