scchart H {
  input signal I1;
  output signal S1;
  output signal S2;
  output signal O1;
  input signal I2;
  output signal O2;
  input signal I3;
  output signal O3;
  output signal S3;

  region R1:

  initial state I1
  --> T1 with I2 / S2
  --> V1 with S3 / O3
  --> S1 with S1 / O1;

  state S1;

  state T1;

  state V1;

  region R0:

  initial state I0
  --> S0 with I1 / S1
  --> T0 with S2 / O2
  --> V0 with I3 / S3;

  state S0;

  state T0;

  state V0;
}