<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="de.cau.cs.kieler.kev.application.Perspective"
            id="de.cau.cs.kieler.kev.application.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.cau.cs.kieler.kev.application.kevapplication"
            name="KIEL Environment Visualization">
         <property
               name="windowImages"
               value="icons/kev_logo_16.gif,icons/kev_logo_32.gif,icons/kev_logo_48.gif,icons/kev_logo_64.gif,icons/kev_logo_128.gif">
         </property>
         <property
               name="appName"
               value="KIEL Environment Visualization">
         </property>
         <property
               name="aboutText"
               value="KIELER - Kiel Integrated Environment for Layout for Eclipse Rich Client Platform&#x0A;KEV - KIEL Environment Visualization&#x0A;by the Research Group of Realtime Systems/Embedded Systems&#x0A;Department of Computer Science&#x0A;Christian-Albrechts-Universität zu Kiel&#x0A;http://www.informatik.uni-kiel.de/en/rtsys/">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="0,600,360,20">
         </property>
         <property
               name="startupProgressRect"
               value="0,610,360,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/kev_about.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="File Actions"
            id="de.cau.cs.kieler.kev.application.actionSets.file"
            label="File Action Set"
            visible="true">
         <action
               class="de.cau.cs.kieler.kev.application.OpenFileAction"
               icon="icons/open.gif"
               id="de.cau.cs.kieler.kev.application.open"
               label="&amp;Open..."
               menubarPath="file/new.ext"
               state="false"
               style="push"
               toolbarPath="org.eclipse.ui.workbench.file/open.ext"
               tooltip="Open a new Environment Image">
         </action>
      </actionSet>
   </extension>
   <extension
         id="kevapplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.cau.cs.kieler.kev.application.Application">
         </run>
      </application>
   </extension>

</plugin>
