<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cau.cs.kieler.synccharts.labelparser.bridge.ActionLabelParserNotifier">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:de.cau.cs.kieler">
         <command
               commandId="de.cau.cs.kieler.synccharts.labelparser.bridge.parse"
               label="Parse"
               style="push"
               tooltip="Re-Parse all transition and action labels of current SyncChart.">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="de.cau.cs.kieler"
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.synccharts.labelparser.bridge.ActionLabelParseHandler"
            description="Re-parse all transition and action labels of the current SyncChart."
            id="de.cau.cs.kieler.synccharts.labelparser.bridge.parse"
            name="Parse all action labels">
      </command>
   </extension>
   <extension
         id="de.cau.cs.kieler.synccharts.labelparser.bridge.constraint1"
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true"
            mode="Live">
         <package
               namespaceUri="http://kieler.cs.cau.de/synccharts">
         </package>
         <constraints
               categories="de.cau.cs.kieler.synccharts">
            <constraint
                  class="de.cau.cs.kieler.synccharts.labelparser.bridge.ActionLabelParserConstraint"
                  id="de.cau.cs.kieler.synccharts.labelparser.bridge.constraint1"
                  lang="Java"
                  mode="Live"
                  name="Labelparser"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  Action label parse error.
               </message>
               <description>
                  Validation of action labels.
               </description>
            </constraint>
         </constraints>
         <target
               class="Action">
         </target>
         <target
               class="Transition">
         </target>
      </constraintProvider>
      <category
            id="de.cau.cs.kieler.synccharts"
            mandatory="false"
            name="SyncCharts Validation">
      </category>
   </extension>

</plugin>
