
@Transformation ABORT
scchart AbortAndConditionalTermination {
  input int I1;
  input int I2;
  output int O;
  bool _trig;

  initial state A {
    bool _termRegion;
    entry / _trig = false;
    entry / _termRegion = false;

    region _Ctrl:

    initial state _Run
    --> _Done with I1 / _trig = true
    --> _Done immediate with _termRegion && I2;

    final state _Done;

    region _Main:

    initial state _Main2 {

      initial state A0
      --> A1
      --> A1 immediate with _trig;

      final state A1;
    }
    >-> _Term with / _termRegion = true;

    final state _Term;
  }
  >-> _C;

  final state F1;

  final state F2;

  connector state _C
  --> F1 with I1 / O = 0
  --> F2 immediate with I2 / O = 1;
}