<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 KIELER - Kiel Integrated Environment for Layout Eclipse RichClient
 
 http://www.informatik.uni-kiel.de/rtsys/kieler/
 
 Copyright 2013 by
 + Kiel University
   + Department of Computer Science
     + Real-Time and Embedded Systems Group
 
 This code is provided under the terms of the Eclipse Public License (EPL).
 See the file epl-v10.html for the license text.
-->

<plugin
      name="%pluginName"
      id="de.cau.cs.kieler.sccharts.editor"
      version="1.0.0"
      provider-name="%providerName"
      class="de.cau.cs.kieler.sccharts.presentation.SCChartsEditorPlugin$Implementation">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources" export="true"/>
      <import plugin="de.cau.cs.kieler.sccharts.edit" export="true"/>
      <import plugin="org.eclipse.emf.ecore.xmi" export="true"/>
      <import plugin="org.eclipse.emf.edit.ui" export="true"/>
      <import plugin="org.eclipse.ui.ide" export="true"/>
      <import plugin="de.cau.cs.kieler.annotations.edit" export="true"/>
      <import plugin="de.cau.cs.kieler.kexpressions.edit" export="true"/>
      <import plugin="de.cau.cs.kieler.scl.edit" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sccharts -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.cau.cs.kieler.sccharts.presentation.SCChartsModelWizardID"
            name="%_UI_SCChartsModelWizard_label"
            class="de.cau.cs.kieler.sccharts.presentation.SCChartsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SCChartsModelFile.gif">
         <description>%_UI_SCChartsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sccharts -->
      <editor
            id="de.cau.cs.kieler.sccharts.presentation.SCChartsEditorID"
            name="%_UI_SCChartsEditor_label"
            icon="icons/full/obj16/SCChartsModelFile.gif"
            extensions="scc"
            class="de.cau.cs.kieler.sccharts.presentation.SCChartsEditor"
            contributorClass="de.cau.cs.kieler.sccharts.presentation.SCChartsActionBarContributor">
      </editor>
   </extension>

</plugin>
