<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="de.cau.cs.kieler.sccharts.debug.core.breakpoints.SCChartsBreakpoint"
            id="scchartsBreakpoint"
            markerType="de.cau.cs.kieler.sccharts.debug.scchartsBreakpointMarker">
      </breakpoint>
   </extension>
   <extension
         id="scchartsBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="de.cau.cs.kieler.sccharts.debug.ui.presentation.SCChartsDebugModelPresentation"
            id="scchartsDebugModelPresentation">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.cau.cs.kieler.sccharts.debug.ui.breakpoints.SCChartsBreakpointTargetAdapter"
            class="de.cau.cs.kieler.sccharts.debug.ui.breakpoints.SCChartsBreakpointTargetAdapterFactory">
         <adapter
               type="org.eclipse.xtext.ui.editor.XtextEditor">
         </adapter>
      </factory>
   </extension>

</plugin>
