<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.cau.cs.kieler.sccharts.ptc.PTCModelFileHandler"
            commandId="de.cau.cs.kieler.sccharts.commands.PTCImport">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="de.cau.cs.kieler.sccharts.commands.PTCImport"
               label="Import SCChart from PTC Integrity Modeler (XMI)"
               mnemonic="P"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="xmi">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler.sccharts.commands.category"
            id="de.cau.cs.kieler.sccharts.commands.PTCImport"
            name="PTCImport">
      </command>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated XMIModel -->
      <package
            uri="http://www.cau.de/cs/kieler/sccharts/ptc/model/XMIModel"
            class="de.cau.cs.kieler.sccharts.ptc.xmi.XMIModel.XMIModelPackage"
            genModel="model/XMIModel.genmodel"/>
   </extension>

</plugin>
