<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.cau.cs.kieler.sccharts.launchconfig.ui.SCChartsLaunchConfigurationTabGroup"
            id="de.cau.cs.kieler.sccharts.launchconfig.ui.scchartsLaunchConfigurationTabGroup"
            type="de.cau.cs.kieler.sccharts.launchconfig.scchartsLaunchConfiguration">
         <launchMode
               mode="run">
         </launchMode>
         <launchMode
               mode="debug">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>

</plugin>
