<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.prom.environmentInitializer" name="Environment Initializer" schema="schema/de.cau.cs.kieler.prom.environmentInitializer.exsd"/>
   <extension-point id="de.cau.cs.kieler.prom.wrapperCodeAnnotationAnalyzer" name="Wrapper Code Annotation Analyzer" schema="schema/de.cau.cs.kieler.prom.wrapperCodeAnnotationAnalyzer.exsd"/>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.cau.cs.kieler.prom.launchconfig.launchConfiguration"
            icon="icons/foerde-logo-16.png"
            id="de.cau.cs.kieler.prom.launchconfig.launchConfigurationImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.cau.cs.kieler.prom.launchconfig.LaunchConfiguration"
            id="de.cau.cs.kieler.prom.launchconfig.launchConfiguration"
            modes="run,debug"
            name="KiCo Compilation"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.cau.cs.kieler.prom.launchconfig.ui.LaunchConfigurationTabGroup"
            id="de.cau.cs.kieler.prom.launchconfig.ui.launchConfigurationTabGroup"
            type="de.cau.cs.kieler.prom.launchconfig.launchConfiguration">
         <launchMode
               mode="run">
         </launchMode>
         <launchMode
               mode="debug">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler.prom.scchartsPage"
            class="de.cau.cs.kieler.prom.environments.EnvironmentsPage"
            id="de.cau.cs.kieler.prom.environmentsPreferencePage"
            name="Environments">
      </page>
      <page
            class="de.cau.cs.kieler.prom.environments.KielerPage"
            id="de.cau.cs.kieler.prom.scchartsPage"
            name="KIELER">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.cau.cs.kieler.prom.environments.PromEnvironmentsInitializer">
      </initializer>
   </extension>
   <extension
         point="de.cau.cs.kieler.prom.environmentInitializer">
      <initializer
            class="de.cau.cs.kieler.prom.environments.PromEnvironmentsInitializer">
      </initializer>
   </extension>

</plugin>
