<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.prom.environmentInitializer" name="Environment Initializer" schema="schema/environmentInitializer.exsd"/>
   <extension-point id="modelAnalyzer" name="Model Analyzer" schema="schema/modelAnalyzer.exsd"/>
   <extension-point id="de.cau.cs.kieler.prom.modelCompiler" name="ModelCompiler" schema="schema/modelCompiler.exsd"/>
   <extension-point id="de.cau.cs.kieler.prom.simulationCompiler" name="SimulationCompiler" schema="schema/simulationCompiler.exsd"/>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
     <package 
       uri = "http://www.cau.de/cs/kieler/prom/KiBuild" 
       class = "de.cau.cs.kieler.prom.kibuild.KibuildPackage"
       genModel = "model/generated/KiBuild.genmodel" /> 
    
   </extension>
   <extension
         point="de.cau.cs.kieler.prom.environmentInitializer">
      <initializer
            class="de.cau.cs.kieler.prom.environments.PromEnvironmentsInitializer">
      </initializer>
   </extension>
   <extension
         id="KielerModelingBuilder"
         name="KielerModelingBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="true">
         <run
               class="de.cau.cs.kieler.prom.build.KielerModelingBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="KielerModelingNature"
         name="KielerModelingNature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="de.cau.cs.kieler.prom.KielerModelingBuilder">
      </builder>
      <runtime>
         <run
               class="de.cau.cs.kieler.prom.build.KielerModelingNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="kieler.modeling.builder.problem"
         name="KIELER Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="de.cau.cs.kieler.prom.modelCompiler">
      <modelCompiler
            class="de.cau.cs.kieler.prom.build.compilation.KiCoModelCompiler"
            name="kico">
      </modelCompiler>
   </extension>
   <extension
         point="de.cau.cs.kieler.prom.simulationCompiler">
      <simulationCompiler
            class="de.cau.cs.kieler.prom.build.simulation.CSimulationCompiler"
            name="c">
      </simulationCompiler>
      <simulationCompiler
            class="de.cau.cs.kieler.prom.build.simulation.JavaSimulationCompiler"
            name="java">
      </simulationCompiler>
   </extension>
   <extension
         point="de.cau.cs.kieler.prom.modelAnalyzer">
      <analyzer
            class="de.cau.cs.kieler.prom.templates.SclAnalyzer">
      </analyzer>
   </extension>

</plugin>
