
@Transformation COMPLEXFINALSTATE
scchart FinalStateWithOutgoingTransition {
  input bool I;
  bool _abort = false;
  bool _term = false;

  initial state A
  --> F with / _term = true;

  state F
  --> A with I / _term = false
  --> _Final immediate with _abort;

  final state _Final;

  region _Watch:

  initial state _Watch
  --> _Aborted immediate with _term / _abort = true;

  final state _Aborted;
}