scchart EntryTest {
  output bool O;

  initial state A {

    region _Entry:

    initial state _Init
    --> _C immediate / O = true;

    final state _Done;

    state _C
    --> _Done immediate / O = false;
  }
  >-> _Exit;

  final state _Exit;
}