scchart ExitTest {
  input bool I;
  output bool O;
  bool _trig;

  initial state A {

    state _Done2
    --> _S2 immediate with I
    --> _S6 immediate;

    final state _S6;

    initial state _Init
    --> _Run immediate / _trig = false;

    state _S
    --> _Done2 immediate / _trig = true;

    state _S2
    --> _S6 immediate / O = false;

    state _Run
    --> _Depth;

    state _Depth
    --> _S immediate with true & I
    --> _Run immediate;
  }
  >-> F immediate;

  final state F;
}