
@Transformation ABORT
scchart ConditionalTermination {
  input bool I;

  initial state A {
    bool _termRegion;
    entry / _termRegion = false;

    region _Ctrl:

    initial state _Run
    --> _Done immediate with _termRegion & I;

    final state _Done;

    region _Main:

    initial state _Main2 {

      initial state A0
      --> A1;

      final state A1;
    }
    >-> _Term / _termRegion = true;

    final state _Term;
  }
  >-> F immediate;

  final state F;
}