scchart ConditionalTermination {
  input bool I;
  bool _trig;

  initial state A {
    bool _termRegion;

    region _Entry:

    state _Main {

      region _Ctrl:

      initial state _Run
      --> _S immediate with _termRegion & I
      --> _Pause immediate;

      final state _Done;

      state _S
      --> _Done immediate / _trig = true;

      state _Pause
      --> _Depth;

      state _Depth
      --> _S immediate with _termRegion & I
      --> _Pause immediate;

      region _Main:

      initial state _Main2 {

        final state _Depth;

        initial state A0
        --> _Depth;
      }
      >-> _S;

      final state _Term;

      state _S
      --> _Term immediate / _termRegion = true;
    }
    >-> _Done;

    initial state _Init
    --> _C immediate / _trig = false;

    final state _Done;

    state _C
    --> _Main immediate / _termRegion = false;
  }
  >-> F immediate;

  final state F;
}