
@Transformation STATIC
scchart StaticVariables {
  int StaticVariables_null_A___x = 100;
  int StaticVariables_null_B___x = -100;
 
  initial state A {

    initial state A0;
  }
  --> B / StaticVariables_null_A___x = StaticVariables_null_A___x + 1;

  state B {

    initial state B0;
  }
  --> A / StaticVariables_null_B___x = StaticVariables_null_B___x - 1;
}