// Does not work: Exit actions are activated too early
@diagram[KLayLayered] false  
@VHLayout  
scchart ExitActionNoExit {
  output bool Ae1;

  initial state S1
  --> S2;

  state S2 {
    exit / Ae1 = true;
  };
}