<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.kico.ui.transformation" name="KIELER Compiler UI Transformation" schema="schema/de.cau.cs.kieler.kico.ui.transformation.exsd"/>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.kico.ui.klighd.KiCoDiagramSynthesis"
            id="de.cau.cs.kieler.kico.ui.klighd.diagramSynthesis">
      </diagramSynthesis>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="de.cau.cs.kieler.sim"
            class="de.cau.cs.kieler.kico.ui.KiCoSelectionView"
            icon="icons/KiCoViewIcon.png"
            id="de.cau.cs.kieler.kico.selection"
            name="KIELER Compiler Selection"
            restorable="true">
      </view>
   </extension>
   <extension
         point="de.cau.cs.kieler.kiml.layoutConfigs">
      <staticConfig
            class="java.lang.Object"
            option="de.cau.cs.kieler.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.boxes">
      </staticConfig>
      <staticConfig
            class="de.cau.cs.kieler.kico.TransformationDummy"
            option="de.cau.cs.kieler.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.stateMachine">
      </staticConfig>
      <staticConfig
            class="de.cau.cs.kieler.kico.TransformationDummy"
            option="de.cau.cs.kieler.spacing"
            value="1.0">
      </staticConfig>
      <staticConfig
            class="de.cau.cs.kieler.kico.TransformationDummy"
            option="de.cau.cs.kieler.borderSpacing"
            value="2.0">
      </staticConfig>
      <staticConfig
            class="de.cau.cs.kieler.kico.TransformationDummy"
            option="de.cau.cs.kieler.sizeConstraint"
            value="[MINIMUM_SIZE, DEFAULT_MINIMUM_SIZE]">
      </staticConfig>
      <staticConfig
            class="de.cau.cs.kieler.kico.TransformationDummy"
            option="de.cau.cs.kieler.expandNodes"
            value="true">
      </staticConfig>
      <staticConfig
            class="de.cau.cs.kieler.kico.TransformationDummy"
            option="de.cau.cs.kieler.interactive"
            value="true">
      </staticConfig>
      <staticConfig
            class="java.lang.Object"
            option="de.cau.cs.kieler.spacing"
            value="40.0">
      </staticConfig>
      <staticConfig
            class="java.lang.Object"
            option="de.cau.cs.kieler.direction"
            value="RIGHT">
      </staticConfig>
      <semanticConfig
            class="de.cau.cs.kieler.kico.TransformationDummy"
            config="de.cau.cs.kieler.kico.ui.klighd.layout.TransformationDummyLayoutConfig">
      </semanticConfig>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <action
            class="de.cau.cs.kieler.kico.ui.KiCoSelectionAction"
            id="de.cau.cs.kieler.kico.klighd.KiCoSelectionAction">
      </action>
      <action
            class="de.cau.cs.kieler.kico.ui.KiCoDisabledSelectionAction"
            id="de.cau.cs.kieler.kico.klighd.KiCoDisabledSelectionAction">
      </action>
   </extension>

</plugin>
