<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.kaom.sim.ptolemy.KaomSimDataComponent"
            id="de.cau.cs.kieler.kaom.sim.ptolemy"
            name="Kaom Ptolemy Simulator">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.config.DefaultScheduleContributor">
      <executionFile
            file="execution/kaom_ptolemy.execution">
         <editor
               id="de.cau.cs.kieler.kaom.diagram.part.KaomDiagramEditorID"
               name="KAOM Diagram Editor"
               priority="8">
         </editor>
         <editor
               id="de.cau.cs.kieler.kaom.graphiti.editor"
               name="KAOM Graphiti Editor"
               priority="7">
         </editor>
      </executionFile>
   </extension>

</plugin>
