scchart _20_history "20-history" {
  input signal pure I;
  output signal pure O;

  initial state A {

    initial state C
    --> B with / O;

    state B;
  }
  --> E with I;

  state E
  --> A with I;
}