scchart Cabin {
  input signal pure Stop;
  input signal pure CabinStopped;
  input signal pure DoorIsOpen;
  input signal pure DoorOpen;
  input signal pure DoorSensor;
  input signal pure DoorIsClosed;
  input signal pure DoorClose;
  input signal pure TimerExpired;
  output signal pure StartOK;
  output signal pure OpenDoorMotorOff;
  output signal pure OpenDoorMotorOn;
  output signal pure StartTimer;
  output signal pure CloseDoorMotorOn;
  output signal pure CloseDoorMotorOff;

  region R0:

  initial state I
  --> Open immediate with / OpenDoorMotorOn;

  state Open
  --> S0 with DoorIsOpen / OpenDoorMotorOff;

  state S0 {

    region R0:

    initial state Initial
    --> S0 immediate with / StartTimer;

    state S0
    --> S1 with TimerExpired | DoorClose / CloseDoorMotorOn;

    state S1
    --> S2 with DoorIsClosed / StartOK;

    final state S2;
  }
  o-> I with DoorOpen | DoorSensor / CloseDoorMotorOff
  >-> S1 with / CloseDoorMotorOff;

  state S1
  --> S2 with Stop;

  state S2
  --> I with CabinStopped;
}