<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.kico.klighd.model.ModelChainSynthesis"
            id="de.cau.cs.kieler.kico.klighd.ModelChainSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.kico.klighd.model.CodePlaceHolderSynthesis"
            id="de.cau.cs.kieler.kico.klighd.CodePlaceHolderSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.kico.klighd.model.ErrorModelSynthesis"
            id="de.cau.cs.kieler.kico.klighd.ErrorModelSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.kico.klighd.model.MessageModelSynthesis"
            id="de.cau.cs.kieler.kico.klighd.MessageModelSynthesis">
      </diagramSynthesis>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="de.cau.cs.kieler.sim"
            class="de.cau.cs.kieler.kico.klighd.view.ModelView"
            icon="icons/ModelView.gif"
            id="de.cau.cs.kieler.kico.klighd.modelview"
            name="KIELER Model View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cau.cs.kieler.kico.klighd.view.ModelViewManager"></startup>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <action
            class="de.cau.cs.kieler.kico.klighd.model.action.ErrorShowExceptionAction"
            id="de.cau.cs.kieler.kico.klighd.model.action.ErrorShowExceptionAction">
      </action>
      <action
            class="de.cau.cs.kieler.kico.klighd.model.action.OpenCodeInEditorAction"
            id="de.cau.cs.kieler.kico.klighd.model.action.OpenCodeInEditorAction">
      </action>
   </extension>

</plugin>
