<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.cau.cs.kieler.layout.toolbar">
         <command
               commandId="de.cau.cs.kieler.sccharts.tsccharts.TimingAnalysis"
               icon="icons/wcet.png"
               label="TH"
               style="push"
               tooltip="Show WCET values (handler, under construction)">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.cau.cs.kieler.sccharts.tsccharts.TimingAnalysis"
            name="TimingAnalysis">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.cau.cs.kieler.sccharts.tsccharts.handler.TimingAnalysisHandler"
            commandId="de.cau.cs.kieler.sccharts.tsccharts.TimingAnalysis">
         <enabledWhen>
            <iterate>
               <instanceof
                     value="de.cau.cs.kieler.core.kgraph.KGraphElement">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
