
@Transformation EXIT
scchart MultipleExitActions {
  input bool I;
  output bool O;

  initial state A {

    region _Exit:

    initial state _Init
    --> _C immediate with / O = false;

    final state _Done;

    connector state _C
    --> _C2 immediate with / O = true;

    connector state _C2
    --> _Done immediate with I / O = !O
    --> _Done immediate;
  }
  --> F;

  final state F;
}