<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.sim.modelrailway.DataComponent"
            id="de.cau.cs.kieler.sim.modelrailway"
            name="Model Railway Simulation">
      </content>
   </extension>

</plugin>
