<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.ui.intro.configExtension">
      <configExtension configId="org.eclipse.ui.intro.universalConfig" content="intro/introContent.xml">
      </configExtension>
   </extension>
   <extension point="de.cau.cs.kieler.kex">

<category
      icon="icons/SyncchartsDiagramFile.gif"
      id="de.cau.cs.kieler.synccharts"
      title="SyncCharts">
   </category>
   <example
         author="KIELER Workgroup"
         category="de.cau.cs.kieler.synccharts"
         contact="kieler@informatik.uni-kiel.de"
         description="This is the SyncCharts standard model ABRO."
         generation_date="Fri Jul 07 09:05:16 CEST 2010"
         id="de.cau.cs.kieler.synccharts.abro"
         overview_pic="images/abro.png"
         root_directory="examples/"
         title="ABRO">
      <resource direct_open="false" local_path="examples/abro/" resource_type="folder">
      </resource>
      <resource direct_open="true" local_path="examples/abro/abro.kids" resource_type="file">
      </resource>
      <resource direct_open="false" local_path="examples/abro/abro.kixs" resource_type="file">
      </resource>
   </example>
<example
      author="KIELER Workgroup"
      category="de.cau.cs.kieler.synccharts"
      contact="kieler@informatik.uni-kiel.de"
      description="This example shows the synchronisation of signals A and B."
      generation_date="Tue Nov 02 20:58:16 CET 2010"
      id="de.cau.cs.kieler.synccharts.ab_sync"
      overview_pic="images/ABSync.png"
      root_directory="examples"
      title="AB Sync">
<resource direct_open="false" local_path="examples/ab_sync" resource_type="folder"/>
<resource direct_open="true" local_path="examples/ab_sync/ABSync.kids" resource_type="file"/>
<resource direct_open="false" local_path="examples/ab_sync/ABSync.kixs" resource_type="file"/>
</example>
<example
      author="KIELER Workgroup"
      category="de.cau.cs.kieler.synccharts"
      contact="kieler@informatik.uni-kiel.de"
      description="Shows the modeling of an dvd-player in SyncCharts."
      generation_date="Tue Nov 02 21:00:27 CET 2010"
      id="de.cau.cs.kieler.synccharts.dvd_player"
      overview_pic="images/dvdplayer.png"
      root_directory="examples"
      title="DVD Player">
<resource direct_open="false" local_path="examples/dvd_player" resource_type="folder"/>
<resource direct_open="true" local_path="examples/dvd_player/dvdplayer.kids" resource_type="file"/>
<resource direct_open="false" local_path="examples/dvd_player/dvdplayer.kixs" resource_type="file"/>
</example>
<example
      author="KIELER Workgroup"
      category="de.cau.cs.kieler.synccharts"
      contact="kieler@informatik.uni-kiel.de"
      description="This example contains of an elevator with two floors.&#13;&#10;The interacting of floors and the elevator door shows &#13;&#10;concurrency in synccharts."
      generation_date="Tue Nov 02 21:08:07 CET 2010"
      id="de.cau.cs.kieler.synccharts.elevator"
      overview_pic="images/elevator.png"
      root_directory="examples"
      title="Elevator">
<resource direct_open="false" local_path="examples/elevator" resource_type="folder"/>
<resource direct_open="true" local_path="examples/elevator/elevator.kids" resource_type="file"/>
<resource direct_open="false" local_path="examples/elevator/elevator.kixs" resource_type="file"/>
</example>
<example
      author="KIELER Workgroup"
      category="de.cau.cs.kieler.synccharts"
      contact="kieler@informatik.uni-kiel.de"
      description="This example shows the producer-consumer-principle in SyncCharts."
      generation_date="Tue Nov 02 21:11:03 CET 2010"
      id="de.cau.cs.kieler.synccharts.producer_consumer"
      overview_pic="images/producer_consumer.png"
      root_directory="examples"
      title="Producer Consumer">
<resource direct_open="false" local_path="examples/producer_consumer" resource_type="folder"/>
<resource direct_open="true" local_path="examples/producer_consumer/producer_consumer.kids" resource_type="file"/>
<resource direct_open="false" local_path="examples/producer_consumer/producer_consumer.kixs" resource_type="file"/>
</example>
<example
      author="KIELER Workgroup"
      category="de.cau.cs.kieler.synccharts"
      contact="kieler@informatik.uni-kiel.de"
      description="The traffic-light example shows how concurrency works in SyncCharts. "
      generation_date="Tue Nov 02 21:14:24 CET 2010"
      id="de.cau.cs.kieler.synccharts.traffic_light"
      overview_pic="images/traffic_light.png"
      root_directory="examples"
      title="Traffic Light">
<resource direct_open="false" local_path="examples/synccharts_traffic_light" resource_type="folder"/>
<resource direct_open="true" local_path="examples/synccharts_traffic_light/traffic_light.kids" resource_type="file"/>
<resource direct_open="false" local_path="examples/synccharts_traffic_light/traffic_light.kixs" resource_type="file"/>
</example>
<example
      author="KIELER Workgroup"
      category="de.cau.cs.kieler.synccharts"
      contact="kieler@informatik.uni-kiel.de"
      description="This example shows the token-ring-principle in SyncCharts."
      generation_date="Tue Nov 02 21:17:19 CET 2010"
      id="de.cau.cs.kieler.synccharts.token_ring"
      overview_pic="images/tokenring.png"
      root_directory="examples"
      title="Token Ring">
<resource direct_open="false" local_path="examples/token_ring" resource_type="folder"/>
<resource direct_open="true" local_path="examples/token_ring/tokenring.kids" resource_type="file"/>
<resource direct_open="false" local_path="examples/token_ring/tokenring.kixs" resource_type="file"/>
</example>
<example
      author="KIELER Workgroup"
      category="de.cau.cs.kieler.synccharts"
      contact="kieler@informatik.uni-kiel.de"
      description="This encountes the synchronous schizophrenia problem also present in SyncCharts."
      generation_date="Fri Jul 07 09:05:16 CEST 2010"
      id="de.cau.cs.kieler.synccharts.schizo"
      overview_pic="images/schizo.png"
      root_directory="examples/"
      title="Schizophrenia Problem">
   <resource
         direct_open="false"
         local_path="examples/schizo/"
         resource_type="folder">
   </resource>
   <resource
         direct_open="true"
         local_path="examples/schizo/schizo.kids"
         resource_type="file">
   </resource>
   <resource
         direct_open="false"
         local_path="examples/schizo/schizo.kixs"
         resource_type="file">
   </resource>
</example>
</extension>
</plugin>
