<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.cau.de/cs/kieler/krep/editors/rif/Rif" 
       class = "de.cau.cs.kieler.krep.editors.rif.rif.RifPackage"
       genModel = "de/cau/cs/kieler/krep/editors/rif/Rif.genmodel" /> 
	
  </extension>
  <extension
        point="de.cau.cs.kieler.sim.trace.traceprovider">
     <provider
           class="de.cau.cs.kieler.krep.editors.rif.RifFile"
           id="de.cau.cs.kieler.krep.editors.rif.provider1">
     </provider>
  </extension>




</plugin>
