<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.scg.scgtransformations">
         <separator
               name="de.cau.cs.kieler.scl.separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.scg.scgtransformations">
         <command
               commandId="de.cau.cs.kieler.scl.commands.SCGToSCLTransformation"
               label="Transform SCG to SCL"
               mnemonic="A"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scg">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.scg.scgtransformations">
         <command
               commandId="de.cau.cs.kieler.scl.commands.SCGToSCLTransformation"
               label="Transform SCG to SCL"
               mnemonic="A"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scgdep">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.scg.scgtransformations">
         <command
               commandId="de.cau.cs.kieler.scl.commands.SCGToSCLTransformation"
               label="Transform SCG to SCL"
               mnemonic="A"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scgbb">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:de.cau.cs.kieler.scg.scgtransformations">
         <command
               commandId="de.cau.cs.kieler.scl.commands.SCGToSCLTransformation"
               label="Transform SCG to SCL"
               mnemonic="A"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scgsched">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="de.cau.cs.kieler.scl.commands.SCLToSCGTransformation"
               label="Transform SCL to SCG"
               mnemonic="A"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="scl">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.cau.cs.kieler.scl.handlers.SCGraphSCLModelFileHandler"
            commandId="de.cau.cs.kieler.scl.commands.SCGToSCLTransformation">
      </handler>
      <handler
            class="de.cau.cs.kieler.scl.handlers.SCLSCGraphModelFileHandler"
            commandId="de.cau.cs.kieler.scl.commands.SCLToSCGTransformation">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler.scl.commands.category"
            id="de.cau.cs.kieler.scl.commands.SCGToSCLTransformation"
            name="Transform SCG to SCL">
      </command>
      <category
            id="de.cau.cs.kieler.scl.commands.category"
            name="SCL Category">
      </category>
      <command
            categoryId="de.cau.cs.kieler.scl.commands.category"
            id="de.cau.cs.kieler.scl.commands.SCLToSCGTransformation"
            name="Transform SCL to SCG">
      </command>
   </extension>







   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SCL -->
      <package
            uri="http://kieler.cs.cau.de/scl/scl"
            class="de.cau.cs.kieler.scl.scl.SclPackage"
            genModel="model/SCL.genmodel"/>
   </extension>
   <extension
         point="de.cau.cs.kieler.kico.transformation">
      <transformationMethod
            class="de.cau.cs.kieler.scl.transformations.SCLToSCGTransformation"
            dependencies="SCGDEP"
            id="SCLTOSCG"
            method="transform"
            name="SCG">
      </transformationMethod>
   </extension>
   <extension
         point="de.cau.cs.kieler.kico.extension">
      <ExtensionInformation
            className="Program"
            editor_id="de.cau.cs.kieler.scl.SCL"
            extensionName="scl"
            isXMI="false">
      </ExtensionInformation>
   </extension>

</plugin>
