<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scl -->
      <package
            uri="http://kieler.cs.cau.de/scl/0.2.0"
            class="de.cau.cs.kieler.scl.SCLPackage"
            genModel="model/scl.genmodel"/>
   </extension>

</plugin>
