<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scgdep -->
      <package
            uri="http://kieler.cs.cau.de/scgdep/0.1.0"
            class="de.cau.cs.kieler.scgdep.ScgdepPackage"
            genModel="model/scgdep.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scg -->
      <package
            uri="http://kieler.cs.cau.de/scg/0.1.0"
            class="de.cau.cs.kieler.scg.ScgPackage"
            genModel="model/scg.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scgbb -->
      <package
            uri="http://kieler.cs.cau.de/scgbb/0.1.0"
            class="de.cau.cs.kieler.scgbb.ScgbbPackage"
            genModel="model/scgbb.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="de.cau.cs.kieler.scgsched.ScgschedPackage"
            genModel="model/scgsched.genmodel"
            uri="http://kieler.cs.cau.de/scgsched/0.1.0">
      </package>
   </extension>
   <extension
         point="de.cau.cs.kieler.kico.transformation">
      <transformationMethod
            class="de.cau.cs.kieler.scg.transformations.DependencyTransformation"
            dependencies="SCGBBGROUP"
            id="SCGDEP"
            method="transform"
            name="Dependencies">
      </transformationMethod>
      <transformationMethod
            class="de.cau.cs.kieler.scg.transformations.BasicBlockTransformation"
            dependencies="SCGGC"
            id="SCGBB"
            method="transform"
            name="BasicBlocks">
      </transformationMethod>
      <transformationMethod
            class="de.cau.cs.kieler.scg.transformations.BasicBlockTransformationSCplus"
            dependencies="SCGGC"
            id="SCGBBSCPLUS"
            method="transform"
            name="BasicBlocksSCplus">
      </transformationMethod>
      <transformationGroup
            alternatives="true"
            id="SCGBBGROUP"
            name="Basic Blocks"
            transformations="SCGBB, SCGBBSCPLUS">
      </transformationGroup>
      <transformationMethod
            class="de.cau.cs.kieler.scg.guardCreation.GuardCreator"
            dependencies="SCGSCHEDULE"
            id="SCGGC"
            method="transform"
            name="Guards">
      </transformationMethod>
      <transformationMethod
            class="de.cau.cs.kieler.scg.schedulers.GuardScheduler"
            dependencies="SCGSEQGROUP"
            id="SCGSCHEDULE"
            method="schedule"
            name="Scheduling">
      </transformationMethod>
      <transformationGroup
            alternatives="true"
            id="SCGSEQGROUP"
            name="Sequentializer"
            transformations="SCGSEQSIMPLE, SCGSEQHYBRID">
      </transformationGroup>
      <transformationMethod
            class="de.cau.cs.kieler.scg.sequentializer.SimpleSequentializer"
            dependencies="SCG2S"
            id="SCGSEQSIMPLE"
            method="sequentialize"
            name="Simple">
      </transformationMethod>
      <transformationMethod
            class="de.cau.cs.kieler.scg.sequentializer.HybridSequentializer"
            dependencies="SCG2S"
            id="SCGSEQHYBRID"
            method="sequentialize"
            name="Hybrid">
      </transformationMethod>
   </extension>


</plugin>
