<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scgdep -->
      <package
            uri="http://kieler.cs.cau.de/scgdep/0.1.0"
            class="de.cau.cs.kieler.scgdep.ScgdepPackage"
            genModel="model/scgdep.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scg -->
      <package
            uri="http://kieler.cs.cau.de/scg/0.1.0"
            class="de.cau.cs.kieler.scg.ScgPackage"
            genModel="model/scg.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scgbb -->
      <package
            uri="http://kieler.cs.cau.de/scgbb/0.1.0"
            class="de.cau.cs.kieler.scgbb.ScgbbPackage"
            genModel="model/scgbb.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="de.cau.cs.kieler.scgsched.ScgschedPackage"
            genModel="model/scgsched.genmodel"
            uri="http://kieler.cs.cau.de/scgsched/0.1.0">
      </package>
   </extension>
   <extension
         point="de.cau.cs.kieler.kico.transformation">
      <productionTransformationClass
            class="de.cau.cs.kieler.scg.transformations.DependencyTransformation">
      </productionTransformationClass>
      <productionTransformationClass
            class="de.cau.cs.kieler.scg.transformations.BasicBlockTransformation">
      </productionTransformationClass>
      <productionTransformationClass
            class="de.cau.cs.kieler.scg.guardCreation.GuardCreator">
      </productionTransformationClass>
      <productionTransformationClass
            class="de.cau.cs.kieler.scg.schedulers.GuardScheduler">
      </productionTransformationClass>
      <productionTransformationClass
            class="de.cau.cs.kieler.scg.sequentializer.GuardSequentializer">
      </productionTransformationClass>
      <productionTransformationClass
            class="de.cau.cs.kieler.scg.transformations.SCPDGCreateDependenciesTransformation">
      </productionTransformationClass>
      <productionTransformationClass
            class="de.cau.cs.kieler.scg.transformations.SCPDGMinimizeDependenciesTransformation">
      </productionTransformationClass>
      <productionTransformationClass
            class="de.cau.cs.kieler.scg.transformations.SCPDGRemoveNodesTransformation">
      </productionTransformationClass>
   </extension>
   <extension
         point="de.cau.cs.kieler.kico.feature">
      <featureClass
            class="de.cau.cs.kieler.scg.features.Dependency">
      </featureClass>
      <featureClass
            class="de.cau.cs.kieler.scg.features.BasicBlock">
      </featureClass>
      <featureClass
            class="de.cau.cs.kieler.scg.features.Guard">
      </featureClass>
      <featureClass
            class="de.cau.cs.kieler.scg.features.Scheduling">
      </featureClass>
      <featureClass
            class="de.cau.cs.kieler.scg.features.Sequentialize">
      </featureClass>
      <featureClass
            class="de.cau.cs.kieler.scg.features.Basic">
      </featureClass>
      <featureGroupClass
            class="de.cau.cs.kieler.scg.features.SCGraphGroup">
      </featureGroupClass>
      <featureGroupClass
            class="de.cau.cs.kieler.scg.features.SCPDG">
      </featureGroupClass>
      <featureClass
            class="de.cau.cs.kieler.scg.features.SCPDGCreateDependencies">
      </featureClass>
      <featureClass
            class="de.cau.cs.kieler.scg.features.SCPDGMinimizeDependencies">
      </featureClass>
      <featureClass
            class="de.cau.cs.kieler.scg.features.SCPDGRemoveNode">
      </featureClass>
   </extension>


</plugin>
