<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scgdep -->
      <package
            uri="http://kieler.cs.cau.de/scgdep/0.1.0"
            class="de.cau.cs.kieler.scgdep.ScgdepPackage"
            genModel="model/scgdep.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scg -->
      <package
            uri="http://kieler.cs.cau.de/scg/0.1.0"
            class="de.cau.cs.kieler.scg.ScgPackage"
            genModel="model/scg.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scgbb -->
      <package
            uri="http://kieler.cs.cau.de/scgbb/0.1.0"
            class="de.cau.cs.kieler.scgbb.ScgbbPackage"
            genModel="model/scgbb.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="de.cau.cs.kieler.scgsched.ScgschedPackage"
            genModel="model/scgsched.genmodel"
            uri="http://kieler.cs.cau.de/scgsched/0.1.0">
      </package>
   </extension>
   <extension
         point="de.cau.cs.kieler.kicool.processor">
      <Processor
            class="de.cau.cs.kieler.scg.processors.codegen.c.CCodeGenerator">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.SimpleGuardSequentializer">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.SimpleGuardExpressions">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.BasicBlockTransformation">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.analyzer.ControlflowValidator">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.SimpleGuardScheduler">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.SimpleGuardTransformation">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.DependencyTransformationV2">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.ssa.SSATransformation">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.ssa.CSSATransformation">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.ssa.SCSSATransformation">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.ssa.SimpleSCSSATransformation">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.ssa.WeakUnemitSSATransformation">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.ssa.DeSSATransformation">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.ssa.UnSSATransformation">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.ssa.SCCP">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.codegen.java.JavaCodeGenerator">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.priority.PriorityProcessor">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.priority.SJTransformation">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.priority.SCLPTransformation">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.analyzer.ThreadAnalyzer">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.analyzer.LoopAnalyzerV2">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.StructuralDepthJoinProcessor">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.SurfaceDepthSeparatorProcessor">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.optimizer.CopyPropagationV2">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.optimizer.SmartRegisterAllocation">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.optimizer.CleanupValuedObjects">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.optimizer.ConditionalMerger">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.optimizer.HaltStateRemover">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.optimizer.PartialExpressionEvaluation">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.BasicBlockTransformationSCplus">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.optimizer.PersistentStateOptimizer">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.optimizer.PartialAssignmentEvaluation">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.analyzer.GuardTickBoundaryProcessor">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.optimizer.IneffectiveGuardRemover">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.optimizer.UnobservableGuardRemover">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.optimizer.SimpleGuardOptimization">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.codegen.promela.PromelaCodeGenerator">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.codegen.smv.SmvCodeGenerator">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.codegen.smv.SimplifyNamesOfSSA">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.codegen.smv.DefineUnboundVariablesOfSSA">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.codegen.smv.PreFinalVariableValuesOfSSA">
      </Processor>
      <Processor
            class="de.cau.cs.kieler.scg.processors.StoreVariableDeclarations">
      </Processor>
   </extension>
   <extension
         point="de.cau.cs.kieler.kicool.system">
      <TransformationSystem
            system="system/de.cau.cs.kieler.scg.netlist.kico">
      </TransformationSystem>
      <TransformationSystem
            system="system/de.cau.cs.kieler.sccharts.netlist.simple.kico">
      </TransformationSystem>
      <TransformationSystem
            system="system/de.cau.cs.kieler.sccharts.netlist.kico">
      </TransformationSystem>
      <TransformationSystem
            system="system/de.cau.cs.kieler.sccharts.netlist.java.kico">
      </TransformationSystem>
      <TransformationSystem
            system="system/de.cau.cs.kieler.sccharts.priority.kico">
      </TransformationSystem>
      <TransformationSystem
            system="system/de.cau.cs.kieler.sccharts.priority.java.kico">
      </TransformationSystem>
      <TransformationSystem
            system="system/de.cau.cs.kieler.sccharts.netlist.sccp.kico">
      </TransformationSystem>
      <TransformationSystem
            system="system/de.cau.cs.kieler.sccharts.scssa.kico">
      </TransformationSystem>
      <TransformationSystem
            system="system/de.cau.cs.kieler.scg.priority.kico">
      </TransformationSystem>
      <TransformationSystem
            system="system/de.cau.cs.kieler.sccharts.netlist.guardOpt.kico">
      </TransformationSystem>
   </extension>


</plugin>
