<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.sim.table.views.DataTableView"
            icon="icons/tableIcon.png"
            id="de.cau.cs.kieler.sim.table.views.KiemTable"
            name="Raw Table">
      </view>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.string.datacomponent">
      <content
            class="de.cau.cs.kieler.sim.table.DataProducer"
            id="de.cau.cs.kieler.sim.table.dataproducer"
            name="Raw Table">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.string.datacomponent">
      <content
            class="de.cau.cs.kieler.sim.table.DataObserver"
            id="de.cau.cs.kieler.sim.table.dataconsumer"
            name="Raw Table">
      </content>
   </extension>

</plugin>
