<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.esterel.transformation.impl.EsterelToSyncChartDataComponent"
            id="de.cau.cs.kieler.esterel.transformation.Transformation"
            name="Esterel to SyncCharts Transformation">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.esterel.transformation.impl.SyncChartsOptimizationDataComponent"
            id="de.cau.cs.kieler.esterel.transformation.Optimization"
            name="SyncCharts Optimization">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            active="true"
            class="de.cau.cs.kieler.esterel.transformation.kivi.TransformationCombination"
            description="Performs a Transformation"
            name="Transformation Combination">
      </combination>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="de.cau.cs.kieler.esterel.transformation.est"
            nameFilter="*.strl"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="de.cau.cs.kieler.esterel.transformation.action.InitialTransformationAction"
               enablesFor="1"
               id="de.cau.cs.kieler.esterel.transformation.initialTransformationHandler"
               label="Transform to SyncChart"
               menubarPath="de.cau.cs.kieler">
         </action>
      </objectContribution>
   </extension>

</plugin>
