<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension-point id="balloonPopupBarContribution" name="Balloon Popup Bar Contribution" schema="schema/balloonPopupBarContribution.exsd"/>
      <extension
         point="de.cau.cs.kieler.core.model.graphicalFrameworkBridges">
      <bridge
            class="de.cau.cs.kieler.core.model.gmf.GmfFrameworkBridge"
            id="gmf">
      </bridge>
   </extension>
   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            active="true"
            class="de.cau.cs.kieler.core.model.gmf.combinations.ShowHierarchyCombination"
            description="Show the hierarchy levels of a diagram by painting each level in a different color."
            name="Show Hierarchy Levels">
      </combination>
      <combination
            class="de.cau.cs.kieler.core.model.gmf.combinations.DiffStateCombination"
            description="Provide a graphical diff in a diagram by colorizing Is states and Shall states"
            name="Graphical Diff">
      </combination>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.cau.cs.kieler.expression.gmfDiagram">
         <with
               variable="activeEditor">
            <instanceof
                  value="org.eclipse.gmf.runtime.diagram.ui.resources.editor.parts.DiagramDocumentEditor">
            </instanceof>
         </with>
      </definition>
      <definition
            id="de.cau.cs.kieler.expression.onlyConnectionsSelected">
         <iterate
               ifEmpty="false"
               operator="and">
            <instanceof
                  value="org.eclipse.gmf.runtime.diagram.ui.editparts.ConnectionEditPart">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="de.cau.cs.kieler.expression.diagramSelected">
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               </instanceof>
            </iterate>
         </and>
      </definition>
   </extension>

</plugin>
