<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.core.model.Validation" name="Validation" schema="schema/de.cau.cs.kieler.core.model.Validation.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.cau.cs.kieler.core.model.handlers.ValidateActionHandler"
            id="de.cau.cs.kieler.core.model.validate"
            name="validate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:de.cau.cs.kieler">
         <separator
               name="de.cau.cs.kieler.core.model.separator3">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:de.cau.cs.kieler">
         <command
               commandId="de.cau.cs.kieler.core.model.validate"
               icon="icons/validate.gif"
               style="pulldown">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.ui.part.EditorPart">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            class="de.cau.cs.kieler.core.model.ui.ValidationMenuContributionFactory"
            locationURI="menu:de.cau.cs.kieler.core.model.validate">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.core.model.preferences.ValidationManagerPreferencePage"
            id="de.cau.cs.kieler.core.model.validationManager"
            name="Validation Manager">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cau.cs.kieler.core.model.validation.ValidationInformationCollector"></startup>
   </extension>
   <extension
         point="de.cau.cs.kieler.core.ui.graphicalFrameworkBridges">
      <bridge
            class="de.cau.cs.kieler.core.model.GmfFrameworkBridge">
      </bridge>
   </extension>
   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            active="true"
            class="de.cau.cs.kieler.core.model.combinations.ShowHierarchyCombination"
            description="Show the hierarchy levels of a diagram by painting each level in a different color."
            name="Show Hierarchy Levels">
      </combination>
   </extension>

</plugin>
