<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="de.cau.cs.kieler.synccharts.text.actions.ui.CustomizedActionsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="action"
            id="de.cau.cs.kieler.synccharts.text.actions.Actions"
            name="Actions Editor">
        </editor>
        <editor
            class="de.cau.cs.kieler.synccharts.text.interfaces.ui.CustomizedInterfacesExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="intfc"
            id="de.cau.cs.kieler.synccharts.text.interfaces.Interface"
            name="Interfaces Editor">
        </editor>
        <editor
              class="de.cau.cs.kieler.synccharts.text.kits.ui.CustomizedKitsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="true"
              extensions="kits"
              icon="icons/obj16/SyncchartsTextFile.gif"
              id="de.cau.cs.kieler.synccharts.text.kits.Kits"
              name="Kits Editor">
        </editor>        
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
	    <handler
            class="de.cau.cs.kieler.synccharts.text.kits.ui.CustomizedKitsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="de.cau.cs.kieler.synccharts.text.kits.Kits.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="de.cau.cs.kieler.synccharts.text.kits.ui.CustomizedKitsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="de.cau.cs.kieler.synccharts.text.kits.Kits.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="de.cau.cs.kieler.synccharts.text.kits.ui.CustomizedKitsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="de.cau.cs.kieler.synccharts.text.kits.Kits.validate">
         <activeWhen>
            <reference
                    definitionId="de.cau.cs.kieler.synccharts.text.kits.Kits.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="de.cau.cs.kieler.synccharts.text.kits.Kits.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.cau.cs.kieler.synccharts.text.kits.Kits" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="de.cau.cs.kieler.synccharts.text.interfaces.Interfaces.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.cau.cs.kieler.synccharts.text.interfaces.Interfaces" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="de.cau.cs.kieler.synccharts.text.kits.Kits.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.cau.cs.kieler.synccharts.text.kits.Kits" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
              category="de.cau.cs.kieler"
              class="de.cau.cs.kieler.synccharts.text.kits.ui.CustomizedKitsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
              id="de.cau.cs.kieler.synccharts.text.kits.Kits"
              name="KITS">
            <keywordReference id="de.cau.cs.kieler.synccharts.text.kits.ui.keyword_Kits"/>
        </page>
        <page
            category="de.cau.cs.kieler.synccharts.text.kits.Kits"
            class="de.cau.cs.kieler.synccharts.text.kits.ui.CustomizedKitsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="de.cau.cs.kieler.synccharts.text.kits.Kits.coloring"
            name="Syntax Coloring">
            <keywordReference id="de.cau.cs.kieler.synccharts.text.kits.ui.keyword_Kits"/>
        </page>
        <page
            category="de.cau.cs.kieler.synccharts.text.kits.Kits"
            class="de.cau.cs.kieler.synccharts.text.kits.ui.CustomizedKitsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="de.cau.cs.kieler.synccharts.text.kits.Kits.templates"
            name="Templates">
            <keywordReference id="de.cau.cs.kieler.synccharts.text.kits.ui.keyword_Kits"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="de.cau.cs.kieler.synccharts.text.actions.ui.keyword_Actions"
            label="Actions"/>
        <keyword
            id="de.cau.cs.kieler.synccharts.text.interfaces.ui.keyword_Interfaces"
            label="Interfaces"/>
        <keyword
            id="de.cau.cs.kieler.synccharts.text.kits.ui.keyword_Kits"
            label="Kits"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="de.cau.cs.kieler.synccharts.text.actions.Actions.validate"
            name="Validate">
      </command>
      <command
            description="Trigger expensive validation"
            id="de.cau.cs.kieler.synccharts.text.interfaces.Interfaces.validate"
            name="Validate">
      </command>
      <command
            description="Trigger expensive validation"
            id="de.cau.cs.kieler.synccharts.text.kits.Kits.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="de.cau.cs.kieler.synccharts.text.kits.Kits.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="de.cau.cs.kieler.synccharts.text.kits.Kits.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="de.cau.cs.kieler.synccharts.text.kits.Kits.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
         <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="de.cau.cs.kieler.core.model.convert"
               label="Convert to Textual Model (kits)"
               style="push"
               tooltip="Convert the model to textual SyncCharts format">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           forcePluginActivation="false"
                           property="org.eclipse.core.resources.extension"
                           value="kixs">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
            <parameter
                  name="de.cau.cs.kieler.convert.targetExtension"
                  value="kits">
            </parameter>
         </command>
                  <command
               commandId="de.cau.cs.kieler.core.model.convert"
               label="Convert to XMI Model (kixs)"
               style="push"
               tooltip="Convert the model to XMI-based SyncCharts format">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           forcePluginActivation="false"
                           property="org.eclipse.core.resources.extension"
                           value="kits">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
            <parameter
                  name="de.cau.cs.kieler.convert.targetExtension"
                  value="kixs">
            </parameter>
         </command>
     </menuContribution>
	</extension>


<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.cau.cs.kieler.synccharts.text.actions.ui.CustomizedActionsExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="action">
		</parser>
		<parser
			class="de.cau.cs.kieler.synccharts.text.interfaces.ui.CustomizedInterfacesExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="intfc">
		</parser>
		<parser
			class="de.cau.cs.kieler.synccharts.text.kits.ui.CustomizedKitsExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="kits">
		</parser>
  <parser
        class="de.cau.cs.kieler.synccharts.text.kits.ui.CustomizedKitsEmbeddedExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
        type="kitsem">
  </parser>
  <parser
        class="de.cau.cs.kieler.synccharts.text.kitsState.ui.CustomizedKitsStateExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
        type="kitsState">
  </parser>
	</extension>
	
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="de.cau.cs.kieler.synccharts.text.actions.ui.CustomizedActionsExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="action">
        </resourceServiceProvider>
        <resourceServiceProvider
            class="de.cau.cs.kieler.synccharts.text.interfaces.ui.CustomizedInterfacesExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="intfc">
        </resourceServiceProvider>
        <resourceServiceProvider
            class="de.cau.cs.kieler.synccharts.text.kits.ui.CustomizedKitsExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="kits">
        </resourceServiceProvider>
    </extension>



   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="de.cau.cs.kieler.synccharts.text.actions.ui.CustomizedActionsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="de.cau.cs.kieler.synccharts.text.interfaces.ui.CustomizedInterfacesExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="de.cau.cs.kieler.synccharts.text.kits.ui.CustomizedKitsExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

</plugin>
