<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.cau.cs.kieler.uml2.layout.class"
         name="Class Diagram Layout"
         point="de.cau.cs.kieler.kiml.layout.layoutInfo">
      <option
            class="org.eclipse.uml2.diagram.clazz.edit.parts.PackageEditPart"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.classDiagram">
      </option>
      <option
            class="org.eclipse.uml2.uml.Generalization"
            option="de.cau.cs.kieler.layout.options.edgeType"
            value="GENERALIZATION">
      </option>
      <option
            class="org.eclipse.uml2.uml.Association"
            option="de.cau.cs.kieler.layout.options.edgeType"
            value="ASSOCIATION">
      </option>
      <option
            class="org.eclipse.uml2.uml.Dependency"
            option="de.cau.cs.kieler.layout.options.edgeType"
            value="DEPENDENCY">
      </option>
   </extension>
   <extension
         id="de.cau.cs.kieler.uml2.layout.activity"
         name="Activity Diagram Layout"
         point="de.cau.cs.kieler.kiml.layout.layoutInfo">
      <option
            class="org.eclipse.uml2.diagram.activity.edit.parts.PackageEditPart"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.boxes">
      </option>
      <option
            class="org.eclipse.uml2.uml.Activity"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.stateMachine">
      </option>
      <option
            class="org.eclipse.uml2.uml.Activity"
            option="de.cau.cs.kieler.layout.options.layoutDirection"
            value="DOWN">
      </option>
      <option
            class="org.eclipse.uml2.uml.Activity"
            option="de.cau.cs.kieler.layout.options.borderSpacing"
            value="20.0">
      </option>
      <option
            class="org.eclipse.uml2.uml.Activity"
            option="de.cau.cs.kieler.layout.options.minSpacing"
            value="25.0">
      </option>
   </extension>
   <extension
         id="de.cau.cs.kieler.uml2.layout.useCase"
         name="Use Case Diagram Layout"
         point="de.cau.cs.kieler.kiml.layout.layoutInfo">
      <option
            class="org.eclipse.uml2.diagram.usecase.edit.parts.PackageEditPart"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.usecaseDiagram">
      </option>
      <option
            class="org.eclipse.uml2.diagram.usecase.edit.parts.PackageEditPart"
            option="de.cau.cs.kieler.layout.options.minSpacing"
            value="40.0">
      </option>
      <option
            class="org.eclipse.uml2.diagram.usecase.edit.parts.PackageEditPart"
            option="de.cau.cs.kieler.layout.options.borderSpacing"
            value="20.0">
      </option>
   </extension>
   <extension
         id="de.cau.cs.kieler.uml2.layout.stateMachine"
         name="State Machine Diagram Layout"
         point="de.cau.cs.kieler.kiml.layout.layoutInfo">
      <option
            class="org.eclipse.uml2.diagram.statemachine.edit.parts.PackageEditPart"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.boxes">
      </option>
      <option
            class="org.eclipse.uml2.uml.StateMachine"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.boxes">
      </option>
      <option
            class="org.eclipse.uml2.uml.StateMachine"
            option="de.cau.cs.kieler.layout.options.borderSpacing"
            value="1.0">
      </option>
      <option
            class="org.eclipse.uml2.uml.Region"
            option="de.cau.cs.kieler.layout.options.diagramType"
            value="de.cau.cs.kieler.layout.diagrams.stateMachine">
      </option>
      <option
            class="org.eclipse.uml2.uml.Region"
            option="de.cau.cs.kieler.layout.options.layoutDirection"
            value="RIGHT">
      </option>
   </extension>
   <extension
         point="de.cau.cs.kieler.ksbase.configurations">
      <configuration
            TransformationFile="src/features.ext"
            checkVisibility="true"
            contextId="org.eclipse.uml2.diagram.activity.ui.diagramContext"
            editorId="org.eclipse.uml2.diagram.activity.part.UMLDiagramEditorID"
            packageName="org.eclipse.uml2.uml.UMLPackage">
       <transformations>
          <transformation
                icon="icons/action.gif"
                keyboardShortcut="M1+R A"
                name="Create Successor"
                transformation="activityCreateSuccessor"
                transformationId="de.cau.cs.kieler.uml2.activity.createSuccessor">
          </transformation>
          <transformation
                icon="icons/flow.gif"
                keyboardShortcut="M1+R F"
                name="Create Control Flow"
                transformation="activityControlFlow"
                transformationId="de.cau.cs.kieler.uml2.activity.controlFlow">
          </transformation>
          <transformation
                name="Toggle Action"
                transformation="activityToggleAction"
                transformationId="de.cau.cs.kieler.uml2.activity.toggleAction">
          </transformation>
       </transformations>
       <menus>
          <menuContribution
                locationURI="menu:de.cau.cs.kieler">
             <transformationCommand
                   transformationId="de.cau.cs.kieler.uml2.activity.createSuccessor">
             </transformationCommand>
             <transformationCommand
                   transformationId="de.cau.cs.kieler.uml2.activity.controlFlow">
             </transformationCommand>
             <transformationCommand
                   transformationId="de.cau.cs.kieler.uml2.activity.toggleAction">
             </transformationCommand>
          </menuContribution>
          <menuContribution
                locationURI="toolbar:de.cau.cs.kieler">
             <transformationCommand
                   transformationId="de.cau.cs.kieler.uml2.activity.createSuccessor">
             </transformationCommand>
             <transformationCommand
                   transformationId="de.cau.cs.kieler.uml2.activity.ControlFlow">
             </transformationCommand>
          </menuContribution>
       </menus>
      </configuration>
      <configuration
            TransformationFile="src/features.ext"
            checkVisibility="true"
            contextId="org.eclipse.uml2.diagram.statemachine.ui.diagramContext"
            editorId="org.eclipse.uml2.diagram.statemachine.part.UMLDiagramEditorID"
            packageName="org.eclipse.uml2.uml.UMLPackage">
         <transformations>
            <transformation
                  name="Create Composite"
                  transformation="statemCreateComposite"
                  transformationId="de.cau.cs.kieler.uml2.statem.createComposite">
            </transformation>
         </transformations>
         <menus>
            <menuContribution
                  locationURI="menu:de.cau.cs.kieler">
               <transformationCommand
                     transformationId="de.cau.cs.kieler.uml2.statem.createComposite">
               </transformationCommand>
            </menuContribution>
         </menus>
      </configuration>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cau.cs.kieler.uml2.MetamodelRegistrator">
      </startup>
   </extension>
   
</plugin>
