
@Transformation SIGNAL
scchart Signals {
  bool S;
  immediate during / S = false;

  region R1:

  initial state A
  --> B / S = S || true;

  final state B;

  region R2:

  initial state C
  --> D with S;

  final state D;
}