@Transformation COMPLEXFINALSTATE
scchart ComplexFinalSuperstate {
  input bool I1;
  input bool I2;
  output bool O;
  
  initial state A {
    
    region R1:
        initial state A0
        --> A1 with I1;
    
        final state A1;
    
    region R2:
        initial state A2
        --> A3;
    
        final state A3 {
          initial state A3_1
          --> A3_2 with / O = true;
           
          final state A3_2;
        }--> A2 immediate with I2;
    
  }>-> F;
  
  final state F;
}