@Transformation COMPLEXFINALSTATE
scchart ComplexFinalSuperstate {
  input bool I1;
  input bool I2;
  output bool O;
  
  initial state A {
    
    initial state A0
    --> A1 with I1;
    
    final state A1{
      initial state A1_1
      --> A1_2 / O = true;
       
      final state A1_2;
    }--> A0 with I2;
    
  }>-> F;
  
  final state F;
}