scchart NestedAborts {
  input signal pure Otrig;
  input signal pure Itrig;
  output signal pure O;
  output signal pure O2;

  initial state Outer {

    initial state Inner1 {

      initial state S;
    }
    --> Inner2 with Itrig / O;

    state Inner2;
  }
  --> Outer2 with Otrig / O2;

  state Outer2;
}