scchart _45_initial_states_with_hierarchy2 "45-initial-states-with-hierarchy2" {
  output signal pure O;
  output signal pure ExitSetC;
  input signal pure I;

  initial state A {

    state BB;

    initial state AA
    --> BB with / ExitSetC;
  }
  --> Z with I;

  state Z;

  region ExitActionRegion17159221:

  initial state C
  --> D with ExitSetC / O;

  state D;
}