<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.synccharts.sim.ptolemy.SyncchartsSimDataComponent"
            id="de.cau.cs.kieler.synccharts.sim.ptolemy"
            name="SyncCharts Ptolemy Simulator">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.config.DefaultScheduleContributor">
      <executionFile
            file="execution/synccharts_ptolemy.execution">
         <editor
               id="de.cau.cs.kieler.synccharts.diagram.part.SyncchartsDiagramEditorID"
               name="SyncCharts Diagram Editor"
               priority="8">
         </editor>
         <editor
               id="de.cau.cs.kieler.synccharts.presentation.SyncchartsEditorID"
               name="SyncCharts Model Editor"
               priority="7">
         </editor>
      </executionFile>
   </extension>

</plugin>
