<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.s.sim.sc.SimulationDataComponent"
            id="de.cau.cs.kieler.s.sim.sc"
            name="S Simulator (SC)">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.config.DefaultScheduleContributor">
      <executionFile
            file="execution/s_sc.execution">
         <editor
               id="de.cau.cs.kieler.s.S"
               name="S Editor"
               priority="1">
         </editor>
      </executionFile>
   </extension>

</plugin>
