<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.sim.sc.DataComponent"
            id="de.cau.cs.kieler.sim.sc"
            name="SC simulation">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.config.DefaultScheduleContributor">
      <configurationFile
            file="execution/sc.execution">
         <editor
               id="de.cau.cs.kieler.synccharts.diagram.part.SyncchartsDiagramEditorID"
               name="SyncChart Editor"
               priority="8">
         </editor>
      </configurationFile>
   </extension>

</plugin>
