<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.kies.EsterelToSyncChartDataComponent"
            id="de.cau.cs.kieler.kies.Transformation"
            name="Esterel to SyncCharts Transformation">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.kies.SyncChartsOptimizationDataComponent"
            id="de.cau.cs.kieler.kies.Optimization"
            name="SyncCharts Optimization">
      </content>
   </extension>
  

   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            active="true"
            class="de.cau.cs.kieler.kies.kivi.E2STransformationCombination"
            description="Performs an Esterel to SyncCharts Transformation"
            name="Esterel to Synccharts Combination">
      </combination>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="de.cau.cs.kieler.kies.est"
            nameFilter="*.strl"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="de.cau.cs.kieler.kies.action.InitialTransformationAction"
               enablesFor="1!"
               id="de.cau.cs.kieler.kies.initialTransformationHandler"
               label="Transform to SyncChart"
               menubarPath="de.cau.cs.kieler">
         </action>
      </objectContribution>
      <!--objectContribution
            adaptable="false"
            id="de.cau.cs.kieler.kies.compare"
            nameFilter="*.kixs"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="de.cau.cs.kieler.kies.test.CompareTwoKIXS"
               id="de.cau.cs.kieler.kies.compare"
               label="Compare"
               menubarPath="de.cau.cs.kieler">
         </action>
      </objectContribution-->
   </extension>
   <!--extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.kies.RefreshGMFPoliciesHandler"
            id="de.cau.cs.kieler.kies.command1"
            name="Refresh Edit Policies">
      </command>
   </extension-->
   <!--extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:de.cau.cs.kieler">
         <command
               commandId="de.cau.cs.kieler.kies.command1"
               label="Refresh GMF Edit Policies"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeEditorId">
                  <equals
                        value="de.cau.cs.kieler.synccharts.diagram.part.SyncchartsDiagramEditorID">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension-->

</plugin>
