scchart ExitTest {
    output bool O;
	
    initial state A{
      exit / O = false;
      
      region R1:
      	initial state A0
      	--> A1;
      	
      	final state A1;
  	
	  region R2:
		initial state A0
		--> A1;
		
		final state A1;	
    }
    >-> F;
    
    final state F;    
}