scchart _100_local_signal_trap_immediate_dependency
"100-local-signal-trap-immediate-dependency" {
  output signal T;
  input signal I;
  output signal O1;
  output signal O2;
  output signal O3;
  output signal O4;

  region R0:

  state G;

  initial state F {

    region R0:

    initial state A
    --> B2 with I;

    state C
    --> CC immediate with / O3;

    state B2 "B"
    --> C immediate with / T; O2;

    state CC;

    region R1:

    initial state D
    --> E with T / O1;

    state E;
  }
  --> G with T / O4;
}