scchart ABSWO {
  input signal A;
  input signal B;
  output signal O;
  input signal W;
  input signal S;

  initial state ABO {

    region Main:

    initial state WaitAB {

      region WaitA:

      initial state wA
      --> dA with A / B;

      final state dA;

      region WaitB:

      initial state wB
      --> dB with B;

      final state dB;
    }
    >-> done with / O;

    state done;
  }
  o-> ABO with S
  --> ABO with W;
}