scchart ABSync {
  input signal A;
  input signal B;
  input signal Reset;
  signal arm;
  signal disarm;
  output signal AB;

  region _R0:

  initial state Detection {

    region _R0:

    initial state WautAandB {

      region _R0:

      initial state wA
      --> dA with A / arm;

      final state dA;

      region _R1:

      initial state wB
      --> dB with B / arm;

      final state dB;
    }
    >-> done with / AB;

    state done;

    region _R1:

    initial state idle
    --> Timer with arm;

    state Timer {

      region _R0:

      initial state cnt
      --> end with 3 / disarm;

      state end;
    };
  }
  o-> Detection with Reset
  --> Detection with disarm;
}