scchart _77_several_same_state_ids_empty_region_ids
"77-several-same-state-ids-empty-region-ids" {
  input signal I;
  output signal O;
  output signal O2;
  output signal O3;

  initial state ^state {

    initial state ^state {

      initial state ^state
      --> state2 with I / O;

      state state2;

      region:

      initial state ^state
      --> state2 with / O2;

      state state2;
    }
    --> state2 with / O3;

    state state2;
  };
}