scchart ABO "ABO" {
  input bool A;
  bool B;
  output bool O;

  initial state WaitAB {

    initial state wA
    --> dA immediate with A / B = true;

    final state dA;

    region:

    initial state wB
    --> dB with B;

    final state dB;
  }
  >-> done with / O = true;

  state done;
}