<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.uml2.sim.kiem.DataComponent"
            id="de.cau.cs.kieler.uml2.sim"
            name="UML2 Maude Simulator">
      </content>
   </extension>



</plugin>
