<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
    <extension
        point="org.eclipse.emf.ecore.extension_parser">
        <parser
            class="de.cau.cs.kieler.kexpressions.ui.KExpressionsExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
            type="expr">
        </parser>
    </extension>

</plugin>
