<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kico.transformation">
      <transformationMethod
            class="de.cau.cs.kieler.scg.s.transformations.SCGvS2C"
            id="SCGvS2C"
            method="transform"
            name="C Code">
      </transformationMethod>
      <transformationMethod
            class="de.cau.cs.kieler.scg.s.transformations.SCG2S"
            dependencies="SCGvS2C"
            id="SCG2S"
            method="transform"
            name="S Code">
      </transformationMethod>
      <transformationGroup
            alternatives="false"
            id="CODEGENERATION"
            isCategory="true"
            isFeatureGroup="false"
            name="Code Generation"
            transformations="SCGvS2C, SCG2S">
      </transformationGroup>
   </extension>

</plugin>
