<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kico.transformation">
      <productionTransformationClass
            class="de.cau.cs.kieler.scg.s.transformations.S2C">
      </productionTransformationClass>
      <productionTransformationClass
            class="de.cau.cs.kieler.scg.s.transformations.S2Java">
      </productionTransformationClass>
      <productionTransformationClass
            class="de.cau.cs.kieler.scg.s.transformations.SCG2S">
      </productionTransformationClass>
      <productionTransformationClass
            class="de.cau.cs.kieler.scg.s.transformations.S2Arduino">
      </productionTransformationClass>
   </extension>
   <extension
         point="de.cau.cs.kieler.kico.extension">
      <ExtensionInformation
            className="Program"
            editor_id="de.cau.cs.kieler.s.S"
            extensionName="s"
            isXMI="false">
      </ExtensionInformation>
   </extension>
   <extension
         point="de.cau.cs.kieler.kico.feature">
      <featureClass
            class="de.cau.cs.kieler.scg.s.features.SCode">
      </featureClass>
      <featureClass
            class="de.cau.cs.kieler.scg.s.features.Target">
      </featureClass>
      <featureGroupClass
            class="de.cau.cs.kieler.scg.s.features.CodeGenerationFeatureGroup">
      </featureGroupClass>
   </extension>

</plugin>
