<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.kev.data">
      <content
            class="de.cau.cs.kieler.kev.extension.empty.Controller"
            id="de.cau.cs.kieler.kev.extension.empty.content1"
            name="Empty Test Controller">
      </content>
   </extension>

</plugin>
