<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="platform:/resource/de.cau.cs.kieler.sim.ptolemy/models/MoML_1.xsd"
            class="MoML1.MoML1Package"
            genModel="models/MoML_1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="moml1"
            class="MoML1.util.MoML1ResourceFactoryImpl"/>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.dataproducer">
      <content
            class="de.cau.cs.kieler.sim.ptolemy.DataProducerExample"
            id="de.cau.cs.kieler.sim.ptolemy.klepto"
            name="KlePto - SyncCharts KIELER Data Producer">
      </content>
   </extension>

</plugin>
