<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated simpleCircuit -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.cau.cs.kieler.simpleCircuit.presentation.SimpleCircuitModelWizardID"
            name="%_UI_SimpleCircuitModelWizard_label"
            class="de.cau.cs.kieler.simpleCircuit.presentation.SimpleCircuitModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SimpleCircuitModelFile.gif">
         <description>%_UI_SimpleCircuitModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated simpleCircuit -->
      <editor
            id="de.cau.cs.kieler.simpleCircuit.presentation.SimpleCircuitEditorID"
            name="%_UI_SimpleCircuitEditor_label"
            icon="icons/full/obj16/SimpleCircuitModelFile.gif"
            extensions="simplecircuit"
            class="de.cau.cs.kieler.simpleCircuit.presentation.SimpleCircuitEditor"
            contributorClass="de.cau.cs.kieler.simpleCircuit.presentation.SimpleCircuitActionBarContributor">
      </editor>
   </extension>

</plugin>
