<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.cau.de/cs/kieler/synccharts/dsl/TSC" 
       class = "de.cau.cs.kieler.synccharts.dsl.tSC.TSCPackage"
       genModel = "de/cau/cs/kieler/synccharts/dsl/TSC.genmodel" /> 
	
  </extension>




</plugin>
