scchart ABRO2 "ABRO" {
  input signal pure A;
  input signal pure B;
  input signal pure R;
  output signal pure O;
  output signal pure O2;

  initial state ABO {

    initial state WaitAB {

      initial state wA
      --> dA with A;

      final state dA {
        during / O2;

        initial state X
        --> Y;

        state Y
        --> X;
      }
      --> wA with A;

      region:

      initial state wB
      --> dB with B;

      final state dB;
    }
    >-> done / O;

    state done;
  }
  o-> ABO with R;
}