scchart Hierarchie_Hierarchie {
  input signal pure I1;
  output signal pure O;
  output signal pure O1;
  input signal pure I2;
  output signal pure O2;

  region _R0:

  initial state A {

    region _R0:

    initial state B {

      region _R0:

      initial state C {

        region _R0:

        initial state D {

          region _R0:

          initial state E
          --> F / O;

          state F;
        }
        o-> D with I2 / O2;
      };
    }
    o-> B with I1 / O1;
  };
}