<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://cau.kieler.de/scc/SCCExp" 
       class = "de.cau.kieler.scc.model.scctext.sccexp.SCCExpPackage"
       genModel = "de/cau/kieler/scc/model/scctext/SCCExp.genmodel" /> 
	
  </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SCCExp -->
      <package
            uri="http://cau.kieler.de/scc/SCCExp"
            class="de.cau.kieler.scc.model.scctext.sccexp.SccexpPackage"
            genModel="src-gen/de/cau/kieler/scc/model/scctext/SCCExp.genmodel"/>
   </extension>

</plugin>
