<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://kieler.cs.cau.de/annotations"
            class="de.cau.cs.kieler.core.annotations.provider.AnnotationsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         id="prop-contrib"
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="de.cau.cs.kieler.core.annotations.ui">
         <propertyCategory
               category="annotations"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         id="propsections"
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="de.cau.cs.kieler.core.annotations.ui">
         <propertySection
               class="de.cau.cs.kieler.core.annotations.ui.properties.AnnotationsPropertySection"
               id="de.cau.cs.kieler.core.annotations.ui.annotationsPropertySection"
               tab="de.cau.cs.kieler.core.annotations.ui.annotationsPropertyTab">
            <input
                  type="de.cau.cs.kieler.core.annotations.Annotatable">
            </input>
            <input
                  type="org.eclipse.core.runtime.PlatformObject">
            </input>
            
            <!-- The following references generate a warning, but we can safely ignore that. -->
            <input
                  type="org.eclipse.gmf.runtime.notation.View">
            </input>
            <input
                  type="org.eclipse.gef.EditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         id="proptabs"
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="de.cau.cs.kieler.core.annotations.ui">
         <propertyTab
               category="annotations"
               id="de.cau.cs.kieler.core.annotations.ui.annotationsPropertyTab"
               label="Annotations">
         </propertyTab>
      </propertyTabs>
   </extension>
   
</plugin>
