<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.cau.de/cs/kieler/esterel/Esterel" 
       class = "de.cau.cs.kieler.esterel.esterel.EsterelPackage"
       genModel = "de/cau/cs/kieler/esterel/Esterel.genmodel" /> 
	
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="de.cau.cs.kieler.esterel.commands.EsterelToSCLTransformation"
              label="Transform to SCL"
              mnemonic="A"
              style="push">
           <visibleWhen
                 checkEnabled="true">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <adapt
                       type="org.eclipse.core.resources.IFile">
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.core.resources.extension"
                          value="strl">
                    </test>
                 </adapt>
              </iterate>
           </visibleWhen>
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="de.cau.cs.kieler.esterel.handlers.EsterelToSclHandler"
           id="de.cau.cs.kieler.esterel.commands.EsterelToSCLTransformation"
           name="Esterel to SCL Transformation">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           id="de.cau.cs.kieler.esterel.command1"
           name="name">
     </command>
  </extension>
  <extension
        point="de.cau.cs.kieler.kico.transformation">
     <transformationMethod
           class="de.cau.cs.kieler.esterel.transformations.EsterelToSclTransformation"
           id="ESTERELTOSCL"
           method="transform">
     </transformationMethod>
  </extension>
  <extension
        point="de.cau.cs.kieler.kico.extension">
     <ExtensionInformation
           className="de.cau.cs.kieler.esterel.esterel.Program"
           extensionName="strl"
           isXMI="true">
     </ExtensionInformation>
  </extension>
  <!--extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:de.cau.cs.kieler">
        <command
              commandId="de.cau.cs.kieler.kies.basicTransformation"
              label="Esterel to SyncChart Transformation"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate>
                 <adapt
                       type="org.eclipse.core.resources.IResource">
                    <test
                          forcePluginActivation="false"
                          property="org.eclipse.core.resources.name"
                          value="*.strl">
                    </test>
                 </adapt>
              </iterate>
           </visibleWhen>
        </command>
     </menuContribution>
  </extension-->
</plugin>
