<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.cau.de/cs/kieler/esterel/Esterel" 
       class = "de.cau.cs.kieler.esterel.EsterelPackage"
       genModel = "de/cau/cs/kieler/esterel/model/generated/Esterel.genmodel" />
    <package
          class="de.cau.cs.kieler.esterel.scest.ScestPackage"
          genModel="de/cau/cs/kieler/esterel/model/generated/SCEst.genmodel"
          uri="http://www.cau.de/cs/kieler/esterel/scest/SCEst">
    </package> 
	
  </extension>
  <extension
        point="de.cau.cs.kieler.kico.extension">
     <ExtensionInformation
           ePackageName="esterel"
           editor_id="de.cau.cs.kieler.esterel.Esterel"
           extensionName="strl"
           isXMI="false">
     </ExtensionInformation>
     <ExtensionInformation
           ePackageName="scest"
           editor_id="de.cau.cs.kieler.esterel.scest.SCEst"
           extensionName="scest"
           isXMI="false">
     </ExtensionInformation>
  </extension>
  <extension
        point="de.cau.cs.kieler.kico.feature">
     <featureClass
           class="de.cau.cs.kieler.esterel.features.Esterel">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.features.ToSCEstFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.features.SimulationVisualization">
     </featureClass>
     <featureGroupClass
           class="de.cau.cs.kieler.esterel.scest.featuregroups.SCEstGroup">
     </featureGroupClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.AbortFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.AwaitFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.BlockFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.DoFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.EmitFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.EsterelParallelFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.EveryDoFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.ExecFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.HaltFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.IfTestFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.LocalSignalDeclFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.LocalVariableFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.LoopFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.NothingFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.PresentFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.ProcCallFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.RepeatFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.RunFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.SetFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.SuspendFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.SustainFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.TrapFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.UnEmitFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.Initialization">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.OptimizationLabelRenaming">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.SignalFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.FunctionFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.SCLFeature">
     </featureClass>
     <featureGroupClass
           class="de.cau.cs.kieler.esterel.scest.featuregroups.SCEstControlFlowStatements">
     </featureGroupClass>
     <featureGroupClass
           class="de.cau.cs.kieler.esterel.scest.featuregroups.SCEstDataHandlingStatements">
     </featureGroupClass>
     <featureGroupClass
           class="de.cau.cs.kieler.esterel.scest.featuregroups.SCEstDerivedStatements">
     </featureGroupClass>
     <featureGroupClass
           class="de.cau.cs.kieler.esterel.scest.featuregroups.SCEstPreemptionStatements">
     </featureGroupClass>
     <featureGroupClass
           class="de.cau.cs.kieler.esterel.scest.featuregroups.SCEstSignalHandlingStatements">
     </featureGroupClass>
     <featureGroupClass
           class="de.cau.cs.kieler.esterel.scest.featuregroups.SCEstOptimization">
     </featureGroupClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.SensorFeature">
     </featureClass>
     <featureClass
           class="de.cau.cs.kieler.esterel.scest.features.ConstantFeature">
     </featureClass>
  </extension>
  <extension
        point="de.cau.cs.kieler.kicool.processor">
     <Processor
           class="de.cau.cs.kieler.esterel.processors.transformators.incremental.SCEstTransform">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.AbortTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.AwaitTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.BlockTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.ConstantTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.DoTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.EmitTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.EsterelParallelTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.EveryDoTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.ExecTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.FunctionTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.IfTestTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.InitializationTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.LocalSignalDeclTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.LocalVariableTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.NothingTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.OptimizationLabelRenamingTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.PresentTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.ProcCallTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.RepeatTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.RunTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.SCLTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.SensorTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.SetTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.SignalTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.SuspendTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.SustainTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.TrapTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.UnEmitTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.LoopTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.scest.transformations.HaltTransformation">
     </Processor>
  </extension>
  <extension
        point="de.cau.cs.kieler.kicool.system">
     <TransformationSystem
           system="system/de.cau.cs.kieler.esterel.scest.scl.kico">
     </TransformationSystem>
     <TransformationSystem
           system="system/de.cau.cs.kieler.esterel.scest.scl.netlist.kico">
     </TransformationSystem>
     <TransformationSystem
           system="system/de.cau.cs.kieler.esterel.scl.kico">
     </TransformationSystem>
     <TransformationSystem
           system="system/de.cau.cs.kieler.esterel.scl.netlist.kico">
     </TransformationSystem>
  </extension>
  <extension
        point="de.cau.cs.kieler.kicool.resource.extension">
     <ExtensionInformation
           ePackageName="esterel"
           editor_id="de.cau.cs.kieler.esterel.Esterel"
           extensionName="strl"
           isXMI="false">
     </ExtensionInformation>
     <ExtensionInformation
           ePackageName="scest"
           editor_id="de.cau.cs.kieler.esterel.scest.SCEst"
           extensionName="scest"
           isXMI="false">
     </ExtensionInformation>
  </extension>
  <extension
        point="de.cau.cs.kieler.kicool.processor">
     <Processor
           class="de.cau.cs.kieler.esterel.processors.scc.SCEstToSSCSCLTransformation">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.scl.processors.transformators.ssa.SSASCG2SSASCL">
     </Processor>
     <Processor
           class="de.cau.cs.kieler.esterel.processors.transformators.ssa.SSCEsterelReconstruction">
     </Processor>
  </extension>
  <!--extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:de.cau.cs.kieler">
        <command
              commandId="de.cau.cs.kieler.kies.basicTransformation"
              label="Esterel to SyncChart Transformation"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate>
                 <adapt
                       type="org.eclipse.core.resources.IResource">
                    <test
                          forcePluginActivation="false"
                          property="org.eclipse.core.resources.name"
                          value="*.strl">
                    </test>
                 </adapt>
              </iterate>
           </visibleWhen>
        </command>
     </menuContribution>
  </extension-->
</plugin>
