<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="gmfgen.application.application"
            name="gmfgen">
      </product>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="antTask.GMFCodeGenTask"
            library="/"
            name="kieler.genGMFdiagramCode">
      </antTask>
   </extension>
   <extension
         id="antRunner"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.cau.cs.kieler.emfHeadlessCodegen.application"
            name="antRunner">
      </product>
   </extension>

</plugin>
