<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated kexpressions -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.cau.cs.kieler.core.kexpressions.presentation.KExpressionsModelWizardID"
            name="%_UI_KExpressionsModelWizard_label"
            class="de.cau.cs.kieler.core.kexpressions.presentation.KExpressionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/KExpressionsModelFile.gif">
         <description>%_UI_KExpressionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated kexpressions -->
      <editor
            id="de.cau.cs.kieler.core.kexpressions.presentation.KExpressionsEditorID"
            name="%_UI_KExpressionsEditor_label"
            icon="icons/full/obj16/KExpressionsModelFile.gif"
            extensions="kexpr"
            class="de.cau.cs.kieler.core.kexpressions.presentation.KExpressionsEditor"
            contributorClass="de.cau.cs.kieler.core.kexpressions.presentation.KExpressionsActionBarContributor">
      </editor>
   </extension>

</plugin>
