<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.viewmanagement.triggers">
      <trigger
            class="de.cau.cs.kieler.uml2.viewmanagement.StateActivityTrigger"
            name="State Activity Trigger">
      </trigger>
   </extension>
   <extension
         point="de.cau.cs.kieler.viewmanagement.combination">
      <combination
            class="de.cau.cs.kieler.uml2.viewmanagement.ActiveStateHighlightCombination"
            name="Active State Highlight">
      </combination>
      <combination
            class="de.cau.cs.kieler.uml2.viewmanagement.ActiveStateFocusCombination"
            description="Collapses non-active states and shows only active in the focus."
            name="Active State Focus/Context">
      </combination>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.uml2.viewmanagement.StateActivityObserver"
            id="de.cau.cs.kieler.uml2.viewmanagement.stateactivity"
            name="Viewmanagement UML2 Visualizer">
      </content>
   </extension>

</plugin>
