<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.cau.cs.kieler.sccharts.klighd.hooks" name="Synthesis Hooks" schema="schema/hooks.exsd"/>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <action
            class="de.cau.cs.kieler.sccharts.klighd.actions.ReferenceExpandAction"
            id="de.cau.cs.kieler.sccharts.klighd.actions.ReferenceExpandAction">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.LabelShorteningHook"
            id="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.LabelShorteningHook">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.StateActionsHook"
            id="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.StateActionsHook">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.DeclarationsHook"
            id="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.DeclarationsHook">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.SCGDependencyHook"
            id="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.SCGDependencyHook">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.SCGLoopHook"
            id="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.SCGLoopHook">
      </action>
      <action
            class="de.cau.cs.kieler.sccharts.klighd.layout.labels.LabelMetaFocusAction"
            id="de.cau.cs.kieler.sccharts.klighd.layout.labels.LabelMetaFocusAction">
      </action>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.sccharts.klighd.synthesis.SCChartsSynthesis"
            id="de.cau.cs.kieler.sccharts.klighd.synthesis.SCChartsSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.sccharts.klighd.deprecated.ComparisonSynthesis"
            id="de.cau.cs.kieler.sccharts.klighd.ComparisonSynthesis">
      </diagramSynthesis>
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.sccharts.klighd.deprecated.SCChartsDiagramSynthesis"
            id="de.cau.cs.kieler.sccharts.klighd.DeprecatedSCChartsSynthesis">
      </diagramSynthesis>
   </extension>
   <extension
         point="de.cau.cs.kieler.sccharts.klighd.hooks">
      <hook
            class="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.DeclarationsHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.StateActionsHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.BlackWhiteModeHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.ShadowHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.SCGLoopHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.SCGDependencyHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.HideAnnotationHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.LabelShorteningHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.SynthesisAnnotationHook">
      </hook>
      <hook
            class="de.cau.cs.kieler.sccharts.klighd.synthesis.hooks.LayoutAnnotationHook">
      </hook>
   </extension>

</plugin>
