// Transformed model is not savable.
// See KISEMA-1031
@Transformation EXIT
scchart MultipleExitActions {
    input bool I;
    output bool O;
	
    initial state A{
      exit / O = false;
      exit / O = true;
      exit I / O = !O;
    }
    --> F;
    
    final state F;    
}