<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="de.cau.cs.kieler.sccharts.prio.s.genS"
               label="Generate S Code"
               mnemonic="S"
               style="push">
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="kixs">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.cau.cs.kieler.sccharts.prio.s.SGenerator"
            id="de.cau.cs.kieler.sccharts.prio.s.genS"
            name="genS">
      </command>
   </extension>
   <extension
         point="de.cau.cs.kieler.kico.transformation">
      <transformationMethod
            class="de.cau.cs.kieler.sccharts.prio.s.xtend.SCChartsPrio2S"
            id="SCCHARTSPRIO2S"
            method="transform"
            name="Prio S Code">
      </transformationMethod>
   </extension>

</plugin>
