scchart nested_abort_wwa {
  output signal pure O1;
  output signal pure O2;
  output signal pure O3;
  input signal pure I;
  signal pure W1;
  signal pure W2;

  region R0:

  initial state E {

    region R0:

    initial state C {

      region R0:

      initial state B {

        initial state BB
        --> BBB immediate / W1; O1;

        state BBB
        --> BB;
      };
    }
    --> D with W1 / O2; W2;

    state D;
  }
  --> F with I
  --> F with W2 / O3;

  state F;
}