scchart _48_suspend_immediate "48-suspend-immediate" {
  input signal pure S;
  input signal pure R;
  output signal pure O;
  output signal pure O2;

  initial state A {
    suspend S;

    initial state B
    --> C immediate / O;

    state C
    --> C / O;
  }
  --> A with R;

  region:

  initial state A2 {
    suspend S;

    initial state B2
    --> C2 immediate / O2;

    state C2
    --> C2 / O2;
  }
  --> A2 with R;
}