scchart _52_exit_actions_charles_andre_paper_excerpt_b_immediate
"52-exit-actions-charles-andre-paper-excerpt-b-immediate" {
  output signal pure Y2;
  input signal pure b;
  output signal pure X2;
  input signal pure S;
  input signal pure W;

  initial state M10 {

    initial state M2 {
      exit / Y2;
    }
    --> _ immediate with b / X2;

    state _;
  }
  o-> M10 with S
  --> M10 with W;
}