<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.synccharts.codegen.sc.SCGenerator"
            description="Generate SC code"
            id="de.cau.cs.kieler.synccharts.codegen.genSC"
            name="genSC">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:de.cau.cs.kieler">
         <command
               commandId="de.cau.cs.kieler.synccharts.codegen.genSC"
               label="Generate SC Code"
               style="push"
               tooltip="Generate SC code for the current SyncChart">
			<visibleWhen>
	         <iterate
                ifEmpty="false"
                operator="and">
    	        <adapt
        	          type="org.eclipse.core.resources.IFile">
            	   <test
            	   		 forcePluginActivation="true"
                	     property="org.eclipse.core.resources.extension"
                    	 value="kixs">
               	   </test>
            	</adapt>
         	</iterate>
          </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:de.cau.cs.kieler">
         <command
               commandId="de.cau.cs.kieler.synccharts.codegen.genSC"
               label="Generate SC code"
               mnemonic="generate SC code"
               style="push"
               tooltip="generate SC code for the current SyncChart">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeEditorId">
                  <equals
                        value="de.cau.cs.kieler.synccharts.diagram.part.SyncchartsDiagramEditorID">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
