<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.cau.cs.kieler.core.perspectives.ModelingPerspective"
            icon="icons/foerde-logo-16.gif"
            id="de.cau.cs.kieler.Modeling"
            name="SCCharts Modeling">
      </perspective>
      <perspective
            class="de.cau.cs.kieler.core.perspectives.SimulationPerspective"
            icon="icons/foerde-logo-16.gif"
            id="de.cau.cs.kieler.simulation"
            name="SCCharts Simulation">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.cau.cs.kieler.Modeling">
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="de.cau.cs.kieler.kico.selection">
         </view>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <view
               id="de.cau.cs.kieler.klighd.ui.view.diagram:*"
               minimized="false"
               relationship="right"
               ratio="0.5"
               relative="de.cau.cs.kieler.klighd.ui.view.diagram"
               visible="false"
         >
         </view>
         <viewShortcut
               id="de.cau.cs.kieler.kico.selection">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.file">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="de.cau.cs.kieler.simulation">
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="de.cau.cs.kieler.kico.selection">
         </view>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <view
               id="de.cau.cs.kieler.klighd.ui.view.diagram:*"
               minimized="false"
               ratio="0.5"
               relationship="right"
               relative="de.cau.cs.kieler.klighd.ui.view.diagram"
               visible="false">
         </view>
         <viewShortcut
               id="de.cau.cs.kieler.kico.selection">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.file">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="org.eclipse.ui.wizards.new.project">
         <enablement>
            <not>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IFolder">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
               </or>
            </not>
         </enablement>
      </commonWizard>
   </extension>
  
</plugin>
