<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
      <view
            allowMultiple="false"
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.xkev.views.KevView"
            icon="icons/view/kieler.png"
            id="de.cau.cs.kieler.xkev.views.KevView"
            name="KEV View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.xkev.extension.dataobserver.KEVDataObserver"
            id="de.cau.cs.kieler.xkev.extension.DataObserver"
            name="KEV Data Observer">
      </content>
   </extension>
   <extension
         id="de.cau.cs.kieler.xkev.extension.DataObserverBackhoe"
         name="Example (Backhoe)"
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.xkev.extension.dataobserver.Backhoe"
            id="ede.cau.cs.kieler.xkev.extension.DataObserverBackhoe"
            name="XKEV Backhoe Visualization">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.xkev.extension.dataobserver.KEVExampleDataProducer"
            id="de.cau.cs.kieler.xkev.extension.DataObserverExample"
            name="KEV Example Data Producer">
      </content>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.xkev.extension.dataobserver.Elevator"
            id="ede.cau.cs.kieler.xkev.extension.DataObserverElevator"
            name="XKEV Elevator Simulation">
      </content>
   </extension>

</plugin>
