<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>








   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated KEXT -->
      <package
            uri="http://kieler.cs.cau.de/kext/kext"
            class="de.cau.cs.kieler.core.kexpressions.text.kext.KextPackage"
            genModel="model/KEXT.genmodel"/>
   </extension>

</plugin>
