<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="de.cau.cs.kieler.synccharts.dsl.kits.menu.initXMI"
            nameFilter="*kits"
            objectClass="org.eclipse.core.resources.IFile">
            <action
                  class="de.cau.cs.kieler.synccharts.textual.menu.actions.InitializeXMIResource"
                  enablesFor="1"
                  icon="icons/kiel.ico"
                  id="de.cau.cs.kieler.synccharts.dsl.kits.menu.initxmiaction1"
                  label="Initialize XMI resource"
                  menubarPath="additions"
                  tooltip="Creates an XMI file from the KITS (Xtext) file">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="de.cau.cs.kieler.synccharts.dsl.kits.menu.initXtext"
            nameFilter="*kixs"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="de.cau.cs.kieler.synccharts.textual.menu.actions.InitializeXtextResource"
               enablesFor="1"
               icon="icons/kiel.ico"
               id="de.cau.cs.kieler.synccharts.dsl.kits.menu.initXtextAction1"
               label="Initialize KITS resource"
               menubarPath="additions"
               tooltip="Creates a KITS (Xtext) file from an XMI file">
         </action>
      </objectContribution>
   </extension>

</plugin>
