<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.comparison.compiler">
      <compilerClass
            class="de.cau.cs.kieler.comparison.compilers.kico.KiCoSCCharts2C">
      </compilerClass>
      <compilerClass
            class="de.cau.cs.kieler.comparison.compilers.kico.KiCoSCCharts2Java">
      </compilerClass>
      <compilerClass
            class="de.cau.cs.kieler.comparison.compilers.cec.CEC2C">
      </compilerClass>
   </extension>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.comparison.compilers.kico.KiCoSCTExecutionSimulator"
            id="de.cau.cs.kieler.comparison.compilers.content1"
            name="de.cau.cs.kieler.comparison.compilers.content1">
      </content>
   </extension>

</plugin>
