<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.comparison.compiler">
      <compilerClass
            class="de.cau.cs.kieler.comparison.compilers.kico.KiCo2C">
      </compilerClass>
      <compilerClass
            class="de.cau.cs.kieler.comparison.compilers.kico.KiCo2Java">
      </compilerClass>
      <compilerClass
            class="de.cau.cs.kieler.comparison.compilers.cec.CEC2C">
      </compilerClass>
   </extension>

</plugin>
