@diagram[KLayLayered] false  
@VHLayout  
scchart EntryAction {
  input bool T1; 
  output bool Ae2a = false, Ae2b = false;
  
  initial state S1
  --> S2;
  
  state S2 {
    entry / Ae2a = true;
    entry T1 / Ae2b = true;
  }
  --> S3;
  
  state S3;
}