@diagram[KLayLayered] false  
@VHLayout  
scchart EntryAction {
  input bool T1;
  output bool Ae2a, Ae2b;
  
  initial state S1
  --> S2;
  
  state S2 {
    entry / Ae2a = true;
    entry T1 / Ae2b = true;
    
    region R1:

    initial state S41
    --> S42;

    final state S42;

    region R2:

    initial state S43
    --> S44;

    final state S44;
  }
  >-> S3;

  state S3;
}