<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="kidsexp"
            id="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp"
            name="Kidsexp Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp.validate">
         <activeWhen>
            <reference
                    definitionId="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp"
            name="Kidsexp">
            <keywordReference id="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.keyword_Kidsexp"/>
        </page>
        <page
            category="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp"
            class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp.coloring"
            name="Syntax Coloring">
            <keywordReference id="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.keyword_Kidsexp"/>
        </page>
        <page
            category="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp"
            class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp.templates"
            name="Templates">
            <keywordReference id="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.keyword_Kidsexp"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp"
            name="Kidsexp">
            <keywordReference id="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.keyword_Kidsexp"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.keyword_Kidsexp"
            label="Kidsexp"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="kidsexp">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="kidsexp">
        </resourceServiceProvider>
    </extension>


    <!-- marker definitions for de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp -->
    <extension
            id="kidsexp.check.fast"
            name="Kidsexp Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="kidsexp.check.normal"
            name="Kidsexp Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="kidsexp.check.expensive"
            name="Kidsexp Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp"
            class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.keyword_Kidsexp"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp"
            class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.keyword_Kidsexp"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for de.cau.kieler.synccharts.yakindu.model.reqtext.Kidsexp -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.kidsexp.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.kidsexp.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.KidsexpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="de.cau.kieler.synccharts.yakindu.model.reqtext.ui.kidsexp.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>

</plugin>
