<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.cau.cs.kieler"
               label="KIELER"
               mnemonic="K">
            <separator
                  name="de.cau.cs.kieler.core.ui.separator2"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.cau.cs.kieler"
               label="KIELER">
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="de.cau.cs.kieler"
               label="KIELER"
               mnemonic="K">
            <separator
                  name="de.cau.cs.kieler.core.ui.separator1"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.cau.cs.kieler.core.ui.preferences.KielerPreferencePage"
            id="de.cau.cs.kieler"
            name="KIELER">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%commands"
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.cau.cs.kieler.expression.editorActive">
         <with
               variable="activePart">
            <instanceof
                  value="org.eclipse.ui.IEditorPart">
            </instanceof>
         </with>
      </definition>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="%productDescription"
            name="KIELER">
         <property
               name="aboutText"
               value="KIELER - a research project on enhancing the model-based design of complex systems.&#x0A;&#x0A;http://www.informatik.uni-kiel.de/rtsys/kieler/&#x0A;&#x0A;Copyright 2010 by Christian-Albrechts-University of Kiel, Department of Computer Science, Real-Time and Embedded Systems Group.">
         </property>
         <property
               name="aboutImage"
               value="images/about.png">
         </property>
         <property
               name="appName"
               value="KIELER">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/kiel_16.gif,icons/kiel_32.gif,icons/kiel_48.gif,icons/kiel_64.gif,icons/kiel_128.gif">
         </property>
         <property
               name="introTitle"
               value="KIELER - Kiel Integrated Environment for Layout Eclipse Rich Client">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/kiel_64.gif">
         </property>
         <property
               name="introBrandingImageText"
               value="KIELER by Christian-Albrechts-Universität zu Kiel">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="version"
               value="0.6.0">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="de.cau.cs.kieler.core.ui.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/introContent.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.cau.cs.kieler.core.ui.ModelingPerspective"
            icon="icons/kiel_16.gif"
            id="de.cau.cs.kieler.Modeling"
            name="KIELER Modeling">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.statusHandlers">
      <statusHandlerProductBinding
            handlerId="de.cau.cs.kieler.core.ui.statusHandler"
            productId="de.cau.cs.kieler.core.ui.product">
      </statusHandlerProductBinding>
      <statusHandler
            class="de.cau.cs.kieler.core.ui.errorhandler.GenericErrorHandler"
            id="de.cau.cs.kieler.core.ui.statusHandler">
      </statusHandler>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="org.eclipse.ui.wizards.new.project">
         <enablement>
            <not>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IFolder">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
               </or>
            </not>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
   </extension>

   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="de.cau.cs.kieler.core.ui.splash.KielerSplashHandler"
            id="de.cau.cs.kieler.core.ui.splash.extensible">
      </splashHandler>
      <splashHandlerProductBinding
            productId="de.cau.cs.kieler.core.ui.product"
            splashId="de.cau.cs.kieler.core.ui.splash.extensible">
      </splashHandlerProductBinding>
   </extension>
 <!--  <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="help/introContent.xml"
            id="de.cau.cs.kieler.intro.config"
            introId="org.eclipse.ui.intro.universal">
         <presentation
               home-page-id="root">
         </presentation>
      </config>
   </extension>
-->
</plugin>
