<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.cau.cs.kieler"
               label="KIELER"
               mnemonic="K">
            <separator
                  name="de.cau.cs.kieler.core.ui.separator2"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.cau.cs.kieler"
               label="KIELER">
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="de.cau.cs.kieler"
               label="KIELER"
               mnemonic="K">
            <separator
                  name="de.cau.cs.kieler.core.ui.separator1"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.cau.cs.kieler.core.ui.preferences.KielerPreferencePage"
            id="de.cau.cs.kieler"
            name="KIELER">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%commands"
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.cau.cs.kieler.expression.editorActive">
         <with
               variable="activePart">
            <instanceof
                  value="org.eclipse.ui.IEditorPart">
            </instanceof>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="de.cau.cs.kieler.core.product.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/introContent.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.cau.cs.kieler.core.ui.ModelingPerspective"
            icon="icons/kieler_16.gif"
            id="de.cau.cs.kieler.Modeling"
            name="KIELER Modeling">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.statusHandlers">
      <statusHandlerProductBinding
            handlerId="de.cau.cs.kieler.core.ui.statusHandler"
            productId="de.cau.cs.kieler.core.product.product">
      </statusHandlerProductBinding>
      <statusHandler
            class="de.cau.cs.kieler.core.ui.errorhandler.GenericErrorHandler"
            id="de.cau.cs.kieler.core.ui.statusHandler">
      </statusHandler>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="org.eclipse.ui.wizards.new.project">
         <enablement>
            <not>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IFolder">
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
               </or>
            </not>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.cau.cs.kieler.core.ui.util.CombinedWorkbenchListener">
      </startup>
   </extension>

 <!--  <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="help/introContent.xml"
            id="de.cau.cs.kieler.intro.config"
            introId="org.eclipse.ui.intro.universal">
         <presentation
               home-page-id="root">
         </presentation>
      </config>
   </extension>
-->
</plugin>
