<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.cau.cs.kieler"
               label="KIELER"
               mnemonic="K">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.cau.cs.kieler">
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="de.cau.cs.kieler"
               label="KIELER"
               mnemonic="K">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.cau.cs.kieler.core.ui.preferences.KielerPreferencePage"
            id="de.cau.cs.kieler"
            name="KIELER">
      </page>
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.intro.universal.ExtensionFactory:welcomeCustomization"
            id="com.example.intro.introCustomization"
            name="%introCustomizationPreference.name">
            <keywordReference id="org.eclipse.ui.ide.appearance"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%commands"
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
      <command
            categoryId="de.cau.cs.kieler"
            defaultHandler="de.cau.cs.kieler.core.ui.handler.ZoomToFitHandler"
            description="Zoom so that the content fits the whole canvas"
            id="de.cau.cs.kieler.core.ui.command.zoom"
            name="Zoom to fit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.cau.cs.kieler"
            name="KIELER">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.cau.cs.kieler.expression.gmfDiagram">
         <with
               variable="activeEditor">
            <instanceof
                  value="org.eclipse.gmf.runtime.diagram.ui.resources.editor.parts.DiagramDocumentEditor">
            </instanceof>
         </with>
      </definition>
      <definition
            id="de.cau.cs.kieler.expression.editorActive">
         <with
               variable="activePart">
            <instanceof
                  value="org.eclipse.ui.IEditorPart">
            </instanceof>
         </with>
      </definition>
      <definition
            id="de.cau.cs.kieler.expression.onlyConnectionsSelected">
         <iterate
               ifEmpty="false"
               operator="and">
            <instanceof
                  value="org.eclipse.gmf.runtime.diagram.ui.editparts.ConnectionEditPart">
            </instanceof>
         </iterate>
      </definition>
      <definition
            id="de.cau.cs.kieler.expression.diagramSelected">
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               </instanceof>
            </iterate>
         </and>
      </definition>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="%productDescription"
            name="KIELER">
         <property
               name="aboutText"
               value="KIELER - a research project on enhancing the model-based design of complex systems.&#x0A;&#x0A;http://www.informatik.uni-kiel.de/rtsys/kieler/&#x0A;&#x0A;Copyright 2009 by Christian-Albrechts-University of Kiel, Department of Computer Science, Real-Time and Embedded Systems Group.">
         </property>
         <property
               name="aboutImage"
               value="images/about.png">
         </property>
         <property
               name="appName"
               value="KIELER">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="10,287,480,20">
         </property>
         <property
               name="startupProgressRect"
               value="10,310,480,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/kiel_16.gif,icons/kiel_32.gif,icons/kiel_48.gif,icons/kiel_64.gif,icons/kiel_128.gif">
         </property>
         <property
               name="introTitle"
               value="KIELER - Kiel Integrated Environment for Layout Eclipse Rich Client">
         </property>
         <property
               name="introBrandingImage"
               value="product:icons/kiel_64.gif">
         </property>
         <property
               name="introBrandingImageText"
               value="KIELER by Christian-Albrechts-Universität zu Kiel">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="de.cau.cs.kieler.core.ui.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="help/introContent.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.cau.cs.kieler.core.ui.command.zoom"
            contextId="org.eclipse.gmf.runtime.diagram.ui.diagramContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+K Z">
      </key>
   </extension>
 <!--  <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="help/introContent.xml"
            id="de.cau.cs.kieler.intro.config"
            introId="org.eclipse.ui.intro.universal">
         <presentation
               home-page-id="root">
         </presentation>
      </config>
   </extension>
-->
</plugin>
