<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="de.cau.cs.kieler.krep.editors.klp.ui.KlpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="klp"
            id="de.cau.cs.kieler.krep.editors.klp.Klp"
            name="Klp Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="de.cau.cs.kieler.krep.editors.klp.ui.KlpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="de.cau.cs.kieler.krep.editors.klp.Klp.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="de.cau.cs.kieler.krep.editors.klp.ui.KlpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="de.cau.cs.kieler.krep.editors.klp.Klp.validate">
         <activeWhen>
            <reference
                    definitionId="de.cau.cs.kieler.krep.editors.klp.Klp.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="de.cau.cs.kieler.krep.editors.klp.Klp.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="de.cau.cs.kieler.krep.editors.klp.Klp" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="de.cau.cs.kieler.krep.editors.klp.ui.KlpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="de.cau.cs.kieler.krep.editors.klp.Klp"
            name="Klp">
            <keywordReference id="de.cau.cs.kieler.krep.editors.klp.ui.keyword_Klp"/>
        </page>
        <page
            category="de.cau.cs.kieler.krep.editors.klp.Klp"
            class="de.cau.cs.kieler.krep.editors.klp.ui.KlpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="de.cau.cs.kieler.krep.editors.klp.Klp.coloring"
            name="Syntax Coloring">
            <keywordReference id="de.cau.cs.kieler.krep.editors.klp.ui.keyword_Klp"/>
        </page>
        <page
            category="de.cau.cs.kieler.krep.editors.klp.Klp"
            class="de.cau.cs.kieler.krep.editors.klp.ui.KlpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="de.cau.cs.kieler.krep.editors.klp.Klp.templates"
            name="Templates">
            <keywordReference id="de.cau.cs.kieler.krep.editors.klp.ui.keyword_Klp"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="de.cau.cs.kieler.krep.editors.klp.ui.keyword_Klp"
            label="Klp"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="de.cau.cs.kieler.krep.editors.klp.Klp.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="de.cau.cs.kieler.krep.editors.klp.Klp.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="de.cau.cs.kieler.krep.editors.klp.Klp.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="de.cau.cs.kieler.krep.editors.klp.Klp.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="de.cau.cs.kieler.krep.editors.klp.ui.KlpExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="de.cau.cs.kieler.krep.editors.klp.Klp.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="de.cau.cs.kieler.krep.editors.klp.ui.KlpExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="klp">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="de.cau.cs.kieler.krep.editors.klp.ui.KlpExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="klp">
        </resourceServiceProvider>
    </extension>




</plugin>
