<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.kvid.dataprovider.KiemDataProvider"
            id="de.cau.cs.kieler.kvid.KIEMDataProvider"
            name="KViDDataProvider">
      </content>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.kvid.views.KvidView"
            icon="icons/kieler.png"
            id="de.cau.cs.kieler.kvid.KViDView"
            name="Visualization"
            restorable="true">
      </view>
   </extension>
   <extension
         id="de.cau.cs.kieler.kvid.elementTypes"
         name="KViDElementTypes"
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <elementTypeFactory
            factory="org.eclipse.gmf.runtime.diagram.ui.internal.type.NotationTypeFactory"
            kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"
            params="semanticHint">
      </elementTypeFactory>
      <specializationType
            icon="icons/datanode.gif"
            id="de.cau.cs.kieler.kvid.visual.complex.datanode"
            kind="org.eclipse.gmf.runtime.diagram.ui.util.INotationType"
            name="%DataNode.Label">
         <param
               name="semanticHint"
               value="DataNode">
         </param>
         <specializes
               id="org.eclipse.gmf.runtime.emf.type.core.null">
         </specializes>
      </specializationType>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider
            class="de.cau.cs.kieler.kvid.visual.complex.DataDisplayViewProvider">
         <Priority
               name="Lowest">
         </Priority>
         <context
               semanticHints="DataNode"
               viewClass="org.eclipse.gmf.runtime.notation.Node">
         </context>
      </viewProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="de.cau.cs.kieler.kvid.visual.complex.DataDisplayEditPartProvider">
         <Priority
               name="Lowest">
         </Priority>
      </editpartProvider>
   </extension>

</plugin>
