<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.sim.kiem.json.datacomponent">
      <content
            class="de.cau.cs.kieler.kvid.dataprovider.KIEMDataProvider"
            id="de.cau.cs.kieler.kvid.KIEMDataProvider"
            name="KViDDataProvider">
      </content>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.cau.cs.kieler"
            class="de.cau.cs.kieler.kvid.views.KViDView"
            icon="icons/kieler.png"
            id="de.cau.cs.kieler.kvid.KViDView"
            name="Visualization"
            restorable="true">
      </view>
   </extension>

</plugin>
