<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
       <combination
            class="de.cau.cs.kieler.yakindu.sccharts.kivi.LayoutAfterModelChangedCombination"
            description="Performs automatic layout after the model has been changed, e.g. a String label has been changed or a compartment has been collapsed or expanded."
            name="SCCharts Layout After Model Changed"
            active="true">
      </combination>
       <combination
             active="true"
             class="de.cau.cs.kieler.yakindu.sccharts.kivi.TransitionPriorityCombination"
             description="Tries to make the transition priorities consistent and hides unnecessary transitions priorities"
             name="SCCharts Transition Priority Fix">
       </combination>
      <!--<combination
            active="true"
            class="de.cau.cs.kieler.yakindu.sccharts.kivi.GenerateDefaultCombination"
            description="Adds a default state and region to any empty SCCharts."
            name="SCCharts Add Default State to Empty Diagrams">
      </combination>-->
   </extension>
</plugin>
