<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            active="true"
            class="de.cau.cs.kieler.sim.kiem.ui.datacomponent.kivi.KIEMModelSelectionCombination"
            description="Provides Simulators with the currently Active and Opened Model Files"
            name="KIEM Model Selection">
      </combination>
   </extension>

</plugin>
