<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.layoutPostProcessors">
      <styleModifier
            class="de.cau.cs.kieler.synccharts.klighd.RegionLineModifier"
            id="de.cau.cs.kieler.synccharts.klighd.regionLineModifier">
      </styleModifier>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.modelTransformations">
      <transformation
            class="de.cau.cs.kieler.klighd/de.cau.cs.kieler.klighd.transformations.GuiceBasedTransformationFactory:de.cau.cs.kieler.synccharts.klighd.SyncChartsDiagramSynthesis"
            id="de.cau.cs.kieler.synccharts.klighd.diagramSynthese">
      </transformation>
   </extension>
   <extension
         point="de.cau.cs.kieler.core.kivi.combinations">
      <combination
            active="false"
            class="de.cau.cs.kieler.synccharts.klighd.SyncChartsShowDiagramCombination"
            name="Show SyncCharts Diagrams with KLighD">
      </combination>
   </extension>

</plugin>
