<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.cau.cs.kieler.synccharts.presentation.SyncchartsModelWizardID"
            name="%_UI_SyncchartsModelWizard_label"
            class="de.cau.cs.kieler.synccharts.presentation.SyncchartsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SyncchartsModelFile.gif">
         <description>%_UI_SyncchartsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="de.cau.cs.kieler.synccharts.presentation.SyncchartsEditorID"
            name="%_UI_SyncchartsEditor_label"
            icon="icons/full/obj16/SyncchartsModelFile.gif"
            extensions="synccharts"
            class="de.cau.cs.kieler.synccharts.presentation.SyncchartsEditor"
            contributorClass="de.cau.cs.kieler.synccharts.presentation.SyncchartsActionBarContributor">
      </editor>
   </extension>

</plugin>
