scchart reincarnation {
  input signal pure A;
  signal pure gotS;

  region R0:

  initial state Reincarnation {
    signal pure S;

    region R0:

    initial state I
    --> C1 immediate;

    state p;

    final state r;

    state q
    --> r with A / S;

    state C1
    --> p immediate with S / gotS
    --> q immediate;
  }
  >-> Reincarnation;
}